{% extends "base.html" %}
{% load markdownify %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block content %}
<div id="page"  class="postPage">

<div class="row">
  <div class="large-12 columns">

    {% for notification in notifications %}
      <div class="comment-box"> <!-- Open Comment Box  -->    
	  {% if notification.notification_type == "upvote" %}
	  <!-- Upvote -->
	  <div class="comment-header">
	    <i class="fi-arrow-up"></i>
	    <a href="/@{{notification.from_user.username}}"
	       class="black bold">{{notification.from_user.username}}</a>
	    upvoted your
	    <a href="{{notification.post.get_absolute_url}}" class="black bold">post</a>
	  </div>
	  {% elif notification.notification_type == "subscriber" %}
	  <!-- New Subscriber -->
	  <div class="comment-header">
	    <i class="fi-torsos-all stats-icon"></i>
	    <a href="/@{{notification.from_user.username}}"
	       class="black bold">{{notification.from_user.username}}</a>	  
	    is now following you!
	  </div>
	  {% elif notification.notification_type == "reply" %}
	  <!-- Reply -->
	  <div class="comment-header">
	    <i class="fi-comment" style="font-size:22px;"></i>
	    <a href="/@{{notification.from_user.username}}"
	       class="black bold">{{notification.from_user.username}}</a>
	    has
	    <a class="bold black" href="{{notification.post.get_absolute_url}}"> replied </a>
	    to your post
	  </div>
	  {% elif notification.notification_type == "repost" %}
	  <!-- Repost -->
	  <div class="comment-header">
	    <i class="fi-comment" style="font-size:22px;"></i>
	    <a href="/@{{notification.from_user.username}}"
	       class="black bold">{{notification.from_user.username}}</a>
	    has reposted your
	    <a class="bold black" href="{{notification.post.get_absolute_url}}"> post </a>

	  </div>
	  {% endif %}
      </div>
    {% endfor %}

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End page -->

<style>
  .comment-box{
  margin:20px 0;
  padding: 10px 10px 10px 10px;
  }
</style>
{% endblock content %}

