{% load staticfiles %}
{% load markdownify %}

<div>
<article style="padding:20px;    background: rgba(255,255,255,0.5);//#fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.04);
		border: 1px solid rgba(0,0,0,.09);
		border-radius: 3px;
		padding-bottom:0;" id="{{post.slug}}">

  {% if post.parent %}
  <a href="{{post.parent.get_absolute_url}}">
    <div class="panel parent-panel" style="padding:10px;">
      {{post.parent.body|markdownify:"True" | truncatechars:140 |safe}}
    </div>
  </a>
  {% endif %}

  {% if post.repost %}
  <!-- Repost -->
    {% if postpage %}
      {{post.repost.body | markdownify:"False" | safe  }} <!-- firstparagraph -->
    {% else %}  
      {{post.repost.body | markdownify:"True" | safe  }} <!-- firstparagraph -->
    {% endif %}  
  {% else %}  
  <!-- Post Body -->
    {% if postpage %}
      {{post.body | markdownify:"False" | safe  }} <!-- firstparagraph -->
    {% else %}  
      {{post.body | markdownify:"True" | safe  }} <!-- firstparagraph -->
    {% endif %}  
  {% endif %}  
  <div class="clearfix"></div>
  <!-- Post Footer -->
  <br/>
  {% include "elements/post-footer.html" %}
  <div class="clearfix"></div>
</article>
<div class="reply-editor">
  {% include "posts/editor.html" %}
</div>
</div>
