{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}
{% load firstparagraph %}

{% block content %}



<style>
  hr {
    margin-bottom: 10px;
  }
  .posts-page .post-header h1 {
    font-size: 32px;
  }


  #search-hubs .hub-tag {
  padding:10px;
  margin:20px 0;
  }

  #search-hubs .hub-tag i{
  cursor:pointer;
  }    
.second-lvl .hub-tag {
display:block;
}

.sidebar .hub-tag {
  background: rgba(119, 119, 119, 0.1);
}

.sidebar .hub-tag .number-of-stories {
position: absolute;
right: 48px;
line-height: 30px;
margin-top: 6px;
}
  
.children {
padding: 0px;
  }

.posts .hub-tag {
display:block;
float:left;
margin-right: 5px;
}  
.second-lvl .hub-tag {
display:block;
}

.sidebar .hub-tag {
  background: rgba(119, 119, 119, 0.1);
}

.sidebar .hub-tag .number-of-stories {
position: absolute;
right: 48px;
line-height: 30px;
margin-top: 6px;
}
  
.children {
padding: 0px;
}

</style>


<div id="page"  class="posts-page">



  
<div class="row">

  <div class="large-4 small-12 columns sidebar"> <!-- style="display:none;" -->
  {% include "elements/sidebar.html" %}  
  </div>

  <div class="large-8 small-12 columns posts">
    {% if request.path == "/" and user.is_authenticated %}    
    {% include "posts/editor.html" %}
    {% elif hub %}
    {% include "posts/subnav-browse.html" %}    
    {% include "posts/editor.html" %}    
    {% else %}        
    {% include "posts/subnav-browse.html" %}
    {% endif %}        

    {% for post in posts %}
    {% if not post.author.shadowban or post.author == user %}    
    {% include "posts/article.html" %}
    {% endif %}
    {% endfor %}

    {% if not posts %}
    {% include "posts/welcome-post.html" %}  
    {% endif %}
    <!-- Pagination -->
    {% include "elements/pagination.html" %}
</div> <!-- End 8 columns -->



</div>	 <!-- End row -->
</div>	 <!-- end page -->

<div class="clearfix"></div>


{% endblock content %}

