    <!-- Editor -->
    
    <style>
      .CodeMirror, .CodeMirror-scroll {
      height: 100px;            
      min-height: 100px!important;      
      }

      .editor-statusbar {
      display:none;
      }
#id_hubs {
width: calc(100% - 72px);
float:left;
visibility:hidden;
}
      
    </style>
    <form action="/post/create" method="post">{% csrf_token %}
      <div class="editor">
	<textarea style="height:100px;" name="body" placeholder="Write here..."></textarea>
      </div>
      <div class="panel" style="padding:2px;
				margin:0;
				margin-top: -2px;
				height: 41px;">
	<div class="hub-selector">
	  {{form.hubs}}
	</div>
	<!-- 
	<input type="text"
	       name="hubs"
	       style="float: left;
		      width: calc(100% - 120px);
		      padding: 0 10px;
		      height: 35px;
		      margin:0;"
	       id="hub-selector"
	       placeholder="#startups #technology">
	-->
	<!-- 
	<div style="
		    margin: 3px 8px;
		    float: left;">
	  412
	</div>
	-->
    </form>      

    <button class="button small right" type="submit" id="savebutton"
	      style="height:40px;border-radius:0;
		     background-color:#3D455B;
		     padding:10px 20px;
		     margin:-3px;">Post</button>
    <div class="clearfix"></div>
    </div>    
    <!-- Editor -->

      


