@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:200");
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700");
/* For code */
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");
@import url("http://fonts.googleapis.com/css?family=Kameron");
@import url("http://fonts.googleapis.com/css?family=Lato:200,300,400");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro");
/* General */
/* line 19, ../sass/style.scss */
* {
  font-family: "Titillium Web";
  font-family: 'Open Sans', sans-serif;
  color: #3d454b;
}

/* line 25, ../sass/style.scss */
html {
  font-size: 19px;
}

/* line 29, ../sass/style.scss */
.row {
  max-width: 64em;
}

/* line 33, ../sass/style.scss */
a {
  color: #f76300;
}

/* line 37, ../sass/style.scss */
h1, h2, h3, h4 {
  /* font-family: Lato; */
  font-weight: normal;
  color: #3d454b;
}

/* line 43, ../sass/style.scss */
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 50, ../sass/style.scss */
h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 56, ../sass/style.scss */
h3 {
  font-size: 26px;
  margin: 10px 0 2px 0;
}

/* line 61, ../sass/style.scss */
h4 {
  font-size: 21px;
  margin-top: 10px;
  color: black;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 69, ../sass/style.scss */
hr {
  margin-top: 0;
}

/* line 74, ../sass/style.scss */
blockquote, blockquote p {
  line-height: 1.6;
  color: #6F6F6F;
  font-weight: normal;
}

/* line 80, ../sass/style.scss */
blockquote strong {
  color: #6F6F6F;
}

/* line 90, ../sass/style.scss */
#page li {
  margin-top: 10px;
}

/* line 94, ../sass/style.scss */
li p {
  margin: 0px;
}

/* Helpers */
/* line 100, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 104, ../sass/style.scss */
.italic {
  font-style: italic;
}

/* line 107, ../sass/style.scss */
.right {
  float: right;
}

/* line 111, ../sass/style.scss */
.left {
  float: left;
}

/* line 115, ../sass/style.scss */
.black {
  color: #3d454b;
}

/* line 118, ../sass/style.scss */
.gray {
  background: gray !important;
}

/* line 122, ../sass/style.scss */
.margins-10 {
  margin: 10px;
}

/* line 126, ../sass/style.scss */
.margins-20 {
  margin: 20px;
}

/* line 130, ../sass/style.scss */
.margins-side-20 {
  margin: 0 20px;
}

/* line 134, ../sass/style.scss */
.padding-10 {
  padding: 20px;
}

/* line 138, ../sass/style.scss */
.padding-20 {
  padding: 20px;
}

/* line 142, ../sass/style.scss */
.grey {
  color: #bbbbbb;
}

/* Elements */
/* Elements */
/* line 148, ../sass/style.scss */
.button {
  background-color: #f76301;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px #d05301;
}

/* line 155, ../sass/style.scss */
.button:hover {
  background-color: #f76301;
  box-shadow: 0 4px #d05301;
  position: relative;
  top: 1px;
}

/* line 162, ../sass/style.scss */
.button.small {
  background-color: #f76300;
  box-shadow: none;
  /* font-family: Lato; */
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

/* line 172, ../sass/style.scss */
.button.small:hover {
  background-color: #f76300;
  box-shadow: none;
  /* font-family: Lato; */
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  top: 0px;
}

/* Header */
/* line 185, ../sass/style.scss */
#orange-line {
  background-color: #f66303;
  height: 4px;
  width: 100%;
}

/* line 192, ../sass/style.scss */
header {
  height: 130;
  padding: 40px;
  padding-bottom: 20px;
}

/* Logo */
/* line 199, ../sass/style.scss */
.logo {
  font-family: "Titillium Web";
  color: #3d454b;
  font-size: 36px;
}

/* line 205, ../sass/style.scss */
.logo img {
  width: 50px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
}

/* line 212, ../sass/style.scss */
.logo:hover {
  color: #3d454b;
}

/* Main menu */
/* line 219, ../sass/style.scss */
#mainMenu {
  margin-top: 10px;
  /* font-family: "Titillium Web"; */
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  text-align: right;
}

/* line 228, ../sass/style.scss */
#mainMenu a {
  color: black;
}

/* line 232, ../sass/style.scss */
.selected a {
  color: #f76300;
}

/* line 236, ../sass/style.scss */
#mainMenu ul {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
}

/* line 243, ../sass/style.scss */
#hubs-dropdown ul {
  margin-bottom: 0;
}

/* line 247, ../sass/style.scss */
.dropdown-subitems {
  list-style-type: none !important;
}

/* line 251, ../sass/style.scss */
.dropdown-subitems a {
  text-transform: none !important;
}

/* line 255, ../sass/style.scss */
.avatar-icon {
  width: 40px;
  border-radius: 8px;
  margin-top: -4px;
  /* border: 4px solid rgb(246, 99, 3)   */
}

/* ================ Subnav ================ */
/* line 264, ../sass/style.scss */
.subnav {
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.02);
}

/* line 270, ../sass/style.scss */
.subnav a, .subnav span {
  color: #bbbbbb;
  margin-bottom: -1px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
}

/* line 280, ../sass/style.scss */
.rank-types .bold {
  font-weight: bold;
  color: #3d454b;
}

/* line 285, ../sass/style.scss */
.subnav .challenge-title {
  font-weight: bold;
  color: #3d454b;
  text-transform: none;
}

/* ================ User Profile ================ */
/* Subnav */
/* line 292, ../sass/style.scss */
.userkarma {
  background: rgba(119, 119, 119, 0.2);
  padding: 4px;
  border-radius: 4px;
}

/* line 299, ../sass/style.scss */
.logout {
  width: 20px;
  float: right;
  margin: 14px;
  opacity: 0.4;
}

/* line 306, ../sass/style.scss */
.profile .button.small {
  /* float: right; */
}

/* line 310, ../sass/style.scss */
.profie .subnav {
  text-align: center;
}

/* line 314, ../sass/style.scss */
.userdata {
  margin-bottom: 0;
}

/* line 318, ../sass/style.scss */
.usersubscribe {
  text-transform: none !important;
  /* Why do I need important here? */
}

/* line 322, ../sass/style.scss */
.unsubscribe {
  background: rgba(187, 187, 187, 0.8) !important;
}

/* line 325, ../sass/style.scss */
.subscribers {
  background: white;
  padding: 4px;
  border-radius: 4px;
  margin-right: 0 !important;
}

/* line 332, ../sass/style.scss */
.profile.rank-types {
  margin-top: 10px !important;
}

/* ================ Log in ================ */
/* line 338, ../sass/style.scss */
.helptext {
  display: none;
}

/* ================ Page ================ */
/* line 343, ../sass/style.scss */
#page li {
  margin-top: 10px;
}

/* line 347, ../sass/style.scss */
li p {
  margin: 0px;
}

/* line 351, ../sass/style.scss */
#page {
  background-color: #f6f3ea;
  /* padding-top: 20px; */
}

/* ================ Stories ================ */
/* line 358, ../sass/style.scss */
article {
  margin-top: 20px;
  /* margin-bottom: 80px; */
}

/* Votes */
/* line 365, ../sass/style.scss */
.vote-column {
  width: 40px;
  float: left;
  margin-left: -52px;
}

@media screen and (max-width: 1300px) {
  /* line 372, ../sass/style.scss */
  .vote-column {
    margin: 10px;
  }
}
/* line 377, ../sass/style.scss */
.vote {
  width: 40px;
  background: #edeceb;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 11px 0 0;
  position: relative;
  text-align: center;
}

/* Defaut state */
/* line 391, ../sass/style.scss */
.fi-arrow-up, .fi-arrow-down,
.fi-arrow-up:active, .fi-arrow-down:active,
.fi-arrow-up:visited, .fi-arrow-down:visited {
  display: block;
  transform: scale(1.8, 1);
  float: left;
  width: 100%;
  text-align: center;
  color: #3d454b;
}

/* Upvote hover is orange */
/* line 403, ../sass/style.scss */
.upvote:hover {
  color: #f76300;
}

/* line 407, ../sass/style.scss */
.upvote,
.downvote,
.upvote:focus,
.downvote:focus,
.upvote:visited,
.downvote:visited,
.upvote:active,
.downvote:active {
  color: #3d454b;
}

/* Once upvoted/downvoted state */
/* line 419, ../sass/style.scss */
.upvoted,
.upvoted:focus,
.upvoted:active,
.upvoted:visited {
  color: #f76300;
}

/* line 426, ../sass/style.scss */
.downvoted,
.downvoted:focus,
.downvoted:active,
.downvoted:visited {
  color: #008CBA;
}

/* The opposite button is grey */
/* line 435, ../sass/style.scss */
.downvote.upvoted:hover,
.upvoted.downvote:hover,
.downvoted.upvote:focus,
.upvoted.downvote:focus,
.downvoted.upvote:visited,
.upvoted.downvote:visited {
  color: #3d454b;
}

/* line 444, ../sass/style.scss */
.downvote.upvoted,
.upvote.downvoted,
.downvote.upvoted:focus,
.upvote.downvoted:focus,
.downvote.upvoted:visited,
.upvote.downvoted:visited {
  color: #3d454b;
}

/* line 454, ../sass/style.scss */
.score {
  width: 100%;
  text-align: center;
}

/* line 459, ../sass/style.scss */
.post-comments {
  width: 40px;
  font-size: 30px;
  text-align: center;
}

/* line 465, ../sass/style.scss */
.fi-comment {
  font-size: 42px;
}

/* line 469, ../sass/style.scss */
.number-of-comments {
  font-size: 18px;
  color: white;
  display: block;
  margin-top: -45px;
  margin-bottom: 10px;
}

/* line 478, ../sass/style.scss */
article header {
  float: left;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  /* line 486, ../sass/style.scss */
  article header {
    width: calc(100% - 60px);
  }
}
/* line 491, ../sass/style.scss */
.post-header {
  float: left;
}

/* line 495, ../sass/style.scss */
.post-tagline {
  float: left;
}

/* line 499, ../sass/style.scss */
.edit-post {
  float: right;
}

/* line 503, ../sass/style.scss */
.readmore {
  width: 100%;
  margin: 10px 0;
}

/* line 508, ../sass/style.scss */
.stories-page .story-footer-signup {
  padding: 8px;
}

/* ================ Story ================ */
/* line 515, ../sass/style.scss */
.next-chapter {
  float: right;
}

/* Story footer */
/* line 525, ../sass/style.scss */
.hub-tag {
  background: rgba(119, 119, 119, 0.2);
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: 6px;
  color: #3d454b;
}

/* line 534, ../sass/style.scss */
.button.small {
  margin-bottom: 0;
}

/* line 538, ../sass/style.scss */
.post-footer-signup .author {
  float: right;
}

/* line 542, ../sass/style.scss */
.author {
  float: right;
}

/* line 547, ../sass/style.scss */
.post-footer-signup .followers {
  background: white;
  float: right;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}

/* line 556, ../sass/style.scss */
.rss-icon {
  float: right;
  /* margin: -6px 0 0 10px; */
  line-height: 10px;
}

/* line 562, ../sass/style.scss */
.rss-icon i {
  color: #666;
}

/* line 566, ../sass/style.scss */
.large {
  font-size: 40px;
}

/* ================ Story Comments ================ */
/* Review rating */
/* line 574, ../sass/style.scss */
#id_comment_type {
  width: 120px;
  margin-right: 20px;
}

/* line 579, ../sass/style.scss */
.br-wrapper-b .br-widget {
  height: 40px;
}

/* line 582, ../sass/style.scss */
.br-wrapper-b .br-widget a {
  display: block;
  width: 80px;
  height: 40px;
  float: left;
  background-color: #F5D4BE;
  margin: 1px;
}

/* line 590, ../sass/style.scss */
.br-wrapper-b .br-widget a.br-active,
.br-wrapper-b .br-widget a.br-selected {
  background-color: #f76300;
}

/* line 594, ../sass/style.scss */
.br-wrapper-b .br-widget .br-current-rating {
  clear: both;
  width: 410px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .5em 0;
  color: #f76300;
}

/* line 603, ../sass/style.scss */
.br-wrapper-b .br-readonly a.br-active,
.br-wrapper-b .br-readonly a.br-selected {
  background-color: #f76300;
}

/* Display rating */
/* line 609, ../sass/style.scss */
.comment-rating {
  float: right;
}

/* line 613, ../sass/style.scss */
.rating-bar {
  display: block;
  width: 16px;
  height: 8px;
  float: left;
  background-color: #f76300;
  margin: 1px;
}

/* Center in container */
/* line 622, ../sass/style.scss */
.br-wrapper-b {
  width: 410px;
  position: absolute;
  margin: 0px 0 0 -168px;
  left: 50%;
}

/* Submit */
/* line 631, ../sass/style.scss */
.comment-type {
  margin: 5px;
}

/* List */
/* line 635, ../sass/style.scss */
.comments {
  margin-left: -32px;
}

/* line 642, ../sass/style.scss */
.comment-collapse {
  color: #3d454b;
}

/* line 646, ../sass/style.scss */
.comment-box {
  border-left: 1px solid #DDDDDD;
  margin-left: 32px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 3px 0px #727272;
  padding: 10px 10px 0px 10px;
}

/* line 655, ../sass/style.scss */
.comment-body {
  padding: 10px 0px;
}

/* line 659, ../sass/style.scss */
.comment-reply textarea {
  margin-bottom: 4px;
  background: #f6f3ea;
  height: 150px;
}

/* line 665, ../sass/style.scss */
.comment-reply .button.small {
  float: right;
  padding: 10px;
  margin: 8px;
  margin-right: 0;
}

/* line 672, ../sass/style.scss */
.comment-footer a {
  color: #3d454b;
}

/* Comments voting */
/* line 677, ../sass/style.scss */
.comment-box .vote-column {
  width: 40px;
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

/* Upvote hover is orange */
/* line 685, ../sass/style.scss */
.comment-upvote:hover {
  color: #f76300;
}

/* line 689, ../sass/style.scss */
.comment-upvote,
.comment-downvote,
.comment-upvote:focus,
.comment-downvote:focus,
.comment-upvote:visited,
.comment-downvote:visited,
.comment-upvote:active,
.comment-downvote:active {
  color: #3d454b;
}

/* Once upvoted/downvoted state */
/* line 701, ../sass/style.scss */
.comment-upvoted,
.comment-upvoted:focus,
.comment-upvoted:active,
.comment-upvoted:visited {
  color: #f76300;
}

/* line 708, ../sass/style.scss */
.comment-downvoted,
.comment-downvoted:focus,
.comment-downvoted:active,
.comment-downvoted:visited {
  color: #008CBA;
}

/* The opposite button is grey */
/* line 717, ../sass/style.scss */
.comment-downvoted.comment-upvote,
.comment-upvoted.comment-downvote,
.comment-downvoted.comment-upvote:hover,
.comment-upvoted.comment-downvote:hover,
.comment-downvoted.comment-upvote:visited,
.comment-upvoted.comment-downvote:visited {
  color: #3d454b;
}

/* ================ Edit Story ================ */
/* line 730, ../sass/style.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* Sidebar */
/* line 740, ../sass/style.scss */
.sidebar ul {
  list-style-type: none;
}

/* line 744, ../sass/style.scss */
.sidebar .button {
  padding: 10px;
  margin: 0 10px 0 15px;
}

/* line 749, ../sass/style.scss */
.chapter-arrows {
  float: right;
  margin: 15px 0;
}

/* line 754, ../sass/style.scss */
.chapter-title {
  width: calc(100% - 60px);
  float: left;
}

/* line 759, ../sass/style.scss */
.chapter-arrow {
  width: 100%;
  float: right;
  display: block;
  line-height: 10px;
  height: 18px;
  overflow: hidden;
}

/* line 768, ../sass/style.scss */
.chapter-button {
  float: right;
  /* margin: 15px 0px; */
  color: #3d454b;
}

/* line 774, ../sass/style.scss */
.chapter-button up {
  foat: right;
}

/* Story create */
/* line 779, ../sass/style.scss */
.set-hubs {
  width: calc(100% - 120px);
  width: 200px;
  float: left;
  margin-bottom: 10px;
  /*for mobile*/
}

/* line 786, ../sass/style.scss */
textarea[rows] {
  margin-bottom: 0 !important;
  height: 400px !important;
}

@media screen and (max-width: 1300px) {
  /* line 792, ../sass/style.scss */
  .set-hubs {
    width: 100% !important;
    float: left;
    margin-bottom: 10px;
    /*for mobile*/
  }
}
/* line 799, ../sass/style.scss */
.select2-container--default .select2-selection--multiple {
  height: 50px;
}

/* line 803, ../sass/style.scss */
.set-hubs input {
  margin-top: -7px !important;
}

/* line 807, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 10px;
}

/* line 811, ../sass/style.scss */
#id_hubs {
  list-style-type: none;
  width: 400px;
  padding: 0px;
}

/* Story Editor */
/* line 818, ../sass/style.scss */
.editor {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

/* border on mobile  */
/* line 826, ../sass/style.scss */
* {
  outline: none;
}

/* line 830, ../sass/style.scss */
.delete-chapter {
  padding: 10px !important;
  background: grey !important;
  float: left;
  margin: 30px 0;
}

/* line 836, ../sass/style.scss */
.confirm-delete {
  background: red !important;
}

/* line 840, ../sass/style.scss */
.view {
  background: gray !important;
}

/* line 844, ../sass/style.scss */
.edit-buttons {
  float: right;
}

/* Footer */
/* line 850, ../sass/style.scss */
footer {
  height: 40px;
}

/* line 854, ../sass/style.scss */
footer, footer li, footer p {
  background-color: #333a42;
  color: #babfc2;
}

/* line 859, ../sass/style.scss */
footer a {
  color: #babfc2;
}

/* line 863, ../sass/style.scss */
footer h4 {
  color: #babfc2;
  text-transform: uppercase;
  font-size: medium;
  font-weight: normal;
}
