@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:200');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700');

/* For code */
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
@import url('http://fonts.googleapis.com/css?family=Kameron');
@import url('http://fonts.googleapis.com/css?family=Lato:200,300,400');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');

$orange:#f76300;
$blue: #008CBA;
$black: #3d454b;
$cream: #f6f3ea;

/* General */

* {
    font-family: "Titillium Web";
    font-family: 'Open Sans', sans-serif;
    color: $black;
}


html {
    font-size: 19px;
}

p {
    font-size: 1.11rem; //21px
}


.row {
    max-width: 64em;
    max-width: 52rem!important;

}

a {
	color: $orange;
}

h1, h2, h3, h4 {
    /* font-family: Lato; */
    font-weight: normal;
    color: $black;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0
    
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;    
}

h3 {
    font-size: 26px;
    margin: 10px 0 2px 0;
}

h4 {
    font-size: 21px;
    margin-top:10px;
    /* color: black; */
    font-weight: bold;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}


blockquote, blockquote p {
    line-height: 1.6;
    color: #6F6F6F;
    font-weight: normal;
}

blockquote strong {
    color: #6F6F6F;
}




#page {
    min-height:82vh;
    padding: 20px;
}


#page li {
    margin-top: 10px;
}

li p {
    margin: 0px;
}

/* Helpers */

.hidden {
    display:none;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style: italic;
}
.right{
    float:right;
}

.left{
    float:left;
}

.black {
    color: $black;
}
.orange {
    color: $orange;
}

.white {
    color: white;
}

.gray {
    background: gray!important;
}

.margins-10 {
    margin: 10px;
}

.margins-20 {
    margin: 20px;
}

.margins-side-20 {
    margin: 0 20px;
}

.padding-10 {
    padding: 10px;    
}

.padding-20 {
    padding: 20px;    
}

.grey {
    color: #bbbbbb;
}
.fullwidth {
    width:100%;
}
.center-text {
    text-align:center;
}
.center-vertically {
    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Elements */
/* Elements */

::-webkit-scrollbar {
      width: 8px;
}
::-webkit-scrollbar-track {
      background-color: #F2F2F2;
}
 
::-webkit-scrollbar-thumb {
      background-color: rgba(119, 119, 119, 0.2); 
}
 
    

.button {
	background-color: #f76301;
	border: 0;
	border-radius: 0px;
	box-shadow: 0 5px #d05301;
	padding: 10px 20px;
}

.button:hover {
	background-color: #f76301;
	box-shadow: 0 4px #d05301;
	 position:relative;
    top:1px;
}

.button.small {
	background-color: $orange;
	box-shadow: none;
	/* font-family: Lato; */
	font-size: 16px;
	font-weight: normal;
	color: #fff;

}

.button.small:hover {
	background-color: $orange;
	box-shadow: none;
	/* font-family: Lato; */
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	top:0px;

}


/* Header */
#orange-line {
	background-color: #f66303;
	height:4px;
	width:100%;
}


header {
	height: 130;
	padding: 40px;
	padding-bottom: 20px;	
}

/* Logo */
.logo {
    font-family: "Titillium Web";
    color: $black;
    font-size: 36px;
}

.logo img {
  width: 50px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;  
}

.logo:hover,
.logo:focus,
.logo:visited{
    color: $black;
}



/* Main menu */
#mainMenu {
	margin-top: 10px;
	/* font-family: "Titillium Web"; */
	font-size: 16px;
	text-transform: uppercase;
	color: black;
	text-align: right;
}

#mainMenu a {
    color: black;
}

.avatar {
    width: 32px;
    border-radius: 4px;
    background:url(/static/img/default_avatar.jpg);
    height: 32px;
    background-size: cover;
    
}
.selected a {
	color: $orange;
}

#mainMenu ul {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
}

#hubs-dropdown ul {
    margin-bottom: 0;
}

.dropdown-subitems {
    list-style-type:none!important;
}

.dropdown-subitems a {
    text-transform: none!important;
}

.avatar-icon {
    width: 40px;
    border-radius: 8px;
    margin-top: -4px;
    /* border: 4px solid rgb(246, 99, 3)   */
}

/* ================ Subnav ================ */

.subnav {
  /* padding: 10px; */
  /* margin: 10px; */
    background-color: rgba(0,0,0,0.02);
    padding: 2px 10px;
}

.subnav {
    .button {
	background: #e1ded9;
	color: #3d454b;
	padding: 10px 20px;
    }
}
.subnav .row .columns {
    /* padding: 10px; */
}

.subnav a, .subnav span {
    color: #bbbbbb;
    margin-bottom: -1px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
}

/* smaller space between links */
.subnav a, .subnav span {
  margin-right: 10px;
}



.rank-types {
    margin:10px 0;
}

.rank-types .bold {
    font-weight: bold;
    color: $black;
}

.subnav .challenge-title {
    font-weight: bold;
    color: $black;
    text-transform: none;
}
/* ================ User Profile ================ */
/* Subnav */
.userkarma {
  background: rgba(119, 119, 119, 0.2);
  padding: 4px;
  border-radius: 4px;    
}


.logout {
    width: 20px;
    float: right;
    margin: 14px;
    opacity: 0.4;
}

.profile .button.small {
    /* float: right; */
}

.profie .subnav {
    text-align: center;
}

.userdata {
    margin-bottom: 0;
}

.usersubscribe {
    text-transform: none!important; /* Why do I need important here? */
}

.unsubscribe {
    background: rgba(187, 187, 187, 0.8)!important;
}

.subscribers {
  background: white;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 0 !important;
  margin: 0 5px;
}

.profile.rank-types {
  margin-top: 10px!important;
}

.hubs {
    background: #fbf9f5;
    padding: 20px 10px;
}
.hubs-dropdown {
    margin: 10px;
}
.subnav .searchbar {
    background: none;
    width: calc(100% - 76px);
    /* remove hubs toggle */
    width: calc(100% - 5px);
    height:40px;
    /* margin: -6px 0;     */
    margin: 4px;
}

.subnav .searchbar:focus {
    background: white;
}



.tagline {
    ul {
	list-style-type: none;
	margin: 0;
	li {
	    float:left;
	    margin: 0!important;
	    margin-left: 10px!important;
	    a {
		i {
		    color: #FFC99E;
		    color: rgba(254, 254, 212, 0.7);
		    font-size: 22px;
		}
	    }
	}
    }
}


/* ================ Log in ================ */
.helptext {
    display:none;
}

/* ================ Page ================ */
#page li {
    margin-top: 10px;
}

li p {
    margin: 0px;
}

#page {
    background-color: #f6f3ea;
    /* padding-top: 20px; */
}

/* ================ Stories ================ */

article {
    margin-top: 20px;
/* margin-bottom: 80px; */
}

.posts-page .post-header h1 {
    float:left;
}

/* Votes */

.vote-column {
    width: 40px;
    float: left;
    margin-left: -52px;
}

@media screen and (max-width: 1300px) {
    .vote-column {    
        margin: 10px;
	margin-bottom: -12px;
    }
}

.vote {
    width: 40px;

    background: #edeceb;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
    float: left;
    margin: 0 11px 0 0;
    position: relative;
    text-align: center;

}

/* Defaut state */
.arrow,
.arrow:active,
.arrow:visited,{
    display: block;
    transform:scale(1.8,1);
    float:left;
    width: 100%;
    text-align: center;
    color: $black;
}

/* .fi-arrow-up, .fi-arrow-down, */
/* .fi-arrow-up:active, .fi-arrow-down:active, */
/* .fi-arrow-up:visited, .fi-arrow-down:visited{ */
/*     display: block; */
/*     transform:scale(1.8,1); */
/*     float:left; */
/*     width: 100%; */
/*     text-align: center; */
/*     color: $black; */
/* } */

/* Upvote hover is orange */


.score {
    width: 100%;
    text-align: center;
}

.post-comments {
    width: 40px;
    font-size: 30px;
    text-align: center;    
}

.fi-comment {
  font-size: 42px;    
}

.number-of-comments {
    font-size: 18px;
    color: white;

    display: block;
    margin-top: -45px;
    margin-bottom: 10px;    
}

article header {
    float: left;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    article header {
	width: calc(100% - 60px);
    }
}

.post-header {
    float:left;
}

.post-tagline {
    float:left;
}

.edit-post {
    float:right;
}

.readmore {
    /* width: 100%; */
    /* margin: 10px 0; */
    float: right;
}

.stories-page .story-footer-signup {
  padding: 8px;    
}

/* ================ Story ================ */


.next-chapter {
    float: right;
}
.previous-chapter {
    
}


/* Story footer */

.hub-tag {
  color: $black;
}
.hub-tag {
  background: rgba(119, 119, 119, 0.2);
  padding: 2px 8px;
  border-radius: 2px;
  margin-left: 6px!important;
  margin-right: 0px!important;  
  color: $black;
}




.button.small {
    margin-bottom: 0;
}

.post-footer-signup .author {
    float: right;
}

.author {
    float: right;
}


.post-footer-signup .followers {
    background: white;
    float:right;

  border-radius: 4px;
  padding: 8px;
  margin: 0;    
}

.rss-icon {
  float: right;
  /* margin: -6px 0 0 10px; */
  line-height: 10px;
}

.rss-icon i {
    color: #666;
}

.large {
    font-size: 40px;
}


/* Voting */
.upvote,
.upvote:visited,
.upvote:active,
.upvote:focus {
    color:$black;
    float:left;
}

.upvoted {
    color:$orange!important;
}


/* ================ Story Comments ================ */

/* Review rating */
#id_comment_type {
    width: 120px;
    margin-right: 20px;    
}    

.br-wrapper-b .br-widget {
  height: 40px;
}
.br-wrapper-b .br-widget a {
  display: block;
  width: 80px;
  height: 40px;
  float: left;
  background-color: #F5D4BE;
  margin: 1px;
}
.br-wrapper-b .br-widget a.br-active,
.br-wrapper-b .br-widget a.br-selected {
  background-color: $orange;
}
.br-wrapper-b .br-widget .br-current-rating {
  clear: both;
  width: 410px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .5em 0;
  color: $orange;
}
.br-wrapper-b .br-readonly a.br-active,
.br-wrapper-b .br-readonly a.br-selected {
  background-color: $orange;
}

/* Display rating */
.comment-rating {
    float:right;
}

.rating-bar {
  display: block;
  width: 16px;
  height: 8px;
  float: left;
  background-color: $orange;
  margin: 1px;    
}
/* Center in container */
.br-wrapper-b {
  width: 410px;
  /* position: absolute; */
  margin: 0px 0 0 -168px;
  /* left: 50%; */
  float: left;
  }


/* Submit */
.comment-type {
    margin: 5px;
}
/* List */
.comments {
    margin-left: -32px;
}

.comment {
}

.comment-collapse {
    color: $black
}

.comment-box {
    border-left: 1px solid #DDDDDD;
    margin-left: 32px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.02);
    padding-left:-2px;
    padding-bottom: 5px;
}

.comment-body {
    padding: 10px 0px;
}

.comment-reply textarea {
    margin-bottom: 4px;
    background: $cream;
    height: 150px;
}

.comment-reply .button.small {
    float: right;
    padding: 10px;
    margin: 8px;
    margin-right: 0;
}

.comment-footer a {
    color: $black    
}

/* Comments voting */
.comment-box .vote-column {
    width: 40px;
    float: left;
    margin-left: 0px;
    margin-right: 10px;
}

/* Upvote hover is orange */
.comment-upvote:hover {
    color: $orange;    
}

.comment-upvote,
.comment-downvote,
.comment-upvote:focus,
.comment-downvote:focus,
.comment-upvote:visited,
.comment-downvote:visited,
.comment-upvote:active,
.comment-downvote:active {
    color: $black;        
}

/* Once upvoted/downvoted state */
.comment-upvoted,
.comment-upvoted:focus,
.comment-upvoted:active,
.comment-upvoted:visited {
    color: $orange;    
}

.comment-downvoted,
.comment-downvoted:focus,
.comment-downvoted:active,
.comment-downvoted:visited {
    color: $blue;    
}


/* The opposite button is grey */
.comment-downvoted.comment-upvote,
.comment-upvoted.comment-downvote,
.comment-downvoted.comment-upvote:hover,
.comment-upvoted.comment-downvote:hover,
.comment-downvoted.comment-upvote:visited,
.comment-upvoted.comment-downvote:visited {
    color: $black;    
}



/* ================ Edit Story ================ */

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* Sidebar */

.sidebar ul {
    list-style-type: none;
}

.sidebar .button {
    padding: 10px;
    margin: 0 10px 0 15px;    
}

.chapter-arrows {
    float: right;
    margin: 15px 0;    
}

.chapter-title {
    width: calc(100% - 60px);
    float: left;
}

.chapter-arrow {
    width:100%;
    float:right;
    display: block;
    line-height: 10px;
    height: 18px;
    overflow: hidden;    
}

.chapter-button {
    float:right;
    /* margin: 15px 0px; */
    color: $black;
}

.chapter-button up {
    foat:right;
}

/* Story create */
.set-hubs {
    width: calc(100% - 120px);
    width: 200px;
    float:left;
    margin-bottom: 10px; 	/*for mobile*/
}

textarea[rows] {
  margin-bottom: 0!important;
  height: 400px!important;
}

@media screen and (max-width: 1300px) {
    .set-hubs {
	width: 100%!important;
	float:left;
	margin-bottom: 10px; 	/*for mobile*/
    }
}
 
.select2-container--default .select2-selection--multiple {
    height: 50px;
}

.set-hubs input {
margin-top: -7px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 10px;
}

#id_hubs {
list-style-type: none;    
width:400px;
padding: 0px;
}
/* Story Editor */

.editor {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

/* border on mobile  */
* {
  outline: none;
}

.delete-chapter {
    padding: 10px!important;
    background: grey!important;    
    float:left;
    margin: 30px 0;
}
.confirm-delete {
    background: red!important;
}

.view {
    background: gray!important;
}

.edit-buttons {
    float: right;
}

/* Footer */

footer {
    height: 40px;
}

footer, footer li, footer p {
    background-color: #333a42;
    color: #babfc2;
}

footer a {
	color: #babfc2;
}

footer h4 {
	color: #babfc2;
	text-transform: uppercase;
	font-size: medium;
	font-weight: normal;
}





.white-bg {
    background: white!important;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment) {
  background: none!important;
}


/* votes in footer */
.vote-column {
    display: none;
}

.arrow,
.arrow:active,
.arrow:visited, {
    width: 20px;
    transform:scale(1.4,1);
    float:left;
}

.score {
    float:left;
    width:auto;
}

article header {
    width: 100%!important;
}

.fi-comment {
    text-align: center;
    float: left;
    font-size: 20px;
    margin-top: 0px;
    margin-right:2px;
}


/* Home Page */
.header-background {
    background: #253153 url("/static/img/space2_medium.jpg") no-repeat center;
    background-size: cover;
    
}
.header-background-overlay {
    background: rgba(0,0,0,.175);
    padding: 80px;
	
}

.homepage-header {
    text-align: center;
    .button {
	border-radius:0;
	margin: 40px 10px;
	margin-bottom:0;
    }
}
.homepage-header h1, .homepage-header h2, .homepage-header p {
    text-align: center;
    color: white;
}
.homepage h2 {
    font-weight: normal;
    a {
	color: white;
	text-decoration: underline;
    }
}
.big-logo {
    text-align:center;
}
.big-logo img {
    width: 200px;
}

.homepage .subnav-background {
    
}

.homepage .stories {
    background: $cream;
}


.homepage {
    .subnav-background {
	background: #f6630a;
	padding: 10px 0;
    }

    .subnav {
	background: none;
	ul {
	    margin-top: 20px;
	    list-style-type: none;
	    li {
		float:left;
		a {
		    color: #FFC99E;
		    text-transform: none;
		    i {
			color: #FFC99E;
			font-size: 22px;
		    }
		}
	    }
	}
    }

    .stories {
	padding: 20px;
    }
    .story {
	float: left;
	padding: 10px;
	.thumbnail {
	    height: 172px;
	    background-position: 50% 50%;
	    background-size:cover;
	    width: 100%;

	}
	h3 {
	    text-align:left;
	    color: #373737;
	    font-size: 24px;
	    font-weight:bold;
	}
	p {
	    font-size: 18px;
	}
    }
}


/* Profile Card */

.profile-card {
    background: rgba(255,255,255,0.5);
    .user-background {
	background:url(/static/img/bg.jpg);
	height:140px;
	background-position-y:-320px;
	margin-bottom: 10px;
	background-size:cover!important;
	background-repeat:no-repeat!important;
	background-position: center center!important;
    }
    .avatar {
	float:left;
	width:80px;
	border-radius: 4px;
	margin:10px;
	border: 2px solid white;
	margin-top: -30px;
	background:url(/static/img/default_avatar.jpg);
	height: 80px;
	background-size: cover;
    }

    .username {
	font-weight:bold;
	color: $black;
	font-size: 18px;
    }

    .about {
	padding:10px;
	p {
	    font-size:18px;
	}
    }

    .button {
	width:calc(100% - 20px);
	margin:10px;
	i {
	    color:white;
	}
    }
}




/* Select */
.select2-container--default
.select2-selection--multiple,
.select2-container{
border-color: #cccccc!important;
float:left!important;
width: 100%;
}


.select2-container--default .select2-selection--multiple {
border-radius:0!important;
}

.select2-container--default .select2-selection--multiple {
    height:35px!important;
}


.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #cccccc!important;
}




.set-hubs input {
    margin-top: -7px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
margin-top: 2px!important;
margin-right: 5px!important;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4!important;
    border: none!important!important;
    border-radius: 0px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0px!important;
    border: none!important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  box-shadow: none!important;
}

.select2-container .select2-search--inline {
margin: 0!important;
height: 35px!important;
}


.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0!important;
    padding: 0!important;
    height: 35px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
margin: 2px!important;
line-height: 28px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 2px!important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0!important;
    height: 30px!important;
    padding-left: 2px!important;
}

.select2-container--open .select2-dropdown--below {
border-radius:0!important;
}





/* Preferences */
#image-filechoice-container {
    display:none;
}

#upload, #upload_background {
    width: 160px;
    padding: 15px;
    margin-top:5px;
}
