{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}
{% load firstparagraph %}

{% block content %}
    
<div id="page"  class="posts-page">

{% include "posts/subnav-browse.html" %}

<div class="row">

  <div class="large-12 small-12 columns posts">
    <!-- {{test}} -->
    {% for post in posts %}
    <article>
      {% if post.post_type != "wiki"  %}
      {% include "posts/vote.html" %}
      {% endif %}
      
      <!-- Header -->
      <header class="post-header">
	<a href="{{post.get_absolute_url}}">
	  <h1 class="left"> {{post.title}} </h1>
	</a>
	

	<!-- <h4><a href="{{post.get_absolute_url}}" class="bold black"> -->
	<!--   {{post.title}} -->
	<!-- </a></h4> -->
	<hr/>
	<div class="clearfix"></div>
	<!-- <div style="padding:5px 0;"> -->
      	<!-- {% for hub in post.hubs.all %} <\!-- Different between post and posts -\-> -->
      	<!-- <a href="/hub/{{hub.slug}}" class="hub-tag">{{hub.title}}</a> -->
      	<!-- {% endfor %} -->
	<!-- </div> -->
      </header>
      <!-- Post Body -->
      {{post | markdownify:"True" | safe }} <!-- firstparagraph -->
      <div class="clearfix"></div>
      <!-- Post Footer -->
      <br/>
      <div class="panel" style="padding:8px;margin-top: 4px;">
	<div class="stats left">
	<!-- 
	<span class="fi-arrow-up"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.upvoters.count}}
	</span>	

	<span class="fi-arrow-down"
	      style="font-size: 20px;">
	  {{post.downvoters.count}}
	</span>
	-->

	<span class="fi-eye"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.views}}
	</span>

	{% if post.children.all %}
	<span class="fi-page-multiple"
	      style="font-size: 20px;
		     margin-right:10px;"
	      title="Number of chapters">
	  {{post.children.all|length}}
	</span>
	{% endif %}	    

	<span class="fi-background-color"
	      style="font-size: 20px;
		     margin-right:10px;"
	      title="Number of words">
	  {{post.wordcount}}
	</span>
	
	<!-- 
	<span class="fi-comment"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.comments.count}}
	</span>
	-->
	</div> <!-- end stats left -->
      	{% for hub in post.hubs.all %} <!-- Different between post and posts -->
      	<a href="/hub/{{hub.slug}}" class="hub-tag" id="{{hub.slug}}">{{hub.title}}</a>
      	{% endfor %}

	<div class="right">
	  by
	  {% if post.author.external_url %}
	  <a href="{{post.author.website}}">{{post.author}}</a>
	  {% else %}
	  <a href="/user/{{post.author.username}}">{{post.author}}</a>
	  {% endif %}
	</div>
	<div class="clearfix"></div>
      </div>
      <!-- <hr/> -->
    </article>
    {% endfor %}

<!-- Pagination -->
<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}"><</a>
    {% endif %}

    <span class="current">
      Page {{ posts.number }}
      <!-- of {{ posts.paginator.num_pages }} -->
    </span>

    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">></a>
    {% endif %}
  </span>
</div>

</div> <!-- End 8 columns -->

<div class="large-3 small-3 columns sidebar" style="display:none;"> <!-- style="display:none;" -->
  <!-- <br/> -->

  <form id="search-form" action="" method="get"> {# {% csrf_token %} #}
    <!-- 
    <input placeholder="Search" type="text" name="query" class="left" value="{{query}}"
	   type="submit">
	  <i class="fi-magnifying-glass right"
	     style="position: relative;
		    right: 26px;
		    width: 0;
		    top: 9px;
		    color: #cccccc;"></i> -->
	  <!-- 
    <button class="button small left fi-magnifying-glass right"
    	    style="border-radius:0;padding:13px;background:#bbbbbb;margin:0; display:none;"
    	    type="submit"></button>
    -->
	  <!-- 
    <input placeholder="Hubs" type="text" name="query" class="left" value="{{query}}"
	   type="submit">
	  <br/>
	   -->
    <div class="clearfix"></div>	  

    <select multiple="multiple" id="hubs-multiselect" name="hubs" class="hidden" >
      {% for hub in hubs %} <!-- Different between post and posts -->
        <option value="{{hub.slug}}" id="{{hub.slug}}" name="hub"
    		{% if hub in filterhubs %}selected{% endif %}>
    	  {{hub.title}}</option> <!-- selected -->
    	{% endfor %}
    </select>


    <div id="search-hubs">
    </div>
    <!-- 
    <div class="right">
    <span class="number-of-stories">&#8745;</span>
    <span class="">&#8746;</span>    
    </div>
    --> 

    <br/>
  </form>

  {% include "hubs/hub-list-search.html" %}  

</div> <!-- End 4 columns -->


</div>	 <!-- End row -->
</div>	 <!-- end page -->

<div class="clearfix"></div>


<script>

$(document).ready(function(){
    function refreshHubs() {
	$('select#hubs-multiselect').each(function(){
	    var selectedHubs = $(this).val();
	    $('#search-hubs').empty();

	    if (!selectedHubs) {
		selectedHubs = [];
	    }

	    for (var i = 0; i < selectedHubs.length; i++) {
		hub = selectedHubs[i];
		title = $('select#hubs-multiselect').children('option#'+hub).text()
		el = $("<div class='hub-tag'>"+title+"<i class='fi-x right' id='"+hub+"'></i></div>");
		$('#search-hubs').append(el);
	    }
	});

	// Delete
	$('#search-hubs').find("i").click(function(){
	    $('#hubs-multiselect option[value=' + $(this).attr('id') + ']').attr('selected', false);
	    //refreshHubs();
	    $("#search-form").submit();	
	});
	
    }    
    

    // Multiselect
    refreshHubs();

    // Custom get request
    $('#search-form').submit(function(event){
	event.preventDefault();
	event.stopPropagation();

	if ($(this).attr('action')){
	    var action = $(this).attr('action');
	} else {
	    var action = "/browse/";
	}

	var query = $('#search-input').val(); // attr("value")

	var hubs = [];
	$('#hubs-multiselect').children('option:selected').each(function(){
	    hubs.push(this.value);
	});

	if (query){
	    var query = '?query=' + query;
	} else {
	    var query = ""
	}
	
	if (query && hubs.length > 0){
	    var hubs = '&hubs=' + hubs.join(',');
	} else if (hubs.length > 0) {
	    var hubs = '?hubs=' + hubs.join(',');	
	} else {
	    var hubs = ""
	}
	window.location = action + query + hubs; // "http://{{request.META.HTTP_HOST}}" + 
    });

    // Hot/New/Top. Submit a form instead of following a link
    $(".rank-types").find("a").bind('click',function(event){
	event.preventDefault();
	event.stopPropagation();
    	var link = $(this).attr('href');
    	$("#search-form").get(0).setAttribute('action', link)
    	$("#search-form").submit();
    });

    // Toggle Hubs
    $("#toggle-hubs").bind('click',function(event){
	event.preventDefault();
	event.stopPropagation();
	console.log("Ey!");
	if ($(this).hasClass("expanded")) {
	    $(".posts").removeClass("large-9");
	    $(".posts").removeClass("small-9");	      
	    $(".posts").addClass("large-12");
	    $(".posts").addClass("small-12");  	      
	    $(".sidebar").hide();
	    $(this).removeClass("expanded");
	    $("#hubs-multiselect option:selected").removeAttr("selected");
	    $('#search-hubs').empty();
	} else {
	    $(".posts").removeClass("large-12");
	    $(".posts").removeClass("small-12");  	      
	    $(".posts").addClass("large-9");
	    $(".posts").addClass("small-9");	      
	    $(".sidebar").show();
	    $(this).addClass("expanded");
	}

    });


    // Select hubs when clicking on one in a sidebar
    var selector = $('select#hubs-multiselect');
    $(".hubs").find(".hub-link").bind('click',function(event){
	event.preventDefault();
	event.stopPropagation();
	var hub = $(this).attr('id');
	console.log("select " + hub);
	$('#hubs-multiselect option[value=' + hub + ']').attr('selected', true);
	//refreshHubs();
    	$("#search-form").submit();	
    });

    // Select hubs when clicking on one in a post footer
    var selector = $('select#hubs-multiselect');
    $(".posts").find(".hub-tag").bind('click',function(event){
	event.preventDefault();
	event.stopPropagation();
	var hub = $(this).attr('id');
	console.log("select " + hub);
	$("#hubs-multiselect option:selected").removeAttr("selected");
	$('#hubs-multiselect option[value=' + hub + ']').attr('selected', true);
	//refreshHubs();
    	$("#search-form").submit();	
    });
    
    // open sidebar if there are some hubs selected
    // if ($('select#hubs-multiselect').val()){
    // 	$(".posts").removeClass("large-12");
    // 	$(".posts").removeClass("small-12");  	      
    // 	$(".posts").addClass("large-9");
    // 	$(".posts").addClass("small-9");	      
    // 	$(".sidebar").show();
    // 	$("#toggle-hubs").addClass("expanded");
    // }

    // Open sidebar by default
    $(".posts").removeClass("large-12");
    $(".posts").removeClass("small-12");  	      
    $(".posts").addClass("large-9");
    $(".posts").addClass("small-9");	      
    $(".sidebar").show();
    $("#toggle-hubs").addClass("expanded");

    // If there's search input, search field is white
    if ($('#search-input').val().length > 0){
    	// $('#search-input').style.background="white";
    	// $('#search-input').css("backround","white");
	$('#search-input').addClass("white-bg");
    }
})

document.onkeydown=function(){
    if(window.event.keyCode=='13'){
	if ($("#search-input").attr("value").length === 0) {
	    $("#search-form").get(0).setAttribute('action', "/browse/top/all-time/");
	}
    }
}
</script>



<!-- 
<style>
.hub-tag {
  margin-left: 0;
  
  }

.sidebar .hub-tag {
display:block;  
  }

  .sidebar .hub-tag {
  background: rgba(119, 119, 119, 0.2);
  padding: 2px 8px;
  border-radius: 4px;
  color: #3d454b;
  border-radius: 0;
  margin: 1px!important;
  border: 0;  
}  
  
</style>
 -->
<style>

  #search-hubs .hub-tag {
  padding:10px;
  margin:10px 0;
  }

  #search-hubs .hub-tag i{
  cursor:pointer;
  }    
.second-lvl .hub-tag {
display:block;
}

.sidebar .hub-tag {
  background: rgba(119, 119, 119, 0.1);
}

.sidebar .hub-tag .number-of-stories {
position: absolute;
right: 48px;
line-height: 30px;
margin-top: 6px;
}

.children {
padding: 0px;
  }

.posts .hub-tag {
display:block;
float:left;
margin-right: 5px;
}  
.second-lvl .hub-tag {
display:block;
}

.sidebar .hub-tag {
  background: rgba(119, 119, 119, 0.1);
}

.sidebar .hub-tag .number-of-stories {
position: absolute;
right: 48px;
line-height: 30px;
margin-top: 6px;
}

.children {
padding: 0px;
}

.white-bg {
    background: white!important;
}
</style>

{% endblock content %}

