{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<style>
  .panel {
  padding: 5px;
  margin-top:5px;
  }

  .CodeMirror {
  background: white!important;
  border-radius: 0!important;
  }

  .editor-toolbar {
  background: white!important;
  border-radius: 0px!important;
  }

  .editor-statusbar {
      border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background: #f2f2f2;
  color: #333333;
  padding: 5px;
  margin-top:-1px;
  }

  #id_title {
  padding: 24px 10px;
  }

  #id_title, .CodeMirror, textarea {
  font-size: 21px!important;
  }

  .button.small {
    border-radius: 0;
    padding: 15px 25px;
  }
</style>


<div id="page"  class="postPage">
  {# {% include "elements/stats.html" %} #}
  
  <!-- <div class="row"> -->
  <!--   <div class="large-12 columns"> -->
  <!--     <b> Today: 341 words</b><br/> -->
  <!-- 	<\!-- Progress Bar -\-> -->
  <!-- 	<div class="progressbar" style="position:relative;"> -->
  <!-- 	  <div class="progress" style="margin: 0px;border: 1px solid #7C868E;"> -->
  <!-- 	    <span class="meter" style="width:0; max-width:200%;"></span> -->
  <!-- 	  </div> -->
  <!-- 	  <div class="marks" style="width:50%; height:24px; -->
  <!-- 				   position:absolute; -->
  <!-- 				   top: 0; -->
  <!-- 				   height: 29px; -->
  <!-- 				   top: 3px; -->
  <!-- 				   height: 24px; -->
  <!-- 				   width: calc(100% - 6px); -->
  <!-- 				   left: 3px;"> -->
  <!-- 	    <div class="mark"></div><div class="mark"></div><div class="mark"></div><div class="mark"></div><div class="mark"></div> -->
  <!-- 	    <div class="mark"></div><div class="mark"></div><div class="mark"></div><div class="mark"></div> -->
  <!-- 	    <div class="mark" style="border-right: 1px solid #7C868E;"></div> -->
  <!-- 	  </div> -->
	  
  <!-- 	  <div class="goal" style="width:30px; height:30px;border-radius:30px; -->
  <!-- 				   position:absolute; -->
  <!-- 				   top: 0; -->
  <!-- 				   left: 300px; -->
  <!-- 				   left: calc(25.6% - 15px); -->
  <!-- 				   border: 1px solid #7C868E; -->
  <!-- 				   background: rgba(96, 214, 67, 0.6);"></div> -->

  <!-- 	</div> -->

  <!--   </div> -->
  <!-- </div> -->

  <!-- <br/> -->


  
<div class="row">
  <div class="large-12 columns">

    <div class="timer" style="float:right;margin:20px;">
      <div class="progressbar" style="position:relative;">
	<div class="progress" style="margin: 0px;border: 1px solid #7C868E;padding: 0;">
	  <span class="meter" id="time" style="width:100%; max-width:100%;">20:00</span>
	</div>
      </div>
    </div>

    <script>
      function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.text(minutes + ":" + seconds);

	//display.text(timer);
	$("#time").css("width",(timer/duration)*100+"%");

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

jQuery(function ($) {
    display = $('#time');
    startTimer( 60 * 20, display);
});
    </script>
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel2">Prompt</a></li>
  <li class="tab-title"><a href="#panel1">Goals/Structure</a></li>
  <li class="tab-title"><a href="#panel3">Comedy</a></li>
  <li class="tab-title"><a href="#panel4"><i class="fi-x"></i></a></li>
</ul>
<div class="tabs-content">
  <!-- Goals -->
  <div class="content" id="panel1">
    <article>
      Write a paragraph on:
      <h4>Setting.</h4>
      <p>Environment. Describe location/Situation.(of a situation).
	Where is it?  character in a situation</p>

      <h4>Problem.</h4>
      <p>Problem. What can go wrong? //Goal. 
	Engage.</p>

      <h4>Escalate.</h4>
      <p>How can things escalate? 
	Describe things getting worse. Other challenges he faces. out of control.
	raise stakes.
	Lose.(goes here, how does it lead to loss)</p>
      <h4>Resolve.</h4>
      <p>  How does it end? How does he win?(does the character win? How? Why?)</p>
    </article>
  </div>
  <!-- Prompt -->
  <div class="content active" id="panel2">
    <article>
      <span class="bold black">
	Prompt: {{prompt.title}}
      </span>
      <!-- <h4>Locations.(spaceship, etc).</h4> -->
      <!-- <h4>Characters(profession/character)</h4> -->
      <!-- <h4>Scifi HCs, tech/magic/superpowers</h4> -->
      <!-- <h4>Problems/Goals.</h4> -->
    </article>
  </div>
  <!-- Third -->
  <div class="content" id="panel3">
    <p>Search, list of 5:</p>
      <h4>Recognizer.</h4>
      <p>[slightly modify] [property] > abstract recognizer > [beam search other stuff that fits under it] > [cut and paste elements]  //translate?</p>
      <!-- <h4>//Association.</h4> -->
      <!-- <p>Extract element, drop context > find association. > setup 1, punch reinterpret 2</p> -->
      <!-- <h4>//Flip/Exaggerate.</h4> -->
      <!-- <p>Flip element, Jump > Move(find lane that fits elements and jumps, expplain why?) </p> -->

      <!-- <h4>//Quality/Substance</h4> --><!-- nailed by prompt -->
      <!-- <p>Scifi HC</p> -->
      <!-- <p>CI(lesson/metaphor/why?)</p> -->
  </div>
  <!-- Close -->
  <div class="content" id="panel4">
  </div>
</div>

<style>
  .tab-title a {
  padding:10px!important;
  }

  .content {
  padding:0!important;
  }

  .content article {
padding:10px;    background: rgba(255,255,255,0.5);//#fff;
		       box-shadow: 0 1px 4px rgba(0,0,0,.04);
		       border: 1px solid rgba(0,0,0,.09);
		       border-radius: 3px;margin:0;  
  }
</style>

  </div>
</div>

  
<div class="row">
  <div class="large-12 columns">


    {{test}}
    {{form.errors}}
    {{form.non_field_errors}}
    <!-- Submit Form -->

    <form action="/write/" method="post">{% csrf_token %}
      {{form.title}}
      <div class="editor">
	<!-- **Prompt: {{prompt.title}}** -->
	<textarea name="body"></textarea>
      	<!-- {{form.body}} -->
	<!-- Progress Bar -->
	<div class="progressbar" style="position:relative;">
	  <div class="progress" style="margin: 0px;border: 1px solid #7C868E;">
	    <span class="meter" style="width:0; max-width:200%;"></span>
	  </div>
	  <div class="marks" style="width:50%; height:24px;
				   position:absolute;
				   top: 0;
				   height: 29px;
				   top: 3px;
				   height: 24px;
				   width: calc(100% - 6px);
				   left: 3px;">
	    <div class="mark"></div><div class="mark"></div><div class="mark"></div><div class="mark"></div><div class="mark"></div>
	    <div class="mark"></div><div class="mark"></div><div class="mark"></div><div class="mark"></div>
	    <div class="mark" style="border-right: 1px solid #7C868E;"></div>
	  </div>
	  
	  <div class="goal" style="width:30px; height:30px;border-radius:30px;
				   position:absolute;
				   top: 0;
				   left: 300px;
				   left: calc(25.6% - 15px);
				   border: 1px solid #7C868E;
				   background: rgba(96, 214, 67, 0.6);"></div>

	</div>

	

	<style>
	  .mark {
	  border: 1px solid #7C868E;
	  float:left;width:30px;height:20px;
	  float: left;
	  width: 10%;
	  height: 23px;
	  border-right:none;
	  }
	</style>
    <!-- End Progress Bar -->

      </div> <!-- end editor -->


      <br/>
      <div class="set-hubs">
	{{form.hubs}}
      </div>
      
      <button class="button small right" type="submit">Save</button>

      <div class="clearfix"></div>
      <div style="width:100%; height: 20px"></div>
    </form>
    <!-- End Submit Form -->
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->



<!-- Editor -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>



<!-- Select2 -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>




<script>
    var simplemde;
var editor;
$('textarea').each(function() {
    simplemde = new SimpleMDE({
	element: this,
	autosave: {
            enabled: false,
            uniqueId: "123",
            delay: 1000,
	},    
    });
   simplemde.render();
    // Progress Bar
    //initialize
	editor = $(simplemde.element.parentNode.children[4]).parent()    
	words = editor.find(".words").html();
	percent = (parseFloat(words)/(1000))*100;
$(editor).find(".meter").css("width",percent+"%")
	if (percent > 100) {
$(editor).find(".meter").css("background","green");
	} else {
$(editor).find(".meter").css("background","#008CBA");	    
	}
    
    simplemde.codemirror.on("change", function(){
	editor = $(simplemde.element.parentNode.children[4]).parent()
	words = editor.find(".words").html();
	percent = (parseFloat(words)/(1000))*100;
	$(editor).find(".meter").css("width",percent+"%")
	if (percent > 25.6) {
	    	$(editor).find(".meter").css("background","green");
	} else {
	    	$(editor).find(".meter").css("background","#008CBA");	    
	}
    });
    
})


    // Multiselect
    $("#id_hubs").select2({
	placeholder: "Select hubs", // (maximum 4)
	allowClear: true,
	maximumSelectionLength: 4    
    })
    
    
</script>






<style>
.set-hubs {
    width: calc(100% - 120px);
    width: 200px;
    width: 100%;    
    float:left;
    margin-right: 420px;    
}

<!-- Container -->
.select2-container--default
.select2-selection--multiple, {
    border-color: #cccccc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #cccccc;
}


.select2-container--default .select2-selection--multiple {
    height: 50px;
}

.set-hubs input {
    margin-top: -7px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 10px;
}

#id_hubs {
    list-style-type: none;
    width:600px;
    width:100%;    
    padding: 0px;
}
    #id_hubs {
	list-style-type: none;
	width:400px;
	width:100%;
}

.select2-container {
width:100%!important;
}



<!-- Tags -->
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: none!important;
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0px;
    border: none;
}

.select2-container--default .select2-search--inline .select2-search__field {
  box-shadow: none;
}

.CodeMirror {
  background: none;
}

</style>

{% endblock content %}

