{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<style>
  .panel {
  padding: 5px;
  margin-top:5px;
  }

  .CodeMirror {
    height: 300px!important;
  }

  .CodeMirror-fullscreen {
  height:auto!important;
  }

::-webkit-scrollbar {
      width: 8px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #F2F2F2;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(119, 119, 119, 0.2); 
} /* this will style the thumb, ignoring the track */
 



  
  .CodeMirror {
  background: white!important;
  border-radius: 0!important;
  }



  .editor-toolbar {
  background: white!important;
  border-radius: 0px!important;
  }

  .editor-statusbar {
      border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background: #f2f2f2;
  color: #333333;
  padding: 5px;
  margin-top:-1px;
  }

  #id_title {
  padding: 24px 10px;
  }

  #id_title, .CodeMirror, textarea {
  font-size: 21px!important;
  }

  .button.small {
    border-radius: 0;
    padding: 15px 25px;
  }
</style>


<div id="page"  class="postPage">
  
  
<div class="row">
  <div class="large-12 columns">
    {# {% include "elements/timer.html" %} #}

    {# {% include "elements/stats.html" %} #}

    {% if request.META.HTTP_HOST == "lumenwrites.com" %}    
    {% include "elements/prompts.html" %}
    <style>
      .main-header, #orange-line, footer {
      display:none;
      }
    </style>
    {% else %}	            
    {% include "elements/toolbox.html" %}
    {% endif %}	                
    
  </div>
</div>


<br/>
  
<div class="row">
  <div class="large-12 columns">


    {{test}}
    {{form.errors}}
    {{form.non_field_errors}}
    <!-- Submit Form -->

    <form action="/write/" method="post">{% csrf_token %}
      <input type="hidden" id="reddit_url" name="reddit_url" value="test"></input>
      {{form.title}}
      <script>
	$( "#id_title" ).on('input',function(e){
	$("#savebutton").prop("disabled", false);
	});
      </script>
      <div class="editor">
	<!-- Toolbox toggle -->
	<a class="toolbox-toggle" style="position: absolute;
    					 right: 30px;
    					 top: 70px;
    					 
					 right: 32px;
					 top: 79px;
					 z-index: 1;">
	  <i class="fa fa-inbox" style="font-size: 40px;
					font-size: 30px;
					color: #808B96;"></i></a>

	<script>
	  $(".toolbox-toggle").click(function(){
	  $(".toolbox").toggle();
	  });
	</script>



	<textarea name="body"></textarea>
	{% if not request.META.HTTP_HOST == "lumenwrites.com" %}
	{% include "elements/sprint.html" %}
	{% include "elements/progress-bar.html" %}
	{% endif %}	    	
      </div> <!-- end editor -->


      <br/>
      <div class="set-hubs">
	{{form.hubs}}
      </div>
      
      <button class="button small right" type="submit" id="savebutton" disabled>Save</button>

      <div class="clearfix"></div>
      <div style="width:100%; height: 20px"></div>
    </form>
    <!-- End Submit Form -->
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->



<!-- Editor -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>



<!-- Select2 -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>




<script>
    var simplemde;
var editor;
var sprintpercent;

function toolboxToggle(){
    $(".toolbox").toggle();
}

$('textarea').each(function() {
    simplemde = new SimpleMDE({
	element: this,
	autosave: {
            enabled: true,
            uniqueId: "{{user.username}}createdailyautosave",
            delay: 1000,
	},
    });
   simplemde.render();
    // Progress Bar
    //initialize
	editor = $(simplemde.element.parentNode.children[4]).parent()    
	words = editor.find(".words").html();
	percent = (parseFloat(words)/(1000))*100;
$(editor).find(".wordcountprogress").css("width",percent+"%")
	if (percent > 100) {
$(editor).find(".wordcountprogress").css("background","green");
	} else {
$(editor).find(".wordcountprogress").css("background","#008CBA");	    
	}
    
    simplemde.codemirror.on("change", function(){
	editor = $(simplemde.element.parentNode.children[4]).parent()
	words = editor.find(".words").html();
	percent = (parseFloat(words)/(1000))*100;
	$(editor).find(".wordcountprogress").css("width",percent+"%")
	if (percent > {{user.target_wordcount}}/10  ) {
	    	$(editor).find(".wordcountprogress").css("background","green");
	} else {
	    	$(editor).find(".wordcountprogress").css("background","#008CBA");	    
	}

	//Sprint
	// Increase health
	if (health < 12) {
    	    health=health + 0.5;
	}
	//Get number of words
	editor = $(simplemde.element.parentNode.children[4]).parent();
	words = editor.find(".words").html();
	// Progreess = words written - words before sprint.
	sprintpercent = ((parseInt(words)-wordsBeforeSprint)/(100))*100;
	// $(".sprintprogress").css("width",sprintpercent+"%")
	if (sprintpercent > 99 && sprint==true) {
	    $(".sprintprogress").css("background","green");
	    //    $(".tab-title").find("#"+currentSprint).prop('checked', true);
	    $(".goals").find(".active").find(".checkbox").prop('checked', true);    
	    health = 10;
	    $(".health").css("width","100%");
	    $(".sprintprogress").css("width","100%");
	    $(".health").css("background","green");
	    $(".start").removeClass("disabled");
	    clearTimeout(healthTimer);
	    sprint = false;
	} else if (sprint==true) {
	    // Words blue
	    $(".sprintprogress").css("background","#008CBA");	    
	}


    });
    
})


    // Multiselect
    $("#id_hubs").select2({
	placeholder: "Select hubs", // (maximum 4)
	allowClear: true,
	maximumSelectionLength: 4    
    })
    
    
</script>






<style>
.set-hubs {
    width: calc(100% - 120px);
    width: 200px;
    width: 100%;    
    float:left;
    margin-right: 420px;    
}

<!-- Container -->
.select2-container--default
.select2-selection--multiple, {
    border-color: #cccccc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #cccccc;
}


.select2-container--default .select2-selection--multiple {
    height: 50px;
}

.set-hubs input {
    margin-top: -7px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 10px;
}

#id_hubs {
    list-style-type: none;
    width:600px;
    width:100%;    
    padding: 0px;
}
    #id_hubs {
	list-style-type: none;
	width:400px;
	width:100%;
}

.select2-container {
width:100%!important;
}



<!-- Tags -->
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: none!important;
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 0px;
    border: none;
}

.select2-container--default .select2-search--inline .select2-search__field {
  box-shadow: none;
}

.CodeMirror {
  background: none;
}

{% if user.enable_dark_interface %}  
  .CodeMirror {
  background: #121212!important;
}
.editor-statusbar {
    background: #1A1B1B;
}
.prompt article {
background:#222222!important;
}
.prompttitle a {
    color: #CCCCCC;
}


{% endif %}  
</style>

{% endblock content %}

