{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<style>
  .panel {
  padding: 5px;
  margin-top:5px;
  }

  .CodeMirror {
  background: white!important;
  border-radius: 0!important;
  }

  .editor-toolbar {
  background: white!important;
  border-radius: 0px!important;
  }

  .editor-statusbar {
      border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background: #f2f2f2;
  color: #333333;
  padding: 5px;
  margin-top:-1px;
  }

  #id_title {
  padding: 24px 10px;
  }

  #id_title, .CodeMirror, textarea {
  font-size: 21px!important;
  }

  .button.small {
    border-radius: 0;
    padding: 15px 25px;
  }
</style>


<div id="page"  class="postPage">

<div class="row">
  <div class="large-12 columns">
    <br/>
    {% if prompt %}
    <p>{{prompt.body}}</p>
    {% endif %}    
    {{test}}
    {{form.errors}}
    {{form.non_field_errors}}
    <!-- Submit Form -->

    <form
       {% if challenge %}
       action="{{challenge.get_absolute_url}}/submit-story"       
       {% elif prompt %}
       action="{{prompt.get_absolute_url}}/reply"
       {% else %}
       action="/story/add"
       {% endif %}       
       method="post">{% csrf_token %}
      {{form.title}}
      <div class="editor">
      	{{form.body}}
      </div>
      <div class='markdown-preview'></div>

      <br/>
      <div class="set-hubs">
	{{form.hubs}}
      </div>
      
      <button class="button small right" type="submit">Create</button>

      <div class="clearfix"></div>
      <div style="width:100%; height: 20px"></div>
    </form>
    <!-- End Submit Form -->
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->

{% include "posts/editor.html" %}

{% endblock content %}

