{% load staticfiles %}
<!-- Editor -->
<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css"> -->
<!-- <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script> -->
<!-- <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script> -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


<!-- Markdownify -->
<!-- <link rel="stylesheet" href="{% static "/static/codemirror/lib/codemirror.css" %}" /> -->
<!-- <script src="{% static "/static/codemirror/lib/codemirror.js" %}" type="text/javascript"></script> -->
<script src="{% static "/static/codemirror/mode/markdown/markdown.js" %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static "/static/markdownify/jquery.markdownify.css" %}" />
<script src="{% static "/static/markdownify/jquery.markdownify.js" %}" type="text/javascript"></script>

<script src="{% static "/static/js/editor.js" %}" type="text/javascript"></script>

<script>
$(document).ready(function(){
    var simplemde = new SimpleMDE();
    simplemde.render();    

    // Multiselect
    $("#id_hubs").select2({
	placeholder: "Select hubs", // (maximum 4)
	allowClear: true,
	maximumSelectionLength: 4    
    })
})
</script>



<style>
.set-hubs {
    width: calc(100% - 120px);
    width: 200px;
    width: 100%;    
    float:left;
    margin-right: 420px;    
}


#id_hubs {
    list-style-type: none;
    width:600px;
    width:100%;    
    padding: 0px;
}
@media screen and (max-width: 1300px) {
    #id_hubs {
	list-style-type: none;
	width:400px;
	width:100%;
    }
}



.CodeMirror {
  background: none;
}

</style>
