    <!-- Editor -->
    
    <style>
      .CodeMirror, .CodeMirror-scroll {
      height: 100px;            
      min-height: 100px!important;      
      }

      .editor-statusbar {
      display:none;
      }
    </style>
    <form action="/post/create" method="post">{% csrf_token %}
      <div class="editor">
	<textarea style="height:100px;" name="body" placeholder="Write here..."></textarea>
      </div>
      <div class="panel" style="padding:2px;
				margin:0;">
	<input type="text"
	       name="hubs"
	       style="float: left;
		      width: calc(100% - 120px);
		      padding: 0 10px;
		      height: 35px;
		      margin:0;"
	       id="hub-selector"
	       placeholder="#startups #technology">
	<div style="
		    margin: 3px 8px;
		    float: left;">
	  412
	</div>
    </form>      

    <button class="button small right" type="submit" id="savebutton"
	      style="height:40px;border-radius:0;
		     background-color:#3D455B;
		     padding:10px 20px;
		     margin:-3px;">Post</button>
    <div class="clearfix"></div>
    </div>    
    <!-- Editor -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
      $('textarea').each(function() {
      simplemde = new SimpleMDE({
      element: this,
      autosave: {
      enabled: true,
      uniqueId: "{{user.username}}createdailyautosave",
      delay: 1000,
      },
      toolbar: [],
      });
      simplemde.setSize(500, 300);
      simplemde.render();
      });      
    </script>




