{% extends "base.html" %}
{% block content %}

<div id="page"  class="postPage">
  <div class="row fullWidth">
    <!-- Keep in mind to add subnav if there's a convenient need for it. -->
    <div class="large-3 columns sidebar">
      <!-- Sidebar -->
      <ul class="side-nav">
	<!-- Story title -->
	<li><a class="nav-story-title" href="/story/{{story.slug}}/edit">{{story.title}}</a></li>
	<hr/>
	<a class="button small" href="/story/{{story.slug}}/add">Add Chapter</a>
      </ul>
      <!-- List of chapters -->
      <ul class="side-nav chapters">
	{% for chapter in story.children.all %}
	<div class="chapter-title">
	  <li>
	    <a href="{{chapter.get_absolute_url}}/edit">{{chapter.number}} : {{chapter.title}}</a>
	  </li>
	</div>
	<div class="chapter-arrows"> 
	  <a href="{{chapter.get_absolute_url}}/down"
	     class="chapter-button chapter-arrow">&#9650;</a>
	  <a href="{{chapter.get_absolute_url}}/up"
	     class="chapter-button chapter-arrow">&#9660;</a>
	</div>
      <div class="clearfix"></div>	
	{% endfor %}
      </ul>
      <div class="clearfix"></div>
      <div style="width:100%; height: 20px"></div>
    </div>

    
    <div class="large-9 columns">
      <br/>
      <!-- Panel looks pretty, keep it just in case
      <div class="panel">
      <a>Harry Potter and The Methods of Rationality</a> >
      <span>Comparing Reality To Its Alternatives</span>
      </div>
      -->

      <!-- Story Edit Form -->
      <!-- {{form.errors}} -->
      {{form.non_field_errors}}
      {% if action = "story_edit" %}
      <form action="/story/{{story.slug}}/edit" method="post">
      {% elif action = "chapter_create" %}
      <form action="/story/{{story.slug}}/add" method="post">	
      {% elif action = "chapter_edit" %}
      <form action="/story/{{story.slug}}/{{chapter.slug}}/edit" method="post">
      {% endif %}	
      {% csrf_token %}
      {{form.title}}
      <div class="editor">
	{{form.body}}
      </div>
      <br/>

      <!-- Hub multiselect -->
      {% if action != "chapter_create" and action != "chapter_edit" %}
      <div class="set-hubs">
	{{form.hubs}}
      </div>
      {% endif %}
      <br/>

      <!-- Buttons -->
      <!-- Delete Story/Chapter Buttons -->
      {% if action = "story_edit" %}
      <a href="#" data-reveal-id="deleteStory"
	 class="button small delete-chapter">Delete Story</a>
      {% elif action = "chapter_edit" %}
      <a href="#" data-reveal-id="deleteChapter"
	 class="button small delete-chapter">Delete Chapter</a>
      {% endif %}	
      <!-- Delete story popup. -->
      <div id="deleteStory" class="reveal-modal"
	   data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle"> Confirm </h2>
	<p class="lead">Are you sure you want to delete this story?</p>
	<!-- Button -->
	<a href="/story/{{story.slug}}/delete"
	   class="button small confirm-delete">Delete</a>      	
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
      <!-- Delete chapter popup. -->
      <div id="deleteChapter" class="reveal-modal"
	   data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle"> Confirm </h2>
	<p class="lead">Are you sure you want to delete this chapter?</p>
	<!-- Button -->
	<a href="/story/{{story.slug}}/{{chapter.slug}}/delete"
	   class="button small confirm-delete">Delete</a>  
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>	
	
      <div class="edit-buttons">
	<br/>

	<!-- View/Publish/Save buttons -->
	{% if action = "story_edit" %}	  
	<a href="/story/{{story.slug}}" class="button small view">View</a>
	  {% if user.approved %}	  	  
	    {% if not story.published %}	  
	    <a href="/story/{{story.slug}}/publish" class="button small">Publish</a>
	    {% else %}
	    <a href="/story/{{story.slug}}/unpublish" class="button small view">Unpublish</a>
	    {% endif %}
	  {% else %} <!-- If not approved -->
	    <!-- 
	    {% if not story.published %}	  
	    <a href="/story/{{story.slug}}/publish" class="button small">Submit to Limbo</a>
	    {% else %}
	    <a href="/story/{{story.slug}}/unpublish" class="button small view">Ubsubmit</a>
	    {% endif %}
	    -->
	    {% if not story.published %}	  
	    <a href="/story/{{story.slug}}/publish" class="button small">Publish to my blog</a>
	    <i class="fa fa-question-circle"
	       style="font-size:22px;margin-right:10px;"
	       data-dropdown="drop2" aria-controls="drop1" aria-expanded="false"
	       data-options="align:top; is_hover:true; hover_timeout:5000"></i>
	    <div id="drop2" data-dropdown-content class="f-dropdown large"
		 aria-hidden="true" tabindex="-1">
	      <p>Your story will be published to your
		<a href="/user/{{user.username}}">blog</a>.<br/>
		Once you gain 50+ karma, or receive an invite,<br/>
		your posts will be displayed on the main site.<br/>
		Every day invites are granted to authors of the best stories.</p>
	    </div>
	    {% else %}
	    <a href="/story/{{story.slug}}/unpublish" class="button small view">Unpublish</a>
	    {% endif %}	    
	  {% endif %}	    	    
	{% elif action = "chapter_edit" %}
	<a href="/story/{{story.slug}}/{{chapter.slug}}"
	   class="button small view" type="submit">View</a>	  
	{% endif %}		  
	<button class="button small" type="submit">Save</button>
	</div>
	<div class="clearfix"></div>
	<div style="width:100%; height: 20px"></div>
      </form>
      <!-- End Submit Form -->
    </div> <!-- End 9 columns -->
</div>	 <!-- End row -->

{% include "posts/editor.html" %}

{% endblock content %}

