      <header class="orangemind-header">
	<div class="row" >
          <div class="large-6 small-6 columns" >
            <a href="/"><img id="orange-mind-logo" src="/static/orangemind/img/orangeMindLogo.png" /></a>
          </div>
          <div class="large-6 small-6 columns" id="mainMenu">
	    <ul>
	      <li><a href="/">Home</a></li>
	      <!-- <li><a href="http://fictionhub.io/u/rayalez"> Fictionhub</a></li> -->
	      <!-- <li><a href="http://fictionhub.io/user/rayalez/subscribe">Subscribe</a></li> -->

	      <!-- 
	      <li>
		<a href="https://gumroad.com/l/Drca">My book(s)</a>
	      </li>
	      -->	      
 	      <li>
	      	<a href="https://www.patreon.com/rayalez">Patreon</a>
	      </li>	      
	      <!-- 
	      <li>
		<a href="http://fictionhub.io/user/rayalez/about">About</a>
	      </li>
	      -->
	      <li>
		<a href="#" data-reveal-id="subscribePopup">Subscribe</a>
	      </li>	      
	    </ul>
	  </div>
	</div>
      </header>




<div id="subscribePopup" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <!-- <h2 id="modalTitle">Enter your email.</h2> -->
  <!-- <p class="lead">Your couch.  It is mine.</p> -->
  <!-- <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p> -->

    <div id="mc_embed_signup" style="/* margin-left:60; float: right;*/">
      <form action="//orangemind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=6b00e5a9f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
	  
	  <!-- <span class="rss-icon"><a href="/story/{{post.slug}}/feed"><i class="fi-rss large"></i></a></span>	     -->

          <input class="required email"
                 id="mce-EMAIL"
                 name="EMAIL"
                 placeholder="Enter your email"
                 type="email"
                 value=""
		 style="/*width: 65%;*/
			height: 52px;
			float: left;
			margin: 0;"/>
          <input class="small button right"
                 id="subscribeButton"
                 name="subscribe"
                 type="submit"
                 value="Subscribe"
		 style="width:100%;
			margin-top:4px;
			"/>
        </div>

        <div class="clear" id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none">&nbsp;</div>
          <div class="response" id="mce-success-response" style="display:none">&nbsp;</div>
        </div>
      </form>
    </div>
  
  <!-- <a class="close-reveal-modal" aria-label="Close">&#215;</a> -->
</div>      
