      <header class="orangemind-header">
	<div class="row" >
          <div class="large-6 columns" >
            <a href="/"><img id="orange-mind-logo" src="/static/orangemind/img/orangeMindLogo.png" /></a>
          </div>
          <div class="large-6 columns" id="mainMenu">
	    <ul>
	      <li>
		<a href="/user/rayalez/">Home</a>
	      </li>
	      <li>
		<a href="http://fictionhub.io/u/rayalez"> fictionhub</a>
	      </li>
	      <!-- 
	      <li>
		<a href="http://fictionhub.io/user/rayalez/subscribe">Subscribe</a>
	      </li>
	      -->
	    </ul>
	  </div>
	</div>
      </header>


      
