{% extends "base.html" %}
{% load markdownify %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block content %}
<div id="page"  class="postPage">
  <div class="row">
    <div class="large-12 columns">
	  <!-- {% if post.parent.post_type == "story" %} -->
	  <!-- <h1> <a class="black" href="{{post.parent.get_absolute_url}}"> -->
	  <!--     {{post.parent.title}}</a> </h1> -->
	  <!-- {% endif %}       -->
      <article>
	{% if post.post_type != "wiki"  %}
	{% include "posts/vote.html" %}
	{% endif %}
	<!-- Post Header -->
	<header class="post-header">
	<!-- chapters				     				
	{% if post.post_type == "chapter" %}						     
	<select style="width:auto; padding-right: 20px; margin-top: 5px; float:right;
		       line-height: 22px;
">
	  <option value="{{post.parent.get_absolute_url}}">{{post.parent.title}}</option>
	  {% for child in post.parent.children.all %}
	  <option value="{{child.get_absolute_url}}">{{child.title}}</option>
	  {% endfor %}	  
	</select>
	{% endif %} -->

	  {% if user == post.author or user.is_staff or post.post_type == "wiki"  %}
	  <a class="edit-post" style="margin:14px;" href="{{post.get_absolute_url}}/edit">Edit</a>
	  {% endif %}
	  <h1> {{post.title}} </h1>	    
	    
	  {% if post.post_type != "wiki" and post.post_type != "chapter" %}		    
	  <span class="post-tagline"><!-- submitted 14 days ago -->
	    by <a {% if post.author.website and post.author.external_url %}	  
		  href="{{post.author.website}}"
		  {% else %}	
		  href="/user/{{post.author.username}}"
		  {% endif %}>
	      {{post.author}}</a>
	  </span>
	  {% endif %}		  

	    <hr />
	</header>
	<!-- Post Body -->
	{{post | markdownify | safe }}

	<div class="clearfix"></div>
	<br/>
	{% if post.post_type == "story" and post.children.all %}	
	<div class="panel" id="toc">
	  {% for chapter in post.children.all %}	  
	  <ul>
	    <li><a href="{{chapter.get_absolute_url}}">{{chapter.title}}</a></li>
	  </ul>
	  {% endfor %}
	</div>
	{% endif %}	

	{% if post.post_type == "challenge" %}
	    {% if post.state == "open" %}
	        {% if user.is_authenticated %}
	        <a class="button small"
	           href="{{post.get_absolute_url}}/submit-story">Submit a story</a>
	        {% else %}
	        <a class="button small"
	           href="/login/?next={{request.path}}">Login to submit a story</a>
	        {% endif %}
	    {% elif post.state == "voting" %}
	    <a class="button small"
	       href="{{post.get_absolute_url}}/submissions">View submissions </a>
	    {% elif post.state == "completed" %}
	    <a class="button small"
	       href="{{post.get_absolute_url}}/submissions">View results</a>
	    {% endif %}				    
	{% endif %}			
						
	<!-- Button read prev -->
	{% if prev_chapter %}
	<a class="button small previous-chapter left" style="z-index: 2;"
	   href="{{prev_chapter.get_absolute_url}}">< Previous</a>
	{% elif chapter %} <!-- If this is a chapter - go back to story -->
	<a class="button small previous-chapter left" style="z-index: 2;"
	   href="{{post.parent.get_absolute_url}}">< Story</a>
	{% endif %}
	
	<!-- chapters				     				
        <div style="text-align: center;
		    width: 100%;
		    position: absolute;">
	{% if post.post_type == "chapter" %}						     
	<select style="width:auto; padding-right: 20px; margin-top: 5px; line-height: 22px;
">
	  <option value="{{post.parent.get_absolute_url}}">{{post.parent.title}}</option>
	  {% for child in post.parent.children.all %}
	  <option value="{{child.get_absolute_url}}">{{child.title}}</option>
	  {% endfor %}	  
	</select>
	{% endif %}
	</div> -->
	<!-- Button read next -->
	{% if first_chapter and post.post_type != "challenge" %}
	<a class="button small next-chapter"
	   href="{{first_chapter.get_absolute_url}}">Read ></a>
	{% elif next_chapter %}
	<a class="button small next-chapter"
	   href="{{next_chapter.get_absolute_url}}">Next ></a> 
	{% endif %}
	<div class="clearfix"></div>	
	<div style="width:100%; height: 20px"></div>	
      </article>
      
</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

<!-- Follow -->
<div class="row">
  <div class="large-12 columns">
    {% include "posts/post-footer.html" %}
  </div>
</div>

{% include "comments/comments.html" %}

</div>	 <!-- end page -->

<script>
  $('option[value="{{post.get_absolute_url}}"]').prop('selected', true)
  $('select').change(function() {
  window.location.replace($(this).val());
  });
</script>
{% endblock content %}

