{% extends "base.html" %}
{% load markdownify %}
{% load firstparagraph %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block head_extra %}
<meta name="description" content="{{post.body | firstparagraph | safe }}">
<meta property="og:description" content="{{post.body | firstparagraph | safe }}">
{% endblock %}


{% block content %}

<style>
  article {
  
  margin-top: 5px;
  background: white;
  padding: 20px;

  background: rgba(255,255,255,0.8);
}  
</style>



  


<div id="page"  class="postPage">
  <div class="row" id="posts">

  <div class="large-4 small-4 columns sidebar"> <!-- style="display:none;" -->
  {% include "elements/sidebar.html" %}  
  </div>
    
    <div class="large-8 small-8 columns post-columns">

      {% if orangemind %}      
      {% include "posts/orangemind-header.html" %}
      {% endif %}      

    <article style="padding:20px;    background: rgba(255,255,255,0.5);//#fff;
		    box-shadow: 0 1px 4px rgba(0,0,0,.04);
		    border: 1px solid rgba(0,0,0,.09);
		    border-radius: 3px;
		    padding-bottom:0;">
	<!-- Post Body -->
	{{post.body | markdownify | safe }}
	<div class="clearfix"></div>	
      </article>
      <div style="margin:-5px 20px 40px 20px;">
      {% include "elements/post-footer.html" %}      
      </div>



<!-- Comments -->
{% include "comments/comments.html" %}


<!-- orangemind -->
{% if orangemind %}      
<div class="clearfix"></div>	
<br/>
<footer class="orangemind orangemind-footer"></footer>
{% endif %}      

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

</div>	 <!-- end page -->

<script>
  $('option[value="{{post.get_absolute_url}}"]').prop('selected', true)
  $('select').change(function() {
  window.location.replace($(this).val());
  });
</script>

{% endblock content %}

