
<style>
  .post-footer .button.small {
  padding: 13px 20px;
  border-radius: 0;
  background:#3D455B;
  height: 42px!important;
  margin: 0;
  overflow: hidden;
  margin-bottom: -10px;
  }

  .button.upvote .fi-arrow-up {
  color: white;
      margin-right: 4px;
    line-height: 0;
  }

  .rss-icon {
  padding: 12px 9px!important;
  margin-left:5px!important;
  }
.fi-rss:before {
  line-height: 16px;
  color:white;
}  
</style>

<div class="post-footer-signup  post-footer panel padding-10">
  <div class="left stats" style="margin: 6px;">
	<!-- Vote in footer -->
    <div style="float: left;
    		margin-right: 8px;"> <!-- vote -->
    	    <i class="fi-arrow-up arrow"></i>
    	    <span class="score"> {{post.score}} </span>
	    
    </div>

    <a href="{{post.get_absolute_url}}#comments" style="margin-right:8px;">
      <span class="fi-comment"></span>
      <span style="float:left"> {{post.comments.count}} </span>
    </a>
    
	
	<span class="fi-eye"
	      style="font-size: 20px;
		     margin-right:10px;n">
	  {{post.views}}
	</span>


	<span class="fi-background-color"
	      style="font-size: 20px;
		     margin-right:10px;"
	      title="Number of words">
	  {{post.wordcount}}
	</span>
	

      {% for hub in post.hubs.all %}
      <a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>
      {% endfor %}
  </div>



  <div class="right">
    <a class="small button" href="/user/{{post.author.username}}">
      {{post.author}}

      <!-- Avatar -->
      {# {% if post.author.avatar %}      #}
      {# {% thumbnail post.author.avatar "40x40" crop="center" as im %} #}
	    <!-- <img src="{{im.url}}" class="avatar"/><br/> -->
	{# {% endthumbnail %}	   #}
      {# {% endif %}      	     #}
    </a>

    {% if not user == post.author %}
        {% if user.is_authenticated %}
        <a class="small button upvote {% if post in user.upvoted.all %}upvoted{% endif %}"
           id="post-upvote-{{post.id}}"    
           href="/login/?next={{request.path}}">
          {% if post in user.upvoted.all %}
              Upvoted
          {% else %}      
              <i class="fi-arrow-up"></i>Upvote
          {% endif %}
        </a>
        {% else %}
	<a class="small button upvote" data-open="login-popup">
	  <i class="fi-arrow-up"></i>Upvote</a>
        {% endif %}	
    {% else %}    
	<!-- Nothing -->
	<a class="small button upvote disabled">
	  <i class="fi-arrow-up"></i>Upvote</a> 
    {% endif %}    
	

      {% if not user == post.author %}
          {% if user.is_authenticated %}
              {% if user not in post.author.subscribers.all %}	
		   <a class="small button" 
		      href="/user/{{post.author.username}}/subscribe">
		     Subscribe
		   </a>
	      {% else %}
		   <a class="small button" 
		      href="/user/{{post.author.username}}/unsubscribe">
		     Subscribed
		   </a>
	      {% endif %}	
	  {% else %}	   
              <a class="small button" data-open="login-popup">
		Subscribe</a>
	      <!-- href="/login/?next={{request.path}}" -->
	  {% endif %}	   
      {% else %}
	      <!-- Nothing -->
	      <a class="small button disabled" >
		Subscribe
	      </a>
      {% endif %}

              <a class="button small rss-icon"
		 href="/user/{{post.author.username}}/feed/atom/">
	      <i class="fi-rss large"></i></a>
        </div> <!-- End Author -->
	<div class="clearfix"></div>

      </div>

<script>
$(document).ready(function(){
    // getting csrf token.
    function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
	    var cookies = document.cookie.split(';');
	    for (var i = 0; i < cookies.length; i++) {
		var cookie = jQuery.trim(cookies[i]);
		// Does this cookie string begin with the name we want?
		if (cookie.substring(0, name.length + 1) == (name + '=')) {
		    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		    break;
		}
	    }
	}
	return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    // Upvote
    function upvote(postId) {
	$.ajax({
	    type: "POST",
	    url: "/upvote/",
	    data: {"post-id": postId},
	    success: function(){
		var upvoteLink = $('#post-upvote-'+postId);
		upvoteLink.addClass('upvoted');
		upvoteLink.html("Upvoted");		
		upvoteLink.off("click");
		upvoteLink.click(function(){
		    var postId = parseInt(this.id.split("-")[2]);
		    return unupvote(postId);
		})
	    },
	    headers: {
		'X-CSRFToken': csrftoken
	    }
	});
	return false;
    }

    

    // Unupvote
    function unupvote(postId) {
	$.ajax({
	    type: "POST",
	    url: "/unupvote/",
	    data: {"post-id": postId},
	    success: function(){
		var upvoteLink = $('#post-upvote-'+postId);
		upvoteLink.removeClass('upvoted');
		upvoteLink.html("<i class='fi-arrow-up'></i>Upvote");				
		upvoteLink.off("click");
		upvoteLink.click(function(){
		    var postId = parseInt(this.id.split("-")[2]);
		    return upvote(postId);
		})
	    },
	    headers: {
		'X-CSRFToken': csrftoken
	    }
	});
	return false;
    }

    
    {% if user.is_authenticated %}
    //Connect functions
    $("a.upvote").click(function(){
	var postId = parseInt(this.id.split("-")[2]);
	return upvote(postId);
    })

    // Upvoted
    $("a.upvoted").click(function(){
	var postId = parseInt(this.id.split("-")[2]);
	return unupvote(postId);
    })
    
    {% endif %}
})
</script>
