<div class="post-footer-signup panel padding-10">
  <!-- Orangemind -->
  {% if orangemind %}
      <!-- Follow orangemind -->
    <span style="float:left"><p>Liked this post? Subscribe to updates!</p></span>
    <div id="mc_embed_signup" style="/* margin-left:60; float: right;*/">
      <form action="//orangemind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=6b00e5a9f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
	  
	  <!-- <span class="rss-icon"><a href="/story/{{post.slug}}/feed"><i class="fi-rss large"></i></a></span>	     -->

          <input class="small button"
                 id="subscribeButton"
                 name="subscribe"
                 type="submit"
                 value="Subscribe"/>
          <input class="required email"
                 id="mce-EMAIL"
                 name="EMAIL"
                 placeholder="Enter your email"
                 type="email"
                 value=""/>
        </div>

        <div class="clear" id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none">&nbsp;</div>
          <div class="response" id="mce-success-response" style="display:none">&nbsp;</div>
        </div>
      </form>
    </div>
  {% else %} <!-- if not orangemind -->
  <div class="left stats" style="margin: 6px;">
	<!-- Vote in footer -->
    <div style="float: left;
    		margin-right: 8px;"> <!-- vote -->
    	    <a href="/login/?next={{request.path}}"
    	       class="fi-arrow-up upvote arrow
    		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
    	       id="post-upvote-{{post.id}}"></a>
    	    <span class="score"> {{post.score}} </span>
	    
    </div>

    <a href="{{post.get_absolute_url}}#comments" style="margin-right:8px;">
      <span class="fi-comment"></span>
      <span style="float:left"> {{post.comments.count}} </span>
    </a>
    
	    <!-- 
	<span class="fi-arrow-up"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.upvoters.count}}	  
	</span>
	    
	<span class="fi-arrow-down"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.downvoters.count}}
	</span>
	-->
	
	<span class="fi-eye"
	      style="font-size: 20px;
		     margin-right:10px;n">
	  {{post.views}}
	</span>


	{% if post.children.all %}
	<!-- 
	<span class="fi-page-multiple"
	      style="font-size: 20px;
		     margin-right:10px;"
	      title="Number of chapters">
	  {{post.children.all|length}}
	</span>
	 -->
	{% endif %}	    

	<span class="fi-background-color"
	      style="font-size: 20px;
		     margin-right:10px;"
	      title="Number of words">
	  {{post.wordcount}}
	</span>
	

      {% for hub in post.hubs.all %}
      <a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>
      {% endfor %}
  </div>

	<div class="author">
	  <div style="margin: 6px;float:left;" class="post-footer-username">
	    {% if post.author.external_url and post.author.website %}
	    <a href="{{post.author.website}}">{{post.author}}</a>
	    {% else %}
	    <a href="/user/{{post.author.username}}">{{post.author}}</a>
	    {% endif %}	  
	    <span class="userkarma">{{post.author.karma}}</span>
	  </div>

	<!-- Subscribe/unsubscribe button -->
	{% if user.is_authenticated %}
	  {% if not user == post.author %} <!-- if it's not my story' -->

	    {% if post.author not in user.subscribed_to.all %} <!-- if not subscribed -->
	    <a class="small button usersubscribe" style="padding:10px;margin:0 10px;"
	       href="/user/{{post.author.username}}/subscribe">
	      Subscribe <span class="subscribers">{{post.author.subscribers.count}}</span>
	    </a>
	    <!-- 
	    <span class="rss-icon"><a href="/story/{{post.slug}}/feed"><i class="fi-rss large"></i></a></span>	    --> 
	    {% else %} <!-- if subscribed then unsubscribe -->
	    <a class="small button usersubscribe unsubscribe" style="padding:10px;margin:0 10px;"
	       href="/user/{{post.author.username}}/unsubscribe">
	      Unsubscribe <span class="subscribers">{{post.author.subscribers.count}}</span>
	    </a>
	    <!-- <span class="rss-icon"><a href="/story/{{post.slug}}/feed"><i class="fi-rss large"></i></a></span>	     -->
            {% endif %}
          

	  {% else %} 	<!-- user == post.author -->
	  <button class="small button usersubscribe" style="padding:10px;margin:0 10px;background-color:gray;cursor:auto;">
	    Subscribe <span class="subscribers">{{post.author.subscribers.count}}</span>
	  </button>	    
	  {% endif %}	<!-- user == post.author -->


        {% else %} <!-- if not authenticated then send to login -->
	<a class="small button usersubscribe" style="padding:10px;margin:0 10px;"
	   href="/login/?next={{request.path}}">
	  Subscribe <span class="subscribers">{{post.author.subscribers.count}}</span>
	</a>
	<!-- <span class="rss-icon"><a href="/story/{{post.slug}}/feed"><i class="fi-rss large"></i></a></span> -->
	{% endif %}
        </div> <!-- End Author -->
	<div class="clearfix"></div>
	{% endif %} <!-- endif orangemind -->
      </div>
