{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}
{% load age %}

{% block content %}
    
<div id="page"  class="posts-page">

{% include "posts/subnav.html" %}

<div class="row">
  <div class="large-12 small-12 columns posts">
{% if challenge.state = "open" %}
      <div class="panel">
	<p>Challenge "<a href="{{challenge.get_absolute_url}}">{{challenge.title}}</a>" is still receiving submissions.
	  Come back here next wednesday when voting will begin =)</p>
      </div>
{% else %}  
  
      {% if prompt %}
      <div class="panel">
	Prompt: <b>{{prompt.body}}</b>
      </div>
      {% endif %}      
   
    {% for post in posts %}
    <article>
      {% if post.post_type != "wiki"  %}
      {% include "posts/vote.html" %}
      {% endif %}      
      <!-- Header -->
      <header class="post-header">
	<a href="{{post.get_absolute_url}}">
	  <h1 class="left"> {{post.title}} </h1>
	</a>
	{% if user == post.author or user.is_staff or post.post_type == "wiki" %}
	<a class="edit-post" href="{{post.get_absolute_url}}/edit">Edit</a>
	{% endif %}
	{% if not post.published %}
	<span class="hub-tag right margins-side-20">Not published</span>
	{% endif %}	
	<div class="clearfix"></div>
	<!--
	<div class="right" style="/*margin-top: 16px;*/">
	  {% for hub in post.hubs.all %}
	  <a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>
	  {% endfor %}
	</div>
	<span class="post-tagline">
	  {% if post.post_type != "wiki" %}
    	    by
    	    {% if post.author.external_url %}
	    <a href="{{post.author.website}}">{{post.author}}</a>
    	    {% else %}
            <a href="/user/{{post.author.username}}">{{post.author}}</a>
     	    {% endif %}
     	    {% endif %}
     	</span>
	-->
	<hr />
      </header>
      <!-- Post Body -->
      {{post.body | markdownify:"True" | safe }}
      <div class="clearfix"></div>
      <!-- 
      <div class="readmore">
	<a href="{{post.get_absolute_url }}" class="right"> read more >>>> </a>
	<div class="clearfix"></div>
      </div>
      -->
      <!-- Post Footer -->


      <div class="panel" style="padding:8px;margin-top: 4px;">
	<!--
	<span class="fi-arrow-up"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.upvoters.count}}
	</span>	
	
	<span class="fi-arrow-down"
	      style="font-size: 20px;">
	  {{post.downvoters.count}}
	</span>
	-->

	<span class="fi-eye"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.views}}
	</span>

	<!-- 
	<span class="fi-comment"
	      style="font-size: 20px;
		     margin-right:10px;">
	  {{post.comments.count}}
	</span>
	-->
      	{% for hub in post.hubs.all %} <!-- Different between post and posts -->
      	<a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>
      	{% endfor %}

	<div class="right">
	  {{post.pub_date|age}}
	  by
	  {% if post.author.external_url %}
	  <a href="{{post.author.website}}">{{post.author}}</a>
	  {% else %}
	  <a href="/user/{{post.author.username}}">{{post.author}}</a>
	  {% endif %}
	</div>
      </div>
    </article>
    {% endfor %}

<!-- Pagination -->
<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}"><</a>
    {% endif %}

    <span class="current">
      Page {{ posts.number }}
      <!-- of {{ posts.paginator.num_pages }} -->
    </span>

    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">></a>
    {% endif %}
  </span>
</div>
{% endif %} <!-- End if not an open challenge -->
</div> <!-- End 12 columns -->

<div class="large-3 small-3 columns sidebar" style="display:none;">
  <br/>
  <!-- <h4>Hubs</h4> -->
  {% include "hubs/hubs-list.html" %}
</div>    

</div>	 <!-- End row -->
</div>	 <!-- end page -->

<script>
  $(function() {
      $("#toggle-hubs").bind('click',function(event){
	  event.preventDefault();
	  event.stopPropagation();
	  console.log("Ey!");
	  if ($(this).hasClass("expanded")) {
	      $(".posts").removeClass("large-9");
	      $(".posts").removeClass("small-9");	      
	      $(".posts").addClass("large-12");
	      $(".posts").addClass("small-12");  	      
	      $(".sidebar").hide();
	      $(this).removeClass("expanded");
	  } else {
	      $(".posts").removeClass("large-12");
	      $(".posts").removeClass("small-12");  	      
	      $(".posts").addClass("large-9");
	      $(".posts").addClass("small-9");	      
	      $(".sidebar").show();
	      $(this).addClass("expanded");
	  }

      });


  })
</script>
<style>
.second-lvl .hub-tag {
display:block;
}

.sidebar .hub-tag {
  background: rgba(119, 119, 119, 0.1);
}

.sidebar .hub-tag .number-of-stories {
position: absolute;
right: 48px;
line-height: 30px;
margin-top: 6px;
}

.children {
padding: 0px;
}
</style>
{% endblock content %}


