{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}
{% load firstparagraph %}
{% load age %}

{% block content %}
<div id="page" class="posts-page">

  {% include "posts/subnav-browse.html" %}


<style>
  p {
  margin-bottom:0;
  }
  .readmore {
  display:none;
  }

  hr {
    margin-bottom: 10px;
  }
  .posts-page .post-header h1 {
    font-size: 32px;
  }

  .hubs {
  margin-top:-32px!important;
  }
  

</style>  

<div class="row" id="posts">
  <div class="large-12 small-12 columns posts">


{% if challenge.state = "open" %}
      <div class="panel">
	<p>Challenge "<a href="{{challenge.get_absolute_url}}">{{challenge.title}}</a>" is still receiving submissions.
	  Come back here next wednesday when voting will begin =)</p>
      </div>
{% else %}  
  
      {% if prompt %}
      <div class="panel">
	Prompt: <b>{{prompt.body}}</b>
      </div>
      {% endif %}      
   
    {% for post in posts %}
    <article style="padding:20px;    background: rgba(255,255,255,0.5);//#fff;
		    box-shadow: 0 1px 4px rgba(0,0,0,.04);
		    border: 1px solid rgba(0,0,0,.09);
		    border-radius: 3px;">

      {% if post.post_type != "wiki"  %}
      {% include "posts/vote.html" %}
      {% endif %}      
      <!-- Header -->
      <header class="post-header">
	<a href="{{post.get_absolute_url}}">
	  <h1> {{post.title}} </h1>
	</a>
	{% if user == post.author or user.is_staff or post.post_type == "wiki" %}
	<a class="edit-post" href="{{post.get_absolute_url}}/edit" style="margin-top: 20px;">
	  <i class="fa fa-pencil"></i><!-- Edit --></a>
	{% endif %}
	{% if not post.published %}
	<span class="hub-tag right margins-side-20" style="position:relative;top:18px;">Not published</span>  
	{% endif %}
	<!-- <span class="hub-tag right margins-side-20 bold" style="margin-top: 20px;">$</span> -->
	<div class="clearfix"></div>
	<!--
	<div class="right" style="/*margin-top: 16px;*/">
	  {% for hub in post.hubs.all %}
	  <a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>
	  {% endfor %}
	</div>
	<span class="post-tagline">
	  {% if post.post_type != "wiki" %}
    	    by
    	    {% if post.author.external_url %}
	    <a href="{{post.author.website}}">{{post.author}}</a>
    	    {% else %}
            <a href="/user/{{post.author.username}}">{{post.author}}</a>
     	    {% endif %}
     	    {% endif %}
     	</span>
	-->
	<hr />
      </header>
      <!-- Post Body -->
      {# {{post | markdownify:"True" | safe }} #}
      {{post | markdownify:"True" | firstparagraph | safe  }} <!-- firstparagraph -->      
      <div class="clearfix"></div>
      
      <!-- 
      <div class="readmore">
	<a href="{{post.get_absolute_url }}" class="right"> read more >>>> </a>
	<div class="clearfix"></div>
      </div>
      -->
      <!-- Post Footer -->


      <div class="panel post-footer" style="padding:8px;margin-top: 4px; margin-bottom: 0;
				margin-bottom: -21px;
				margin-left: -21px;
				width: calc(100% + 42px);">
	<!-- <div class="large-8 small-8 columns"> -->
	<div class="stats left">
	  
	    
		<!-- <span class="fi-arrow-up" -->
		<!--       style="font-size: 20px; -->
		<!-- 	     margin-right:10px;"> -->
		<!--   {{post.upvoters.count}} -->
		<!-- </span>	 -->
		
		<!-- <span class="fi-arrow-down" -->
		<!--       style="font-size: 20px;"> -->
		<!--   {{post.downvoters.count}} -->
		<!-- </span> -->

	<!-- Vote in footer -->
    <div style="float: left;
    		margin-right: 8px;"> <!-- vote -->
    	    <a href="/login/?next={{request.path}}"
    	       class="fi-arrow-up upvote arrow
    		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
    	       id="post-upvote-{{post.id}}"></a>
    	    <span class="score"> {{post.score}} </span>	    
    </div>

    <a href="{{post.get_absolute_url}}#comments" style="margin-right:8px;">
      <span class="fi-comment"></span>
      <span style="float:left"> {{post.comments.count}} </span>
    </a>


	    <span class="fi-eye"
		  style="font-size: 20px;
		  margin-right:10px;"
		  title="Views">
	      {{post.views}}
	    </span>

	    {% if post.children.all %}
	    <!-- 
	    <span class="fi-page-multiple"
		  style="font-size: 20px;
		  margin-right:10px;"
		  title="Number of chapters">
	      {{post.children.all|length}}
	    </span>
	     -->
	    {% endif %}	    

	    <span class="fi-background-color"
		  style="font-size: 20px;
		  margin-right:10px;"
		  title="Number of words">
	      {{post.wordcount}}
	    </span>
	    
	    <!-- 
		 <span class="fi-comment"
		       style="font-size: 20px;
			      margin-right:10px;">
		   {{post.comments.count}}
		 </span>
		 -->
	  </div>
      	{% for hub in post.hubs.all %} <!-- Different between post and posts -->
      	<a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>
      	{% endfor %}
	<!-- </div> <\!-- end columns -\-> -->

	<!-- <div class="large-4 small-4 columns"> -->
	<div class="right">
	  <!-- {{post.pub_date|age}} -->
	  <!-- 
	  by
	  {% if post.author.external_url %}
	  <a href="{{post.author.website}}">{{post.author}}</a>
	  {% else %}
	  <a href="/user/{{post.author.username}}">{{post.author}}</a>
	  {% endif %}
	  -->
	</div>
	<!-- </div> <\!-- end columns -\-> -->
	<div class="clearfix"></div>
      </div>
    </article>
    {% endfor %}

<!-- Pagination -->
<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}"><</a>
    {% endif %}

    <span class="current">
      Page {{ posts.number }}
      <!-- of {{ posts.paginator.num_pages }} -->
    </span>

    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">></a>
    {% endif %}
  </span>
</div>
{% endif %} <!-- End if not an open challenge -->


{% if orangemind %}
<!-- orangemind -->
<footer class="orangemind-footer"></footer>
{% endif %}

</div> <!-- End 12 columns -->

<div class="large-3 small-3 columns sidebar" style="display:none;">
  <br/>
  <!-- <h4>Hubs</h4> -->
  {# {% include "hubs/hubs-list.html" %} #}
</div>    

</div>	 <!-- End row -->
</div>	 <!-- end page -->

<script>
  $(function() {
      $("#toggle-hubs").bind('click',function(event){
	  event.preventDefault();
	  event.stopPropagation();
	  if ($(this).hasClass("expanded")) {
	      $(".posts").removeClass("large-9");
	      $(".posts").removeClass("small-9");	      
	      $(".posts").addClass("large-12");
	      $(".posts").addClass("small-12");  	      
	      $(".sidebar").hide();
	      $(this).removeClass("expanded");
	  } else {
	      $(".posts").removeClass("large-12");
	      $(".posts").removeClass("small-12");  	      
	      $(".posts").addClass("large-9");
	      $(".posts").addClass("small-9");	      
	      $(".sidebar").show();
	      $(this).addClass("expanded");
	  }

      });


  })
</script>
<style>

.posts .hub-tag {
display:block;
float:left;
margin-right: 5px;
}  
.second-lvl .hub-tag {
display:block;
}

.sidebar .hub-tag {
  background: rgba(119, 119, 119, 0.1);
}

.sidebar .hub-tag .number-of-stories {
position: absolute;
right: 48px;
line-height: 30px;
margin-top: 6px;
}

.children {
padding: 0px;
}
</style>
{% endblock content %}


