<!-- Subnav -->
<div class="subnav">  
  <div class="row">
    {% if userprofile %}
    <div class="large-6 small-6 columns">
    {% else %}
    <div class="large-7 small-7 columns">
    {% endif %}            

    {% if not challenge %}    
      <div class="{% if userprofile %}profile{% endif %} rank-types">
	<a href="{{filterurl}}/hot/"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
	<a href="{{filterurl}}/new/"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>

	<a href="{{filterurl}}/top/all-time/">
	  <span {% if rankby == "top" %}class="bold"{% endif %}>Top</span></a>
	{% if rankby == "top" and not userprofile %}
	<a href="{{filterurl}}/top/all-time/">
	  <span {% if timespan = "all-time" %}class="bold"{% endif %}>All time</span></a>
	<a href="{{filterurl}}/top/year/">
	  <span {% if timespan = "year" %}class="bold"{% endif %}>Year</span></a>
	<a href="{{filterurl}}/top/month/">
	  <span {% if timespan = "month" %}class="bold"{% endif %}>Month</span></a>
	<!-- While website is not being updated that often.
	<a href="{{filterurl}}/top/day">
	  <span {% if timespan = "day" %}class="bold"{% endif %}>Day</span></a>
	 -->
	{% endif %} <!-- end rankby top, showing timespans -->
	{% else %}	    <!-- if it's a challenge -->
	Challenge: <a href="{{challenge.get_absolute_url}}" class="challenge-title">{{challenge.title}}</a>
     {% endif %}    <!-- end if not challengestate -->



	{% if userprofile and userprofile.comments.all %}
	<a href="/user/{{userprofile.username}}/comments">
	  <span {% if filterby = "comments_user" %}class="bold"{% endif %}>Comments</span></a>
	{% endif %}	
      </div>
    </div>

    {% if userprofile %}    
    <div class="large-6 small-6 columns">
      <div style="float:right;">
	<!-- <a> Store </a>	 -->
	{% if userprofile.website %}
	<a href="{{userprofile.website}}" style="margin: 10px 0;"> Website </a>
	{% endif %}
	{% if userprofile.about %}
	<a href="/user/{{userprofile.username}}/about" style="margin: 10px 0;"> About </a>
	{% endif %}

	{% if user.is_authenticated %}	
	  {% if not userprofile == user %}
	    {% if userprofile not in subscribed_to %}	
	    <a class="small button usersubscribe" style="padding:10px;margin:0 10px;
							 padding: 5px;margin: 4px 10px;"
	       href="/user/{{userprofile.username}}/subscribe">
	      Subscribe<span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	    {% else %}
	    <a class="small button usersubscribe unsubscribe" style="padding:10px;margin:0 10px;
								     padding: 5px;margin: 4px 10px;"
	       href="/user/{{userprofile.username}}/unsubscribe">
	      Ubsubscribe<span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	    {% endif %}
          {% else %} <!-- if it's myself -->
	      <!-- Subscribers: {{userprofile.subscribers.count}} -->
	  {% endif %}
        {% else %} <!-- if not authenticated -->
	<a class="small button usersubscribe" style="padding:10px;margin:0 10px;
						     padding: 5px;margin: 4px 10px;"
	   href="/login/?next={{request.path}}">
	  Subscribe <span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	{% endif %}

	  <b style="margin:10px 0;"> {{userprofile.username}} </b>
	  <span style="margin:10px 0;" class="userkarma">{{userprofile.karma}}</span>
      </div>
    </div> <!-- end 5 columns -->
    {% else %}
    <div class="large-5 small-5 columns">
	<!-- <a class="button small left fi-magnifying-glass right" -->
	<!--    style="border-radius:0;padding:13px;background:#bbbbbb;margin:0;"></a> -->

	{% if filterurl != "/search" and filterurl != "/user" and filterurl != "/subscriptions" and not challenge %}	
	<form action="/search/" method="post">{% csrf_token %}
	  <i class="fi-magnifying-glass right"
	     style="position: relative;
		    right: 28px;
		    width: 0;
		    top: 12px;
		    color: #cccccc;"></i>
	<input type="text" class="right searchbar" name="query">
	</form>
	{% endif %}	  	  

      <!-- Dropdown -->
      <div class="right">
	<!-- Dropdown link -->
	{% if filterby != "subscriptions" and filterurl != "/search" and not challenge %}	
	<a data-dropdown="hubs-dropdown" class="hubs-dropdown"
	   aria-controls="hubs-dropdown" aria-expanded="false">Hub</a>
	{% endif %}	  
	<!-- Dropdown hidden -->
	<ul id="hubs-dropdown" class="f-dropdown small" data-dropdown-content
	    aria-hidden="true" tabindex="-1">
	  {% for hub in hubs %}
	    {% if not hub.parent %}
	      {% if hub.posts.all %}
	        <li>
		  <a href="/hub/{{hub.slug}}/"> {{hub.title}}</a>
 	        </li>
	      {% endif %}

	      {% if hub.children.all %}
	        {% for child in hub.children.all %}
	          {% if child.posts.all %}
	          <ul>
	            <li class="dropdown-subitems">
	              <a href="/hub/{{child.slug}}/"> {{child.title}}</a>
	            </li>
	          </ul>
	          {% endif %}
	        {% endfor %}
	      {% endif %}
	    {% endif %}	  	  
	  {% endfor %}
	</ul>
      </div> <!-- end right -->

    </div>
    {% endif %}
  </div>
</div>
