{% load staticfiles %}
<!-- Subnav -->
<div style="background:url(/static/img/bg.jpg);
	    background-position-y: -320px;
	    display:none;
	    {% if solohub or userprofile.username == "rayalez" %}
	    display:block;
	    {% endif %}	    
	    ">
<div class="row">
  <div class="large-12 small-12 columns" style="padding-top:20px;padding-bottom: 14px;">
    {% if solohub %}
    <h1 style="color:#172630;font-weight:bold;color:white;margin-left:0px;margin-top: 2px;
	       text-shadow: 1px 1px 2px black;" class="left"> {{hubtitle}} </h1>
    <!-- <h2 style="color:#172630"> Subtitle </h1> -->
    <!-- 
    <button class="button small right"
	    style="margin-right:0px;
		   background: rgba(47, 51, 51, 0.9);"		   
    	    type="submit">Submit</button>
    -->
    <!-- 
    <button class="button small right"
	    style="margin-right:10px;
		   background: rgba(47, 51, 51, 0.9);"
    	    type="submit">Subscribe</button>
    -->
    <br/>
    <br/>    
    {% elif userprofile.username == "rayalez" %}	    
    <img src="{% static "/static/img/signature.png" %}"
	 style="width:64px;
		border-radius: 4px;
		float:left;
		margin-top: -8px;"/>

    <h1 style="color:#172630;font-weight:bold;color:white;margin-left:10px;margin-top: 2px;
	       text-shadow: 1px 1px 2px black;" class="left"> Ray Alez </h1>
    <!-- <img src="http://i.imgur.com/m6B4evF.png" style="float:left;margin: 4px 8px"/> -->

	{% if user.is_authenticated %}	
	    {% if userprofile not in subscribed_to %}	
            <a class="button small right subscribers-button"
               href="/user/{{userprofile.username}}/subscribe">
              Subscribe<span class="subscribers">{{userprofile.subscribers.count|add:"16"}}</span></a>
    	    {% else %}
            <a class="button small right subscribers-button"
               href="/user/{{userprofile.username}}/unsubscribe">
              Unsubscribe<span class="subscribers">{{userprofile.subscribers.count|add:"16"}}</span></a>
	    {% endif %}
        {% else %} <!-- if not authenticated -->
            <a class="button small right subscribers-button"
               href="/login/?next={{request.path}}">
              Subscribe<span class="subscribers">{{userprofile.subscribers.count|add:"16"}}</span></a>
	{% endif %}    
    <style>
      .subscribers {
      background: rgba(255, 255, 255, 0.86);
      padding: 0px 8px;
      float: right;
      margin-top: -2px;
      margin-bottom: -4px;
      }
      .subscribers-button {
      margin-right:0px;
      background: rgba(47, 51, 51, 0.9)!important;
      padding: 17px 14px!important;
      }
    </style>

    {% endif %}    
  </div>    
</div>
</div>
<div class="subnav">  
  <div class="row">
    {% if userprofile %}
    <div class="large-6 small-6 columns">
    {% elif solohub %}
    <div class="large-12 small-12 columns">
    {% else %}      
    <div class="large-9 small-9 columns"> <!-- large-7 -->
    {% endif %}            

    {% if challenge %}
    Challenge: <a href="{{challenge.get_absolute_url}}" class="challenge-title">{{challenge.title}}</a>    
    {% else %}    
      <div class="{% if userprofile %}profile{% endif %} rank-types">
	<a href="{{filterurl}}/hot/"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
	<a href="{{filterurl}}/new/"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>

	<a href="{{filterurl}}/top/all-time/">
	  <span {% if rankby == "top" and userprofile %}class="bold"{% endif %}>
	    Top {% if rankby == "top" and not userprofile %}:{% endif %}</span></a>
	{% if rankby == "top" and not userprofile %}
	<a href="{{filterurl}}/top/all-time/">
	  <span {% if timespan = "all-time" %}class="bold"{% endif %}>All time</span></a>
	<a href="{{filterurl}}/top/year/">
	  <span {% if timespan = "year" %}class="bold"{% endif %}>Year</span></a>
	<a href="{{filterurl}}/top/month/">
	  <span {% if timespan = "month" %}class="bold"{% endif %}>Month</span></a>
	<!-- While website is not being updated that often.
	<a href="{{filterurl}}/top/day">
	  <span {% if timespan = "day" %}class="bold"{% endif %}>Day</span></a>
	 -->
	{% endif %} <!-- end rankby top, showing timespans -->
     {% endif %}    <!-- end if not challengestate -->

	{% if userprofile and userprofile.comments.all %}
	<a href="/user/{{userprofile.username}}/comments">
	  <span {% if filterby = "comments_user" %}class="bold"{% endif %}>Comments</span></a>
	{% endif %}

	{% if not userprofile and filterby != "subscriptions" %}
	<!-- 
	<a href="" class="right" style="margin:0;">
	  <span style="margin:0;" class="">Limbo</span></a>
	 -->
	{% endif %}	
      </div>
    </div>
    

    {% if userprofile %}
    {% if userprofile.username != "rayalez" %}
    <div class="large-6 small-6 columns">
      <div style="float:right;">
	<!-- <a> Store </a>	 -->
	{% if userprofile.website %}
	<a href="{{userprofile.website}}" style="margin: 10px 0;"> Website </a>
	{% endif %}
	{% if userprofile.about %}
	<a href="/user/{{userprofile.username}}/about" style="margin: 10px 0;"> About </a>
	{% endif %}

	{% if user.is_authenticated %}	
	  {% if not userprofile == user %}
	    {% if userprofile not in subscribed_to %}	
	    <a class="small button usersubscribe" style="padding:10px;margin:0 10px;
							 padding: 5px;margin: 4px 10px;"
	       href="/user/{{userprofile.username}}/subscribe">
	      Subscribe<span class="subscribers">{{userprofile.subscribers.count}}</a>
	    {% else %}
	    <a class="small button usersubscribe unsubscribe" style="padding:10px;margin:0 10px;
								     padding: 5px;margin: 4px 10px;"
	       href="/user/{{userprofile.username}}/unsubscribe">
	      Ubsubscribe<span class="subscribers">{{userprofile.subscribers.count}}</a>
	    {% endif %}
          {% else %} <!-- if it's myself -->
	      <!-- Subscribers: {{userprofile.subscribers.count}} -->
	  {% endif %}
        {% else %} <!-- if not authenticated -->
	<a class="small button usersubscribe" style="padding:10px;margin:0 10px;
						     padding: 5px;margin: 4px 10px;"
	   href="/login/?next={{request.path}}">
	  Subscribe <span class="subscribers">{{userprofile.subscribers.count}}</a>
	{% endif %}

	  <b style="margin:6px 0;"> {{userprofile.username}} </b>
	  <span style="margin:6px 0;" class="userkarma">{{userprofile.karma}}</span>
      </div>
    </div> <!-- end 5 columns -->
    {% endif %}    <!-- endif rayalez profile -->
    {% else %}     <!-- endif userprofile -->
	{% if filterurl != "/user" and filterurl != "/subscriptions" and filterby != "hub" and not challenge and not solohub %}	
    <div class="large-3 small-3 columns">
	  <i class="fi-magnifying-glass right"
	     style="position: relative;
		    right: 28px;
		    width: 0;
		    top: 12px;
		    color: #cccccc;"
	     ></i>
	  <input placeholder="" name="query" value="{{query}}"
		 type="text" class="right searchbar" form="search-form"
		 id="search-input">
	<!-- <a class="hubs-dropdown right" id="toggle-hubs">Hubs</a> -->
    </div>
    {% endif %}

    {% endif %}
  </div>
</div>
