{% load staticfiles %}
{% load markdownify %}

{% if solohub or userprofile %}
{% include "elements/subheader.html" %}
{% endif %}
<!-- Subnav -->
<div class="subnav">  


  <div class="row">

    <div class="large-9 small-9 columns">

      <!-- Rank -->
      <div class="{% if userprofile %}profile{% endif %} rank-types">
	{% if not userprofile %}
	<a href="{{filterurl}}/hot/" id="hot"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
	{% endif %}
	<a href="{{filterurl}}/new/" id="new"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>

	<a href="{{filterurl}}/top/all-time/">
	  <span {% if rankby == "top" and userprofile %}class="bold"{% endif %}>
	    Top {% if rankby == "top" and not userprofile %}:{% endif %}</span></a>
	{% if rankby == "top" and not userprofile %}
	<a href="{{filterurl}}/top/all-time/">
	  <span {% if timespan = "all-time" %}class="bold"{% endif %}>All time</span></a>
	<a href="{{filterurl}}/top/year/">
	  <span {% if timespan = "year" %}class="bold"{% endif %}>Year</span></a>
	<a href="{{filterurl}}/top/month/">
	  <span {% if timespan = "month" %}class="bold"{% endif %}>Month</span></a>
	<!-- While website is not being updated that often.
	     <a href="{{filterurl}}/top/day">
	       <span {% if timespan = "day" %}class="bold"{% endif %}>Day</span></a>
	     -->
	{% endif %} <!-- end rankby top, showing timespans -->

	<!-- Subscritions -->
	{% if user.is_authenticated %}
	{% if user.subscribed_to.count > 0 %}
	<a href="/subscriptions/new/">
	  <span {% if filterby = "subscriptions" %}class="bold"{% endif %}>Subscriptions</span>
	</a>
	{% endif %}
	{% endif %}

	{% if not userprofile and filterby != "subscriptions" and not solohub %}
	<span  id="toggle-hubs" style="float:right;cursor:pointer;" class="">Categories</span>
	
	{% endif %}	
      </div> <!-- Close rank types -->
    </div> <!-- Close 9 columns -->


      {% if filterurl != "/user" and filterurl != "/subscriptions" and filterby != "hub" and not challenge and not solohub and not userprofile %}

      <div class="large-3 small-3 columns">
	<!-- Search -->
	<i class="fi-magnifying-glass right"
	   style="position: relative;
	  	  right: 28px;
	  	  width: 0;
	  	  top: 12px;
	  	  color: #cccccc;"
	   ></i>
	<input placeholder="" name="query" value="{{query}}"
	       type="text" class="right searchbar" form="search-form"
	       id="search-input">
      </div> <!-- Close 4 columns -->
      
      {% endif %}

      <div class="clearfix"></div>

  </div>   <!-- Close row -->
</div>   <!-- Close subnav -->  

