<!-- Subnav -->
<div class="subnav">  
  <div class="row">
    <div class="large-5 small-8 columns">

    {% if not challenge %}    
      <div class="{% if userprofile %}profile{% endif %} rank-types">
	<a href="{{filterurl}}/hot/"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
	<a href="{{filterurl}}/new/"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>

	<a href="{{filterurl}}/top/all-time/">
	  <span>Top{% if rankby == "top" %}:{% endif %}</span></a>
	{% if rankby == "top" and not userprofile %}
	<a href="{{filterurl}}/top/all-time/">
	  <span {% if timespan = "all-time" %}class="bold"{% endif %}>All time</span></a>
	<a href="{{filterurl}}/top/year/">
	  <span {% if timespan = "year" %}class="bold"{% endif %}>Year</span></a>
	<a href="{{filterurl}}/top/month/">
	  <span {% if timespan = "month" %}class="bold"{% endif %}>Month</span></a>
	<!-- While website is not being updated that often.
	<a href="{{filterurl}}/top/day">
	  <span {% if timespan = "day" %}class="bold"{% endif %}>Day</span></a>
	 -->
	{% endif %} <!-- end rankby top, showing timespans -->
	{% else %}	    <!-- if it's a challenge -->
	Challenge: <a href="{{challenge.get_absolute_url}}" class="challenge-title">{{challenge.title}}</a>
     {% endif %}    <!-- end if not challengestate -->

      </div>
    </div>

    <!--  
    <div class="large-4 small-4 columns">
      <input type="text" class="right searchbar" name="query"
	     placeholder="Hubs">
    </div>
    -->
    <div class="large-3 small-4 columns">
	<!-- <a class="button small left fi-magnifying-glass right" -->
	<!--    style="border-radius:0;padding:13px;background:#bbbbbb;margin:0;"></a> -->

	{% if filterurl != "/user" and filterurl != "/subscriptions" and not challenge %}	
	<form action="/search/" method="post" id="subnav-form">{% csrf_token %}
	  <i class="fi-magnifying-glass right"
	     style="position: relative;right: 28px;width: 0;top:12px;color: #cccccc;"></i>
	  <input type="text"
		 class="right searchbar"
		 name="query"
		 placeholder="Search"
		 value="{{query}}">
	</form>
	{% endif %}	  	  
    </div>


  </div>
</div>

<style>
  
.subnav .searchbar {
width:100%;
background:white;
}

</style>
