	<!-- Votes -->
	<div class="vote-column">
	  {% if filterby != "challenges" and post.post_type != "challenge" %}
	  <div class="vote">
	    {% if challenge.state != "completed" and post.parent.state != "completed" %}
	    <a href="/login/?next={{request.path}}"
	       class="fi-arrow-up upvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-upvote-{{post.id}}"></a>
	    {% endif %}	    
	    {% if challenge.state != "voting" and post.parent.state != "voting"  %}
	    <div class="score"> {{post.score}} </div>
	    {% endif %}
	    {% if challenge.state != "completed" and post.parent.state != "completed" %}	    
	    <a href="/login/?next={{request.path}}"
	       class="fi-arrow-down downvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-downvote-{{post.id}}"></a>
	    {% endif %}
	  </div>
	  {% endif %} <!-- end if not challenges -->
	  <!-- Comments  -->
	  <div class="post-comments">
	    <span class="fi-comment">
	      <a href="{{post.get_absolute_url}}#comments">
		<span class="number-of-comments"> {{post.comments.count}} </span>
	      </a>
	    </span>			      
	  </div>
	</div>
