{% extends "chaoslegion/base.html" %}
{% block content %}

<div id="page"  class="postPage">

  <div class="row">
    <div class="large-4 columns">
      <br/>

      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      
      <form method="post" action="/authenticate/">
	{% csrf_token %}
	{{form}}
	<!-- <table> -->
	<!--   <tr> -->
	<!--     <td>{{ form.username.label_tag }}</td> -->
	<!--     <td>{{ form.username }}</td> -->
	<!--   </tr> -->
	<!--   <tr> -->
	<!--     <td>{{ form.password.label_tag }}</td> -->
	<!--     <td>{{ form.password }}</td> -->
	<!--   </tr> -->
	<!-- </table> -->

	<input type="submit" class="button small" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
      </form>

      <!--
      <form action="/submit/" method="post">{% csrf_token %}
	{{form.as_p}}
	<div style="float:right;">
	  <button class="button small" type="submit">Save Draft</button>
	  <button class="button small" type="submit">Publish</button>      
	</div>
	
      </form> -->
      <!-- 
      <form action="/my-handling-form-page" method="post">
	<div>
          <input type="text" id="title" placeholder="Title" />
	</div>
	<div>
          <textarea id="text" style="height: 400px;"></textarea>
	</div>
	<div>
          <input type="text" id="mail" placeholder="1-4 hubs"/>
	</div>
	
	<div style="float:right;">
	  <button class="button small" type="submit">Save Draft</button>
	  <button class="button small" type="submit">Publish</button>      
	</div>
	</form> -->
    </div>	
</article>      

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

{% endblock content %}

