{% extends "chaoslegion/base.html" %}
{% block content %}

<div id="page"  class="postPage">

  <div class="row">
    <div class="large-12 columns">
      <br/>
      <p> <a href="/story/">Story</a> > Chapter Title </p>
      <form action="/submit/" method="post">
	<input placeholder="Title" type="text"></input>
	<div class="editor">
	  <textarea placeholder="Description">
	  </textarea>
	</div>
	<div style="float:right;">
	  <br/>
	  <button class="button small" type="submit">Save</button>
	</div>
	<div class="clearfix"></div>
	<div style="width:100%; height: 20px"></div>
      </form>
    </div>
    <!-- 
    <div class="large-4 columns sidebar">
      <br/>
      <br/>
      <ul>
	<li><a>Chapter 1</a></li>
	<li><a>Chapter 2</a></li>
	<li><a><b>Chapter 3</b></a></li>
	<li><a>Chapter 4</a></li>	
      </ul>
      <button class="button small" type="submit">Add Chapter</button>      
    </div>
     -->
</article>      

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

  <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
  <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
  <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>

<script>
  $(document).ready(function(){
  var editor = new Editor();
  editor.render();
  })
</script>  
{% endblock content %}

