<!-- Subnav -->
<div class="subnav">  
<div class="row">
  <div class="large-12 columns">
    <div class="rank-types">
      <a href="/"><span class="bold">All</span></a>
      <!-- <a href="/"><span>Unread</span></a> -->
      <!-- <a href="/"><span>Post replies</span></a> -->
      <!-- <a href="/"><span>Comment replies</span></a> -->
      <a href="/"><span>Comments</span></a>      
      <a href="/"><span>Messages</span></a>
      <a href="/"><span>Sent</span></a>            
      <!-- <a href="/"><span>Username mentions</span></a>                         -->
      <!-- <span>Notifications</span> -->
      <!-- <a href="/"><span>Comments</span></a> -->
      <!-- <a href="/"><span>Replies</span></a>             -->
      <!-- <span class="bold">Messages:</span> -->
      <!-- <a href="/"><span>Received</span></a> -->
      <!-- <a href="/"><span>Sent</span></a> -->
    </div>
  </div> 
</div>
</div>
