@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:200');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700');

/* For code */
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
@import url('http://fonts.googleapis.com/css?family=Kameron');
@import url('http://fonts.googleapis.com/css?family=Lato:200,300,400');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');

$orange:#f76300;
$blue: #008CBA;
$black: #3d454b;
$cream: #f6f3ea;

/* General */

* {
    font-family: "Titillium Web";
    font-family: 'Open Sans', sans-serif;
    color: $black;
}


html {
    font-size: 19px;
}

.row {
    max-width: 64em;
}

a {
	color: $orange;
}

h1, h2, h3, h4 {
    /* font-family: Lato; */
    font-weight: normal;
    color: $black;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0
    
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;    
}

h3 {
    font-size: 26px;
    margin: 10px 0 2px 0;
}

h4 {
    font-size: 21px;
    margin-top:10px;
    /* color: black; */
    font-weight: bold;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}


blockquote, blockquote p {
    line-height: 1.6;
    color: #6F6F6F;
    font-weight: normal;
}

blockquote strong {
    color: #6F6F6F;
}




#page {
    min-height:82vh;
}


#page li {
    margin-top: 10px;
}

li p {
    margin: 0px;
}

/* Helpers */

.hidden {
    display:none;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style: italic;
}
.right{
    float:right;
}

.left{
    float:left;
}

.black {
    color: $black;
}
.gray {
    background: gray!important;
}

.margins-10 {
    margin: 10px;
}

.margins-20 {
    margin: 20px;
}

.margins-side-20 {
    margin: 0 20px;
}

.padding-10 {
    padding: 10px;    
}

.padding-20 {
    padding: 20px;    
}

.grey {
    color: #bbbbbb;
}

.center-vertically {
    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Elements */
/* Elements */
.button {
	background-color: #f76301;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 5px #d05301;
}

.button:hover {
	background-color: #f76301;
	box-shadow: 0 4px #d05301;
	 position:relative;
    top:1px;
}

.button.small {
	background-color: $orange;
	box-shadow: none;
	/* font-family: Lato; */
	font-size: 16px;
	font-weight: normal;
	color: #fff;

}

.button.small:hover {
	background-color: $orange;
	box-shadow: none;
	/* font-family: Lato; */
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	top:0px;

}


/* Header */
#orange-line {
	background-color: #f66303;
	height:4px;
	width:100%;
}


header {
	height: 130;
	padding: 40px;
	padding-bottom: 20px;	
}

/* Logo */
.logo {
    font-family: "Titillium Web";
    color: $black;
    font-size: 36px;
}

.logo img {
  width: 50px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;  
}

.logo:hover,
.logo:focus,
.logo:visited{
    color: $black;
}



/* Main menu */
#mainMenu {
	margin-top: 10px;
	/* font-family: "Titillium Web"; */
	font-size: 16px;
	text-transform: uppercase;
	color: black;
	text-align: right;
}

#mainMenu a {
    color: black;
}

.selected a {
	color: $orange;
}

#mainMenu ul {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
}

#hubs-dropdown ul {
    margin-bottom: 0;
}

.dropdown-subitems {
    list-style-type:none!important;
}

.dropdown-subitems a {
    text-transform: none!important;
}

.avatar-icon {
    width: 40px;
    border-radius: 8px;
    margin-top: -4px;
    /* border: 4px solid rgb(246, 99, 3)   */
}

/* ================ Subnav ================ */

.subnav {
  /* padding: 10px; */
  margin: 10px;
  background-color: rgba(0,0,0,0.02);
}

.subnav .row .columns {
    /* padding: 10px; */
}

.subnav a, .subnav span {
    color: #bbbbbb;
    margin-bottom: -1px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
}

/* smaller space between links */
.subnav a, .subnav span {
  margin-right: 10px;
}



.rank-types {
    margin:10px 0;
}

.rank-types .bold {
    font-weight: bold;
    color: $black;
}

.subnav .challenge-title {
    font-weight: bold;
    color: $black;
    text-transform: none;
}
/* ================ User Profile ================ */
/* Subnav */
.userkarma {
  background: rgba(119, 119, 119, 0.2);
  padding: 4px;
  border-radius: 4px;    
}


.logout {
    width: 20px;
    float: right;
    margin: 14px;
    opacity: 0.4;
}

.profile .button.small {
    /* float: right; */
}

.profie .subnav {
    text-align: center;
}

.userdata {
    margin-bottom: 0;
}

.usersubscribe {
    text-transform: none!important; /* Why do I need important here? */
}

.unsubscribe {
    background: rgba(187, 187, 187, 0.8)!important;
}

.subscribers {
  background: white;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 0 !important;
  margin: 0 5px;
}

.profile.rank-types {
  margin-top: 10px!important;
}

.hubs-dropdown {
    margin: 10px;
}
.subnav .searchbar {
    background: none;
    width: calc(100% - 76px);
    /* remove hubs toggle */
    width: calc(100% - 5px);
    height:40px;
    /* margin: -6px 0;     */
    margin: 4px;
}

.subnav .searchbar:focus {
    background: white;
}


/* ================ Log in ================ */
.helptext {
    display:none;
}

/* ================ Page ================ */
#page li {
    margin-top: 10px;
}

li p {
    margin: 0px;
}

#page {
    background-color: #f6f3ea;
    /* padding-top: 20px; */
}

/* ================ Stories ================ */

article {
    margin-top: 20px;
/* margin-bottom: 80px; */
}

/* Votes */

.vote-column {
    width: 40px;
    float: left;
    margin-left: -52px;
}

@media screen and (max-width: 1300px) {
    .vote-column {    
        margin: 10px;
	margin-bottom: -12px;
    }
}

.vote {
    width: 40px;

    background: #edeceb;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
    float: left;
    margin: 0 11px 0 0;
    position: relative;
    text-align: center;

}

/* Defaut state */
.arrow,
.arrow:active,
.arrow:visited,{
    display: block;
    transform:scale(1.8,1);
    float:left;
    width: 100%;
    text-align: center;
    color: $black;
}

/* .fi-arrow-up, .fi-arrow-down, */
/* .fi-arrow-up:active, .fi-arrow-down:active, */
/* .fi-arrow-up:visited, .fi-arrow-down:visited{ */
/*     display: block; */
/*     transform:scale(1.8,1); */
/*     float:left; */
/*     width: 100%; */
/*     text-align: center; */
/*     color: $black; */
/* } */

/* Upvote hover is orange */
.upvote:hover {
    color: $orange;    
}

.upvote,
.downvote,
.upvote:focus,
.downvote:focus,
.upvote:visited,
.downvote:visited,
.upvote:active,
.downvote:active {
    color: $black;        
}

/* Once upvoted/downvoted state */
.upvoted,
.upvoted:focus,
.upvoted:active,
.upvoted:visited {
    color: $orange;    
}

.downvoted,
.downvoted:focus,
.downvoted:active,
.downvoted:visited {
    color: $blue;    
}


/* The opposite button is grey */
.downvote.upvoted:hover,
.upvoted.downvote:hover,
.downvoted.upvote:focus,
.upvoted.downvote:focus,
.downvoted.upvote:visited,
.upvoted.downvote:visited {
    color: $black;    
}

.downvote.upvoted,
.upvote.downvoted,
.downvote.upvoted:focus,
.upvote.downvoted:focus,
.downvote.upvoted:visited,
.upvote.downvoted:visited {
    color: $black;    
}


.score {
    width: 100%;
    text-align: center;
}

.post-comments {
    width: 40px;
    font-size: 30px;
    text-align: center;    
}

.fi-comment {
  font-size: 42px;    
}

.number-of-comments {
    font-size: 18px;
    color: white;

    display: block;
    margin-top: -45px;
    margin-bottom: 10px;    
}

article header {
    float: left;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 1300px) {
    article header {
	width: calc(100% - 60px);
    }
}

.post-header {
    float:left;
}

.post-tagline {
    float:left;
}

.edit-post {
    float:right;
}

.readmore {
    width: 100%;
    margin: 10px 0;
}

.stories-page .story-footer-signup {
  padding: 8px;    
}

/* ================ Story ================ */


.next-chapter {
    float: right;
}
.previous-chapter {
    
}


/* Story footer */

.hub-tag {
  background: rgba(119, 119, 119, 0.2);
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: 6px;
  color: $black;
}


.button.small {
    margin-bottom: 0;
}

.post-footer-signup .author {
    float: right;
}

.author {
    float: right;
}


.post-footer-signup .followers {
    background: white;
    float:right;

  border-radius: 4px;
  padding: 8px;
  margin: 0;    
}

.rss-icon {
  float: right;
  /* margin: -6px 0 0 10px; */
  line-height: 10px;
}

.rss-icon i {
    color: #666;
}

.large {
    font-size: 40px;
}


/* ================ Story Comments ================ */

/* Review rating */
#id_comment_type {
    width: 120px;
    margin-right: 20px;    
}    

.br-wrapper-b .br-widget {
  height: 40px;
}
.br-wrapper-b .br-widget a {
  display: block;
  width: 80px;
  height: 40px;
  float: left;
  background-color: #F5D4BE;
  margin: 1px;
}
.br-wrapper-b .br-widget a.br-active,
.br-wrapper-b .br-widget a.br-selected {
  background-color: $orange;
}
.br-wrapper-b .br-widget .br-current-rating {
  clear: both;
  width: 410px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .5em 0;
  color: $orange;
}
.br-wrapper-b .br-readonly a.br-active,
.br-wrapper-b .br-readonly a.br-selected {
  background-color: $orange;
}

/* Display rating */
.comment-rating {
    float:right;
}

.rating-bar {
  display: block;
  width: 16px;
  height: 8px;
  float: left;
  background-color: $orange;
  margin: 1px;    
}
/* Center in container */
.br-wrapper-b {
  width: 410px;
  /* position: absolute; */
  margin: 0px 0 0 -168px;
  /* left: 50%; */
  float: left;
  }


/* Submit */
.comment-type {
    margin: 5px;
}
/* List */
.comments {
    margin-left: -32px;
}

.comment {
}

.comment-collapse {
    color: $black
}

.comment-box {
    border-left: 1px solid #DDDDDD;
    margin-left: 32px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.04);
    box-shadow: -0px -0px 3px 0px rgb(114, 114, 114);
    padding: 10px 10px 0px 10px;
}

.comment-body {
    padding: 10px 0px;
}

.comment-reply textarea {
    margin-bottom: 4px;
    background: $cream;
    height: 150px;
}

.comment-reply .button.small {
    float: right;
    padding: 10px;
    margin: 8px;
    margin-right: 0;
}

.comment-footer a {
    color: $black    
}

/* Comments voting */
.comment-box .vote-column {
    width: 40px;
    float: left;
    margin-left: 0px;
    margin-right: 10px;
}

/* Upvote hover is orange */
.comment-upvote:hover {
    color: $orange;    
}

.comment-upvote,
.comment-downvote,
.comment-upvote:focus,
.comment-downvote:focus,
.comment-upvote:visited,
.comment-downvote:visited,
.comment-upvote:active,
.comment-downvote:active {
    color: $black;        
}

/* Once upvoted/downvoted state */
.comment-upvoted,
.comment-upvoted:focus,
.comment-upvoted:active,
.comment-upvoted:visited {
    color: $orange;    
}

.comment-downvoted,
.comment-downvoted:focus,
.comment-downvoted:active,
.comment-downvoted:visited {
    color: $blue;    
}


/* The opposite button is grey */
.comment-downvoted.comment-upvote,
.comment-upvoted.comment-downvote,
.comment-downvoted.comment-upvote:hover,
.comment-upvoted.comment-downvote:hover,
.comment-downvoted.comment-upvote:visited,
.comment-upvoted.comment-downvote:visited {
    color: $black;    
}



/* ================ Edit Story ================ */

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* Sidebar */

.sidebar ul {
    list-style-type: none;
}

.sidebar .button {
    padding: 10px;
    margin: 0 10px 0 15px;    
}

.chapter-arrows {
    float: right;
    margin: 15px 0;    
}

.chapter-title {
    width: calc(100% - 60px);
    float: left;
}

.chapter-arrow {
    width:100%;
    float:right;
    display: block;
    line-height: 10px;
    height: 18px;
    overflow: hidden;    
}

.chapter-button {
    float:right;
    /* margin: 15px 0px; */
    color: $black;
}

.chapter-button up {
    foat:right;
}

/* Story create */
.set-hubs {
    width: calc(100% - 120px);
    width: 200px;
    float:left;
    margin-bottom: 10px; 	/*for mobile*/
}

textarea[rows] {
  margin-bottom: 0!important;
  height: 400px!important;
}

@media screen and (max-width: 1300px) {
    .set-hubs {
	width: 100%!important;
	float:left;
	margin-bottom: 10px; 	/*for mobile*/
    }
}
 
.select2-container--default .select2-selection--multiple {
    height: 50px;
}

.set-hubs input {
margin-top: -7px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 10px;
}

#id_hubs {
    list-style-type: none;
width:400px;
padding: 0px;
}
/* Story Editor */

.editor {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

/* border on mobile  */
* {
  outline: none;
}

.delete-chapter {
    padding: 10px!important;
    background: grey!important;    
    float:left;
    margin: 30px 0;
}
.confirm-delete {
    background: red!important;
}

.view {
    background: gray!important;
}

.edit-buttons {
    float: right;
}

/* Footer */

footer {
    height: 40px;
}

footer, footer li, footer p {
    background-color: #333a42;
    color: #babfc2;
}

footer a {
	color: #babfc2;
}

footer h4 {
	color: #babfc2;
	text-transform: uppercase;
	font-size: medium;
	font-weight: normal;
}




