@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:200");
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700");
/* For code */
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");
@import url("http://fonts.googleapis.com/css?family=Kameron");
@import url("http://fonts.googleapis.com/css?family=Lato:200,300,400");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro");
/* General */
/* line 19, ../sass/style.scss */
* {
  font-family: "Titillium Web";
  font-family: 'Open Sans', sans-serif;
  color: #3d454b;
}

/* line 26, ../sass/style.scss */
html {
  font-size: 19px;
}

/* line 30, ../sass/style.scss */
p {
  font-size: 1.11rem;
  margin-bottom: 1.11rem;
}

/* line 36, ../sass/style.scss */
.row {
  max-width: 64em;
  max-width: 52rem !important;
}

/* line 42, ../sass/style.scss */
a {
  color: #f76300;
}

/* line 46, ../sass/style.scss */
h1, h2, h3, h4 {
  /* font-family: Lato; */
  font-weight: normal;
  color: #3d454b;
}

/* line 52, ../sass/style.scss */
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 59, ../sass/style.scss */
h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 65, ../sass/style.scss */
h3 {
  font-size: 26px;
  margin: 10px 0 2px 0;
}

/* line 70, ../sass/style.scss */
h4 {
  font-size: 21px;
  margin-top: 10px;
  /* color: black; */
  font-weight: bold;
  margin-bottom: 0;
}

/* line 78, ../sass/style.scss */
hr {
  margin-top: 0;
}

/* line 83, ../sass/style.scss */
blockquote, blockquote p {
  line-height: 1.6;
  color: #6F6F6F;
  font-weight: normal;
}

/* line 89, ../sass/style.scss */
blockquote strong {
  color: #6F6F6F;
}

/* line 96, ../sass/style.scss */
#page {
  min-height: 82vh;
  padding: 20px;
}

/* line 102, ../sass/style.scss */
#page li {
  margin-top: 10px;
}

/* line 106, ../sass/style.scss */
li p {
  margin: 0px;
}

/* Helpers */
/* line 112, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 116, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 120, ../sass/style.scss */
.italic {
  font-style: italic;
}

/* line 123, ../sass/style.scss */
.right {
  float: right;
}

/* line 127, ../sass/style.scss */
.left {
  float: left;
}

/* line 131, ../sass/style.scss */
.black {
  color: #3d454b;
}

/* line 134, ../sass/style.scss */
.orange {
  color: #f76300;
}

/* line 138, ../sass/style.scss */
.white {
  color: white;
}

/* line 142, ../sass/style.scss */
.gray {
  background: gray !important;
}

/* line 146, ../sass/style.scss */
.margins-10 {
  margin: 10px;
}

/* line 150, ../sass/style.scss */
.margins-20 {
  margin: 20px;
}

/* line 154, ../sass/style.scss */
.margins-side-20 {
  margin: 0 20px;
}

/* line 158, ../sass/style.scss */
.padding-10 {
  padding: 10px;
}

/* line 162, ../sass/style.scss */
.padding-20 {
  padding: 20px;
}

/* line 166, ../sass/style.scss */
.grey {
  color: #bbbbbb;
}

/* line 169, ../sass/style.scss */
.fullwidth {
  width: 100%;
}

/* line 172, ../sass/style.scss */
.center-text {
  text-align: center;
}

/* line 175, ../sass/style.scss */
.center-vertically {
  position: absolute;
  left: 50%;
  top: 50%;
  /*
  *  Where the magic happens
  *  Centering method from CSS Tricks
  *  http://css-tricks.com/centering-percentage-widthheight-elements/
  */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Elements */
/* Elements */
/* line 194, ../sass/style.scss */
::-webkit-scrollbar {
  width: 8px;
}

/* line 197, ../sass/style.scss */
::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

/* line 201, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.2);
}

/* line 207, ../sass/style.scss */
.button {
  background-color: #f76301;
  border: 0;
  border-radius: 0px;
  box-shadow: 0 5px #d05301;
  padding: 10px 20px;
}

/* line 215, ../sass/style.scss */
.button:hover {
  background-color: #f76301;
  box-shadow: 0 4px #d05301;
  position: relative;
  top: 1px;
}

/* line 222, ../sass/style.scss */
.button.small {
  background-color: #f76300;
  box-shadow: none;
  /* font-family: Lato; */
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

/* line 232, ../sass/style.scss */
.button.small:hover {
  background-color: #f76300;
  box-shadow: none;
  /* font-family: Lato; */
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  top: 0px;
}

/* Header */
/* line 245, ../sass/style.scss */
#orange-line {
  background-color: #f66303;
  height: 4px;
  width: 100%;
}

/* line 252, ../sass/style.scss */
header {
  height: 130;
  padding: 40px;
  padding-bottom: 20px;
  padding: 20px;
}

/* Logo */
/* line 260, ../sass/style.scss */
.logo {
  font-family: "Titillium Web";
  color: #3d454b;
  font-size: 36px;
}

/* line 266, ../sass/style.scss */
.logo img {
  width: 50px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
}

/* line 273, ../sass/style.scss */
.logo:hover,
.logo:focus,
.logo:visited {
  color: #3d454b;
}

/* line 279, ../sass/style.scss */
.beta {
  font-size: 10px;
  font-weight: 100;
}

/* Main menu */
/* line 285, ../sass/style.scss */
#mainMenu {
  margin-top: 15px;
  /* font-family: "Titillium Web"; */
  font-size: 16px;
  text-transform: none;
  color: black;
  text-align: right;
}

/* line 294, ../sass/style.scss */
#mainMenu a {
  color: black;
}

/* line 298, ../sass/style.scss */
.avatar {
  width: 32px;
  border-radius: 4px;
  background: url(/static/img/default_avatar.jpg);
  height: 32px;
  background-size: cover;
}

/* line 306, ../sass/style.scss */
.selected a {
  color: #f76300;
}

/* line 310, ../sass/style.scss */
#mainMenu ul {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
}

/* line 317, ../sass/style.scss */
#hubs-dropdown ul {
  margin-bottom: 0;
}

/* line 321, ../sass/style.scss */
.dropdown-subitems {
  list-style-type: none !important;
}

/* line 325, ../sass/style.scss */
.dropdown-subitems a {
  text-transform: none !important;
}

/* line 329, ../sass/style.scss */
.avatar-icon {
  width: 40px;
  border-radius: 8px;
  margin-top: -4px;
  /* border: 4px solid rgb(246, 99, 3)   */
}

/* ================ Subnav ================ */
/* line 338, ../sass/style.scss */
.subnav {
  /* padding: 10px; */
  /* margin: 10px; */
  background-color: rgba(0, 0, 0, 0.02);
  padding: 2px 10px;
}

/* line 346, ../sass/style.scss */
.subnav .button {
  background: #e1ded9;
  color: #3d454b;
  padding: 10px 20px;
}

/* line 352, ../sass/style.scss */
.subnav .row .columns {
  /* padding: 10px; */
}

/* line 356, ../sass/style.scss */
.subnav a, .subnav span {
  color: #bbbbbb;
  margin-bottom: -1px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
}

/* smaller space between links */
/* line 367, ../sass/style.scss */
.subnav a, .subnav span {
  margin-right: 10px;
}

/* line 373, ../sass/style.scss */
.rank-types {
  margin: 10px 0;
}

/* line 377, ../sass/style.scss */
.rank-types .bold {
  font-weight: bold;
  color: #3d454b;
}

/* line 382, ../sass/style.scss */
.subnav .challenge-title {
  font-weight: bold;
  color: #3d454b;
  text-transform: none;
}

/* ================ User Profile ================ */
/* Subnav */
/* line 389, ../sass/style.scss */
.userkarma {
  background: rgba(119, 119, 119, 0.2);
  padding: 4px;
  border-radius: 4px;
}

/* line 396, ../sass/style.scss */
.logout {
  width: 20px;
  float: right;
  margin: 14px;
  opacity: 0.4;
}

/* line 403, ../sass/style.scss */
.profile .button.small {
  /* float: right; */
}

/* line 407, ../sass/style.scss */
.profie .subnav {
  text-align: center;
}

/* line 411, ../sass/style.scss */
.userdata {
  margin-bottom: 0;
}

/* line 415, ../sass/style.scss */
.usersubscribe {
  text-transform: none !important;
  /* Why do I need important here? */
}

/* line 419, ../sass/style.scss */
.unsubscribe {
  background: rgba(187, 187, 187, 0.8) !important;
}

/* line 423, ../sass/style.scss */
.subscribers {
  background: white;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 0 !important;
  margin: 0 5px;
}

/* line 431, ../sass/style.scss */
.profile.rank-types {
  margin-top: 10px !important;
}

/* line 435, ../sass/style.scss */
.hubs {
  background: #fbf9f5;
  padding: 20px 10px;
}

/* line 439, ../sass/style.scss */
.hubs-dropdown {
  margin: 10px;
}

/* line 442, ../sass/style.scss */
.subnav .searchbar {
  background: none;
  width: calc(100% - 76px);
  /* remove hubs toggle */
  width: calc(100% - 5px);
  height: 40px;
  /* margin: -6px 0;     */
  margin: 4px;
}

/* line 452, ../sass/style.scss */
.subnav .searchbar:focus {
  background: white;
}

/* line 459, ../sass/style.scss */
.tagline ul {
  list-style-type: none;
  margin: 0;
}
/* line 462, ../sass/style.scss */
.tagline ul li {
  float: left;
  margin: 0 !important;
  margin-left: 10px !important;
}
/* line 467, ../sass/style.scss */
.tagline ul li a i {
  color: #FFC99E;
  color: rgba(254, 254, 212, 0.7);
  font-size: 22px;
}

/* ================ Log in ================ */
/* line 479, ../sass/style.scss */
.helptext {
  display: none;
}

/* ================ Page ================ */
/* line 484, ../sass/style.scss */
#page li {
  margin-top: 10px;
}

/* line 488, ../sass/style.scss */
li p {
  margin: 0px;
}

/* line 492, ../sass/style.scss */
#page {
  background-color: #f6f3ea;
  /* padding-top: 20px; */
}

/* ================ Stories ================ */
/* line 499, ../sass/style.scss */
article {
  margin-top: 20px;
  /* margin-bottom: 80px; */
}

/* line 504, ../sass/style.scss */
.posts-page .post-header h1 {
  float: left;
}

/* Votes */
/* line 510, ../sass/style.scss */
.vote-column {
  width: 40px;
  float: left;
  margin-left: -52px;
}

@media screen and (max-width: 1300px) {
  /* line 517, ../sass/style.scss */
  .vote-column {
    margin: 10px;
    margin-bottom: -12px;
  }
}
/* line 523, ../sass/style.scss */
.vote {
  width: 40px;
  background: #edeceb;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 11px 0 0;
  position: relative;
  text-align: center;
}

/* Defaut state */
/* line 537, ../sass/style.scss */
.arrow,
.arrow:active,
.arrow:visited {
  display: block;
  transform: scale(1.8, 1);
  float: left;
  width: 100%;
  text-align: center;
  color: #3d454b;
}

/* .fi-arrow-up, .fi-arrow-down, */
/* .fi-arrow-up:active, .fi-arrow-down:active, */
/* .fi-arrow-up:visited, .fi-arrow-down:visited{ */
/*     display: block; */
/*     transform:scale(1.8,1); */
/*     float:left; */
/*     width: 100%; */
/*     text-align: center; */
/*     color: $black; */
/* } */
/* Upvote hover is orange */
/* line 562, ../sass/style.scss */
.score {
  width: 100%;
  text-align: center;
}

/* line 567, ../sass/style.scss */
.post-comments {
  width: 40px;
  font-size: 30px;
  text-align: center;
}

/* line 573, ../sass/style.scss */
.fi-comment {
  font-size: 42px;
}

/* line 577, ../sass/style.scss */
.number-of-comments {
  font-size: 18px;
  color: white;
  display: block;
  margin-top: -45px;
  margin-bottom: 10px;
}

/* line 586, ../sass/style.scss */
article header {
  float: left;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  /* line 593, ../sass/style.scss */
  article header {
    width: calc(100% - 60px);
  }
}
/* line 598, ../sass/style.scss */
.post-header {
  float: left;
}

/* line 602, ../sass/style.scss */
.post-tagline {
  float: left;
}

/* line 606, ../sass/style.scss */
.edit-post {
  float: right;
}

/* line 610, ../sass/style.scss */
.readmore {
  /* width: 100%; */
  /* margin: 10px 0; */
  float: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

/* line 619, ../sass/style.scss */
.stories-page .story-footer-signup {
  padding: 8px;
}

/* ================ Story ================ */
/* line 626, ../sass/style.scss */
.next-chapter {
  float: right;
}

/* Story footer */
/* line 636, ../sass/style.scss */
.hub-tag {
  color: #3d454b;
}

/* line 639, ../sass/style.scss */
.hub-tag {
  background: rgba(119, 119, 119, 0.2);
  padding: 2px 8px;
  border-radius: 2px;
  margin-left: 6px !important;
  margin-right: 0px !important;
  color: #3d454b;
}

/* line 651, ../sass/style.scss */
.button.small {
  margin-bottom: 0;
}

/* line 655, ../sass/style.scss */
.post-footer-signup .author {
  float: right;
}

/* line 659, ../sass/style.scss */
.author {
  float: right;
}

/* line 664, ../sass/style.scss */
.post-footer-signup .followers {
  background: white;
  float: right;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}

/* line 673, ../sass/style.scss */
.rss-icon {
  float: right;
  /* margin: -6px 0 0 10px; */
  line-height: 10px;
}

/* line 679, ../sass/style.scss */
.rss-icon i {
  color: #666;
}

/* line 683, ../sass/style.scss */
.large {
  font-size: 40px;
}

/* Voting */
/* line 689, ../sass/style.scss */
.upvote,
.upvote:visited,
.upvote:active,
.upvote:focus {
  color: #3d454b;
  float: left;
}

/* line 697, ../sass/style.scss */
.upvoted {
  color: #f76300 !important;
}

/* ================ Story Comments ================ */
/* Review rating */
/* line 705, ../sass/style.scss */
#id_comment_type {
  width: 120px;
  margin-right: 20px;
}

/* line 710, ../sass/style.scss */
.br-wrapper-b .br-widget {
  height: 40px;
}

/* line 713, ../sass/style.scss */
.br-wrapper-b .br-widget a {
  display: block;
  width: 80px;
  height: 40px;
  float: left;
  background-color: #F5D4BE;
  margin: 1px;
}

/* line 721, ../sass/style.scss */
.br-wrapper-b .br-widget a.br-active,
.br-wrapper-b .br-widget a.br-selected {
  background-color: #f76300;
}

/* line 725, ../sass/style.scss */
.br-wrapper-b .br-widget .br-current-rating {
  clear: both;
  width: 410px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .5em 0;
  color: #f76300;
}

/* line 734, ../sass/style.scss */
.br-wrapper-b .br-readonly a.br-active,
.br-wrapper-b .br-readonly a.br-selected {
  background-color: #f76300;
}

/* Display rating */
/* line 740, ../sass/style.scss */
.comment-rating {
  float: right;
}

/* line 744, ../sass/style.scss */
.rating-bar {
  display: block;
  width: 16px;
  height: 8px;
  float: left;
  background-color: #f76300;
  margin: 1px;
}

/* Center in container */
/* line 753, ../sass/style.scss */
.br-wrapper-b {
  width: 410px;
  /* position: absolute; */
  margin: 0px 0 0 -168px;
  /* left: 50%; */
  float: left;
}

/* Submit */
/* line 763, ../sass/style.scss */
.comment-type {
  margin: 5px;
}

/* List */
/* line 767, ../sass/style.scss */
.comments {
  margin-left: -32px;
}

/* line 774, ../sass/style.scss */
.comment-collapse {
  color: #3d454b;
}

/* line 778, ../sass/style.scss */
.comment-box {
  border-left: 1px solid #DDDDDD;
  margin-left: 32px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.02);
  padding-left: -2px;
  padding-bottom: 5px;
}

/* line 787, ../sass/style.scss */
.comment-body {
  padding: 10px 0px;
}

/* line 791, ../sass/style.scss */
.comment-reply textarea {
  margin-bottom: 4px;
  background: #f6f3ea;
  height: 150px;
}

/* line 797, ../sass/style.scss */
.comment-reply .button.small {
  float: right;
  padding: 10px;
  margin: 8px;
  margin-right: 0;
}

/* line 804, ../sass/style.scss */
.comment-footer a {
  color: #3d454b;
}

/* Comments voting */
/* line 809, ../sass/style.scss */
.comment-box .vote-column {
  width: 40px;
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

/* Upvote hover is orange */
/* line 817, ../sass/style.scss */
.comment-upvote:hover {
  color: #f76300;
}

/* line 821, ../sass/style.scss */
.comment-upvote,
.comment-downvote,
.comment-upvote:focus,
.comment-downvote:focus,
.comment-upvote:visited,
.comment-downvote:visited,
.comment-upvote:active,
.comment-downvote:active {
  color: #3d454b;
}

/* Once upvoted/downvoted state */
/* line 833, ../sass/style.scss */
.comment-upvoted,
.comment-upvoted:focus,
.comment-upvoted:active,
.comment-upvoted:visited {
  color: #f76300;
}

/* line 840, ../sass/style.scss */
.comment-downvoted,
.comment-downvoted:focus,
.comment-downvoted:active,
.comment-downvoted:visited {
  color: #008CBA;
}

/* The opposite button is grey */
/* line 849, ../sass/style.scss */
.comment-downvoted.comment-upvote,
.comment-upvoted.comment-downvote,
.comment-downvoted.comment-upvote:hover,
.comment-upvoted.comment-downvote:hover,
.comment-downvoted.comment-upvote:visited,
.comment-upvoted.comment-downvote:visited {
  color: #3d454b;
}

/* ================ Edit Story ================ */
/* line 862, ../sass/style.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* Sidebar */
/* line 872, ../sass/style.scss */
.sidebar ul {
  list-style-type: none;
}

/* line 876, ../sass/style.scss */
.sidebar .button {
  padding: 10px;
  margin: 0 10px 0 15px;
}

/* line 881, ../sass/style.scss */
.chapter-arrows {
  float: right;
  margin: 15px 0;
}

/* line 886, ../sass/style.scss */
.chapter-title {
  width: calc(100% - 60px);
  float: left;
}

/* line 891, ../sass/style.scss */
.chapter-arrow {
  width: 100%;
  float: right;
  display: block;
  line-height: 10px;
  height: 18px;
  overflow: hidden;
}

/* line 900, ../sass/style.scss */
.chapter-button {
  float: right;
  /* margin: 15px 0px; */
  color: #3d454b;
}

/* line 906, ../sass/style.scss */
.chapter-button up {
  foat: right;
}

/* Story create */
/* line 911, ../sass/style.scss */
.set-hubs {
  width: calc(100% - 120px);
  width: 200px;
  float: left;
  margin-bottom: 10px;
  /*for mobile*/
}

/* line 918, ../sass/style.scss */
textarea[rows] {
  margin-bottom: 0 !important;
  height: 400px !important;
}

@media screen and (max-width: 1300px) {
  /* line 924, ../sass/style.scss */
  .set-hubs {
    width: 100% !important;
    float: left;
    margin-bottom: 10px;
    /*for mobile*/
  }
}
/* line 931, ../sass/style.scss */
.select2-container--default .select2-selection--multiple {
  height: 50px;
}

/* line 935, ../sass/style.scss */
.set-hubs input {
  margin-top: -7px !important;
}

/* line 939, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 10px;
}

/* line 943, ../sass/style.scss */
#id_hubs {
  list-style-type: none;
  width: 400px;
  padding: 0px;
}

/* Story Editor */
/* line 950, ../sass/style.scss */
.editor {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

/* border on mobile  */
/* line 958, ../sass/style.scss */
* {
  outline: none;
}

/* line 962, ../sass/style.scss */
.delete-chapter {
  padding: 10px !important;
  background: grey !important;
  float: left;
  margin: 30px 0;
}

/* line 968, ../sass/style.scss */
.confirm-delete {
  background: red !important;
}

/* line 972, ../sass/style.scss */
.view {
  background: gray !important;
}

/* line 976, ../sass/style.scss */
.edit-buttons {
  float: right;
}

/* Footer */
/* line 982, ../sass/style.scss */
footer {
  height: 40px;
}

/* line 986, ../sass/style.scss */
footer, footer li, footer p {
  background-color: #333a42;
  color: #babfc2;
}

/* line 991, ../sass/style.scss */
footer a {
  color: #babfc2;
}

/* line 995, ../sass/style.scss */
footer h4 {
  color: #babfc2;
  text-transform: uppercase;
  font-size: medium;
  font-weight: normal;
}

/* line 1006, ../sass/style.scss */
.white-bg {
  background: white !important;
}

/* line 1010, ../sass/style.scss */
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment) {
  background: none !important;
}

/* votes in footer */
/* line 1016, ../sass/style.scss */
.vote-column {
  display: none;
}

/* line 1020, ../sass/style.scss */
.arrow,
.arrow:active,
.arrow:visited {
  width: 20px;
  transform: scale(1.4, 1);
  float: left;
}

/* line 1028, ../sass/style.scss */
.score {
  float: left;
  width: auto;
}

/* line 1033, ../sass/style.scss */
article header {
  width: 100% !important;
}

/* line 1037, ../sass/style.scss */
.fi-comment {
  text-align: center;
  float: left;
  font-size: 20px;
  margin-top: 0px;
  margin-right: 2px;
}

/* Home Page */
/* line 1047, ../sass/style.scss */
.header-background {
  background: #253153 url("/static/img/space2_medium.jpg") no-repeat center;
  background-size: cover;
}

/* line 1052, ../sass/style.scss */
.header-background-overlay {
  background: rgba(0, 0, 0, 0.175);
  padding: 80px;
}

/* line 1058, ../sass/style.scss */
.homepage-header {
  text-align: center;
}
/* line 1060, ../sass/style.scss */
.homepage-header .button {
  border-radius: 0;
  margin: 40px 10px;
  margin-bottom: 0;
}

/* line 1066, ../sass/style.scss */
.homepage-header h1, .homepage-header h2, .homepage-header p {
  text-align: center;
  color: white;
}

/* line 1070, ../sass/style.scss */
.homepage h2 {
  font-weight: normal;
}
/* line 1072, ../sass/style.scss */
.homepage h2 a {
  color: white;
  text-decoration: underline;
}

/* line 1077, ../sass/style.scss */
.big-logo {
  text-align: center;
}

/* line 1080, ../sass/style.scss */
.big-logo img {
  width: 200px;
}

/* line 1088, ../sass/style.scss */
.homepage .stories {
  background: #f6f3ea;
}

/* line 1094, ../sass/style.scss */
.homepage .subnav-background {
  background: #f6630a;
  padding: 10px 0;
}
/* line 1099, ../sass/style.scss */
.homepage .subnav {
  background: none;
}
/* line 1101, ../sass/style.scss */
.homepage .subnav ul {
  margin-top: 20px;
  list-style-type: none;
}
/* line 1104, ../sass/style.scss */
.homepage .subnav ul li {
  float: left;
}
/* line 1106, ../sass/style.scss */
.homepage .subnav ul li a {
  color: #FFC99E;
  text-transform: none;
}
/* line 1109, ../sass/style.scss */
.homepage .subnav ul li a i {
  color: #FFC99E;
  font-size: 22px;
}
/* line 1118, ../sass/style.scss */
.homepage .stories {
  padding: 20px;
}
/* line 1121, ../sass/style.scss */
.homepage .story {
  float: left;
  padding: 10px;
}
/* line 1124, ../sass/style.scss */
.homepage .story .thumbnail {
  height: 172px;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}
/* line 1131, ../sass/style.scss */
.homepage .story h3 {
  text-align: left;
  color: #373737;
  font-size: 24px;
  font-weight: bold;
}
/* line 1137, ../sass/style.scss */
.homepage .story p {
  font-size: 18px;
}

/* Profile Card */
/* line 1146, ../sass/style.scss */
.profile-card {
  background: rgba(255, 255, 255, 0.5);
}
/* line 1148, ../sass/style.scss */
.profile-card .user-background {
  background: url(/static/img/bg.jpg);
  height: 140px;
  background-position-y: -320px;
  margin-bottom: 10px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
/* line 1157, ../sass/style.scss */
.profile-card .avatar {
  float: left;
  width: 80px;
  border-radius: 4px;
  margin: 10px;
  border: 2px solid white;
  margin-top: -30px;
  background: url(/static/img/default_avatar.jpg);
  height: 80px;
  background-size: cover;
}
/* line 1169, ../sass/style.scss */
.profile-card .username {
  font-weight: bold;
  color: #3d454b;
  font-size: 18px;
}
/* line 1175, ../sass/style.scss */
.profile-card .about {
  padding: 10px;
}
/* line 1177, ../sass/style.scss */
.profile-card .about p {
  font-size: 18px;
}
/* line 1182, ../sass/style.scss */
.profile-card .button {
  width: calc(100% - 20px);
  margin: 10px;
}
/* line 1185, ../sass/style.scss */
.profile-card .button i {
  color: white;
}

/* Select */
/* line 1195, ../sass/style.scss */
.select2-container--default
.select2-selection--multiple,
.select2-container {
  border-color: #cccccc !important;
  float: left !important;
  width: 100%;
}

/* line 1204, ../sass/style.scss */
.select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
}

/* line 1208, ../sass/style.scss */
.select2-container--default .select2-selection--multiple {
  height: 35px !important;
}

/* line 1213, ../sass/style.scss */
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #cccccc !important;
}

/* line 1220, ../sass/style.scss */
.set-hubs input {
  margin-top: -7px !important;
}

/* line 1224, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 2px !important;
  margin-right: 5px !important;
}

/* line 1230, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4 !important;
  border: none !important !important;
  border-radius: 0px !important;
}

/* line 1236, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 0px !important;
  border: none !important;
}

/* line 1241, ../sass/style.scss */
.select2-container--default .select2-search--inline .select2-search__field {
  box-shadow: none !important;
}

/* line 1245, ../sass/style.scss */
.select2-container .select2-search--inline {
  margin: 0 !important;
  height: 35px !important;
}

/* line 1251, ../sass/style.scss */
.select2-container--default .select2-search--inline .select2-search__field {
  margin: 0 !important;
  padding: 0 !important;
  height: 35px !important;
}

/* line 1257, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 2px !important;
  line-height: 28px !important;
}

/* line 1262, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 2px !important;
}

/* line 1266, ../sass/style.scss */
.select2-container--default .select2-search--inline .select2-search__field {
  margin: 0 !important;
  height: 30px !important;
  padding-left: 2px !important;
}

/* line 1272, ../sass/style.scss */
.select2-container--open .select2-dropdown--below {
  border-radius: 0 !important;
}

/* Preferences */
/* line 1281, ../sass/style.scss */
#image-filechoice-container {
  display: none;
}

/* line 1285, ../sass/style.scss */
#upload, #upload_background {
  width: 160px;
  padding: 15px;
  margin-top: 5px;
}
