@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400');
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:200');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700');

/* For code */
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
@import url('http://fonts.googleapis.com/css?family=Kameron');
@import url('http://fonts.googleapis.com/css?family=Lato:200,300,400');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
	font-family: 'Open Sans', sans-serif;
	color: #3d454b;
}

html {
    font-size: 19px;
}

.row {
    max-width: 50em;
}

a {
	color: #f76300;
}

p {
    margin-top: 19px!important;
    /* margin: 20px; */
}

h1, h2, h3, h4 {
    /* font-family: Lato; */
    font-weight: normal;
    color: #3d454b;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: black;
    font-weight: bold;
    /*  */
    margin-bottom: 0
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
    color: #666;
    margin-top:10px;
}

#page li {
    margin-top: 10px;
}

li p {
    margin: 0px;
}


/* Body */
#page {
    background: #1d1d1d url('/static/orangemind/img/bg.jpg');
}

#posts {
	padding:0;
	background: #1d1d1d url('/static/orangemind/img/bg.jpg');	
	background-image: url(/static/orangemind/img/orangeBGPattern.png), url(/static/orangemind/img/content_wrapper_bg.gif);
	background-repeat: no-repeat, repeat;
	background-position-y: -80px; background-size: 100%, auto;
}


/* Header */
/* Orange color: background-color: #f66303; */

header {
	background-color: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid #2d2d2d;
}

#orange-mind-logo {
    height: 80px;
    margin-left: 15px;
}
#mainMenu {
	margin-top: 10px;
	/* font-family: "Titillium Web"; */
	font-size: 16px;
	/* text-transform: uppercase; */
	color: black;
	text-align: right;
}

#mainMenu a {
    color: black;
}

#mainMenu ul li{
	list-style-type:none;
	display: inline-block;
}

.selected a {
	color: #f76300;
}

#mainMenu ul {
	float: right;
	margin-right: 25px;
	margin-top: 5px;
}

#mainMenu ul li{
    margin-left: 10px;    
	padding: 12px;
	list-style-type:none;
	display: inline-block;
	background-image: url(/static/orangemind/img/button.png);
	background-repeat: no-repeat;
	color: white;
	
}

#mainMenu ul a {
    color:white;
}

/* Page */
#page {
    /* background-color: #f6f3ea; */
    /* padding-top: 20px; */
}

article {
    border: 1px solid #5E5E5E;
    margin: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
    padding-bottom: 28px;
    padding: 5px 20px 28px 20px;
}

article a:hover {
    color: black;
    /* text-decoration: none; */
}

article header {
    background-color: transparent;
    border-bottom: none;
    
}
article header hr {
    /* margin-top: -10px; */
    /* margin: -10px -10px 10px -10px; */
    margin: 0px -10px;
}

.readmore {
    float:right;
    /* font-style: italic; */
    color: black;
    font-weight: 600;    
}


/* Footer */
.orangemind-footer {
    border-top: 3px solid #D23F13;
    background: none repeat scroll 0% 0% #000;    
    height: 40px;
}

/* footer, footer li, footer p { */
/*     background-color: #333a42; */
/*     color: #babfc2; */
/* } */

/* footer a { */
/* 	color: #babfc2; */
/* } */

/* footer h4 { */
/* 	color: #babfc2; */
/* 	text-transform: uppercase; */
/* 	font-size: medium; */
/* 	font-weight: normal; */
/* } */

/* Elements */
.button {
	background-color: #f76301;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 5px #d05301;
}

.button:hover {
	background-color: #f76301;
	box-shadow: 0 4px #d05301;
	 position:relative;
    top:1px;
}

.button.small {
	background-color: #f76300;
	box-shadow: none;
	/* font-family: Lato; */
	font-size: 16px;
	font-weight: normal;
	color: #fff;

}

.button.small:hover {
	background-color: #f76300;
	box-shadow: none;
	/* font-family: Lato; */
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	top:0px;

}

/* Fix the list changes */

#page ul, ol {
    margin-left: 18px!important;
}


/* Subscribe */
.post-footer-signup {
    border: 1px solid white;
    border-radius: 0; /* 2px; */
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    margin-bottom: 1.25em;
    padding: 13px;
    background: rgba(240, 249, 255, 0.32);
    background: #f2f2f2;
    height: 70px
    margin-top: 40px;
}

.post-footer-signup {
    margin-top: 40px;
    height: 70px;
    margin: 0 20px;
}

.button.small {
    border-radius: 0;

    /* background-image: url(/static/orangemind/img/button.png); */
    /* background-repeat: no-repeat; */
    /* color: white; */
    
}
.post-footer-signup p {
    float: left;
    margin-top: 4px!important;
}

.post-footer-signup .mc-field-group {
    margin-top: -20px;
}

.post-footer-signup #mce-EMAIL {
    width:200px;
    height:40px;
    border: 0px;
    padding: 10px;
    margin: 0 0 0 20px;
    float:right;
    box-shadow: none;
    border-radius: 0;    
}

.post-footer-signup #subscribeButton {
	/* width: 200; */
    height: 40px;
    float:right;
	/* margin: 0 0 0 0; */
	/* cursor: pointer; */
	/* font-size: 16; */

	/* padding: 0; */
    /* border-radius: 0; */
padding: 10px;
  margin-right: 10px;    
}

#rss-icon {
    float:right;
    margin: 0 0 0 10px;
}

#rss-icon i {
    color: #666;
}

.large {
    font-size: 40px;
}

.fictionhub-subscribe img {
    width: 45px;
    float: right;
    margin: -2px 4px;    
}
/* Comments */
.comments {
    margin: 20px;
}

.isso-postbox {
    margin: 0!important;
}

#isso-root {
    /* margin:20px; */
}


/* Tables */

table td, table th {
    border-right: 1px solid #DDD;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

thead th {
    border: 0;
    border-bottom: 1px solid #DDD;
}


.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
    background: url("/static/orangemind/img/bg.png") no-repeat center;
    background-size: 100% 100%;
    padding: 64px;
    min-width: 450px;
}



/* Tweaks after the Comedy article */

/* p, li { */
/*   color: black; */
/* } */

em {
  color: #3D454B;
}

h2 {
    margin-bottom: 0;
}
h3 {
    font-size: 26px;
    margin: 10px 0 2px 0;
}
	
h4 {
    font-size: 22px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

p {
margin-top: 0!important;
margin-bottom: 19px !important;
}

blockquote, blockquote p {
    line-height: 1.6;
    color: #6F6F6F;
    font-weight: normal;
}

blockquote strong {
    color: #6F6F6F;
	}

/* article a img { */
/* width: 100%; */
/* } */



/* fictionhub */

.subnav, .vote-column, .post-footer, .subheader, #orange-line, #main-header,
.post-tagline, .main-footer,
.stats, .post-footer-username, .subscribers, .comments{
    display:none;
}

.posts, #posts .post-columns {
    padding:0!important;
}

.orangemind-header {
    padding:0;
}

#mainMenu li {
  margin: 0;
  padding: 10px!important;
  text-transform: none;
  float: left;
  font-size:16px;
}

/* h1 { */
/*     text-align:center!important; */
/*     float: none!important; */
/* } */
.post-header {
    width: 100%;
}

.posts-page .post-header h1 {
    float:none;
}
