{% extends "base.html" %}
{% load markdownify %}
{% block content %}
    
<div id="page"  class="postPage profile">
{% include "elements/subheader.html" %}
<style>
  article {
  margin-top: 20px;
  padding: 40px;
  background: rgba(255,255,255,0.8);
  }
</style>


<div id="page"  class="posts-page">
<div class="row">
  <div class="large-12 small-12 columns">
    <article>
      <header class="post-header">
	<h1> Orange Mind </h1>
	<hr />
      </header>
      <div class="article-body">
	<div class="large-8 small-8 columns" style="padding:0;">
	  <p>This is a collection of the best stories I have written for /r/writingprompts.
	    All of them are available for free on this blog, but you can buy the book if you prefer to read them in epub/PDF format, or just want to support me as a writer.</p>

	  <p>The book is updated every 2 months to include my best and most recent stories, and of course you get access to all of the updates.</p>
      <div style="clearfix"></div>

	</div> <!-- End .large-9 -->

	<div class="large-4 small-4 columns">
	  <img src="/static/orangemind/img/orangemind-book3-small.png" width="211" height="300" style="width:100%;">	
	  <br/>	<br/>

	  <!-- Buy this book gumroadbutton -->
	  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
	  <a class="button small" href="https://gumroad.com/l/SALR"
	     style="width:100%; border-radius:0;">Buy this book $10</a>
	  <br/><br/>
	</div> <!-- End .large-3 -->
	<div class="clearfix"></div>
      </div> <!-- End .article-body -->
    </article>
    <br/>
  </div> <!-- End 12 columns -->
</div> <!-- End row -->
</div>
</div>

<style>
  .store {
  font-weight:bold!important;
  color:#3d454b!important;
  }
</style>
{% endblock content %}


