{% extends "base.html" %}
{% load markdownify %}
{% block content %}
    
<div id="page"  class="postPage profile">
  {% include "posts/subnav-browse.html" %}

  <div class="row">
    <div class="large-12 small-12 columns">
	<article>
	  <header class="post-header">
	    <!-- <span class="hub-tag right margins-side-20 bold" style="margin-top: 20px;">$</span> -->
	    <h1> Orange Mind </h1>
	    <hr />
	  </header>
	  <div class="large-9 small-9 columns" style="padding:0;">
	    <!-- <h2>Structure your machine learning journey with this self-study&nbsp;roadmap</h2> -->
	  <p>This is a collection of the best stories I have written for /r/writingprompts.
	    All of them are available for free on this blog, but you can buy the book if you prefer to read them in epub/PDF format, or just want to support me as a writer.</p>

	  <p>The book is updated every 2 months to include my best and most recent stories, and of course you get access to all of the updates.</p>
	  <!-- 
	  <div class="panel" style="padding:8px;margin-top: 4px;">
	    <div class="left">
	      <p style="margin:0;">To read the rest of the story and get access to all premium content purchase subscription</p>
	      <p style="margin:0;"><strike>$25/mo</strike> $15/yr discount for early adopters</p>
	    </div>
	    <button class="button small right" style="border-radius:0;">Start free 30-day trial</button>
	    <div class="clearfix"></div>
	  </div>
	  -->

      </div>

      <div class="large-3 small-3 columns">
	<!-- <br/><br/><br/> -->
	<img src="/static/orangemind/img/orangemind-book3-small.png" width="211" height="300" style="width:100%;">	
	<br/>	<br/>


	<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
	<a class="button small" href="https://gumroad.com/l/SALR"
	   style="width:100%; border-radius:0;">Buy this book $10</a>
<br/><br/>	
	
	<!-- <button class="button small" -->
	<!-- 	style="width:100%; border-radius:0;">Read this story $10</button> -->

	<!-- Subscription 
	or get a subscription and access all premium content for <strike>$25/mo</strike> $15/yr (discount for early adopters)
	<button class="button small"
		style="width:100%; border-radius:0;">Start free 30-day trial</button>
	 -->
      </div>

      <br/>
      <div>
      </article>
      </div> <!-- End 12 columns -->
    </div> <!-- End row -->
  </div>
</div>

<style>
  .store {
  font-weight:bold!important;
  color:#3d454b!important;
  }
</style>
{% endblock content %}


