{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div id="page"  class="postPage">
  <div class="row">
    <div class="large-12 columns">
      <br/>
      <h2> Edit comment </h2>
      <br/>      
      <form method="post" action="/comment/{{comment.id}}/edit?next={{nextpage}}">
	{% csrf_token %}
	<div class="editor">
	  {{form.body}}
	</div>
	<br/>
	{% if not comment.parent %}
	<span class="left">{{form.comment_type}}</span>
	{{form.rating}}
	{% endif %}      

	<input type="submit" class="button small right" value="Save" />
      </form>
    </div>
    <div class="clearfix"></div>
    <div style="width:100%; height: 20px"></div>

  </div> <!-- End row -->
</div>

<!-- Barrating -->
<script src="{% static "/static/js/vendor/jquery.barrating.min.js" %}" type="text/javascript"></script>

<!-- Editor -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
// Bar rating
$(document).ready(function(){
    // Add rating
    $('option:contains("---------")').text("")
    $('#rating').barrating('show', {
        wrapperClass: 'br-wrapper-b',
        //readonly: true
    });

    if ($('#id_comment_type').val() == "comment") {
	$('.br-wrapper-b').css("display", "none")
    }

    $('#id_comment_type').change(function(){
	if (this.value == "comment") {
	    $('.br-wrapper-b').css("display", "none")
	} else {
	    $('.br-wrapper-b').css("display", "inline")	    
	}
    })

    var simplemde = new SimpleMDE();
    simplemde.render();
})
</script>

<style>
.br-wrapper-b {
  position: absolute;
  left: 50%;
}  
</style>

{% endblock content %}

