{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
  .tab-title {
  width: 25%;
  text-align:center;
  }

  article {
  margin-top: 0px;
  background: white;
  padding: 40px;
  background: rgba(255,255,255,0.8);  
  }
</style>
<div id="page"  class="posts-page">
  <div class="row">
    <div class="large-12 small-12 columns">


<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#about">About</a></li>
  <li class="tab-title"><a href="#guidelines">Guidelines</a></li>
  <li class="tab-title"><a href="#resources">Writer's resources</a></li>
  <li class="tab-title"><a href="#contact">Contact</a></li>
</ul>
<div class="tabs-content">
  <!-- About -->
  <div class="content active" id="about">
    <article>
      <h1>About</h1>
      <p> Hi! Welcome to our community! Our goal is to inspire people to write, and to help each other to get better at it.</p>

      

      <p>I want this website to become the perfect place for people to practice, share their stories, and receive useful and friendly feedback.</p>
      


      </article>
  </div>

  <!-- Guidelines -->
  <div class="content" id="guidelines">
    <article>
      <p>Be nice.</p>
      <!-- 
	<p>, and try to make this place better for others, add value.</p>

      <p>There's no pressure to be a great writer, so don't be shy to post your strories even if you are completely new. But <i>do</i> try your best to be good. </p>
       -->
    </article>
  </div>
  <div class="content" id="resources">
    <article>

      <p> New to writing? I recommend to start by watching an awesome  <a href="https://www.youtube.com/playlist?list=PLTT-Xb7kSZWWdgWGER_CroAif3-BxYRJH"> writing course by Brandon Sanderson</a>.</p>


<!-- 
<p>Also check out an amazing lecture
<a href="http://www.audible.com/pd/Self-Development/Screenwriting-for-Hollywood-Audiobook/">
  Screenwriting for Hollywood
</a> by Michael Hauge(it's not free but it's great).</p>
 -->

    </article>
  </div>
  <!-- Contact -->
  <div class="content" id="contact">
    <article>
      <p>Send me a message to raymestalez@gmail.com to discuss anything related to writingstreak.</p>
      <p>The website is in active development, and I really appreciate any questions, suggestions, feedback and bug reports.</p>
    </article>
  </div>
</div>

    </div>
  </div>
</div>

{% endblock %}

