{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
  .tab-title {
  width: 25%;
  text-align:center;
  }

  article {
  margin-top: 0px;
  background: white;
  padding: 40px;
  background: rgba(255,255,255,0.8);  
  }
</style>
<div id="page"  class="posts-page">
  <div class="row">
    <div class="large-12 small-12 columns">


<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#about">About</a></li>
  <li class="tab-title"><a href="#guidelines">Guidelines</a></li>
  <li class="tab-title"><a href="#resources">Writer's resources</a></li>
  <li class="tab-title"><a href="#contact">Contact</a></li>
</ul>
<div class="tabs-content">
  <!-- About -->
  <div class="content active" id="about">
    <article>
      <h1>About</h1>
      <p> Hi! Welcome to our community! Our goal is to inspire people to write, and to help each other to get better at it.</p>

      

      <p>I want this website to become the perfect place for people to practice, share their stories, and receive useful and friendly feedback.</p>
      


      </article>
  </div>

  <!-- Guidelines -->
  <div class="content" id="guidelines">
    <article>
      <p> Try to be nice, helpful, and encouraging when you comment on stories. Constructive critique is welcome, just make sure that it's useful to the writer. </p>

      <p></p>
      <!-- <p> Feel free to submit your stories -->
      <!-- 
	<p>, and try to make this place better for others, add value.</p>

      <p>There's no pressure to be a great writer, so don't be shy to post your strories even if you are completely new. But <i>do</i> try your best to be good. </p>
       -->
    </article>
  </div>
  <div class="content" id="resources">
    <article>

      <p> New to writing?  I recommend to start by reading <a href="https://www.reddit.com/r/WritingPrompts/comments/33oar9/ot_ask_lexi_1_how_to_start_writing/">this post</a>, and then watching  <a href="https://www.youtube.com/playlist?list=PLTT-Xb7kSZWWdgWGER_CroAif3-BxYRJH">  an awesome writing course</a>  by Brandon Sanderson.</p>

      <p><a href="/story/story/">Here</a> you can read a series of articles on story structure(You can also learn about it from 
<a href="http://www.audible.com/pd/Self-Development/Screenwriting-for-Hollywood-Audiobook/B002UZMN8A/">
  this
</a> amazing lecture.).</p>

      <p>And <a href="http://yudkowsky.tumblr.com/writing">this</a> is a great guide on writing intelligent characters.</p>

    </article>
  </div>
  <!-- Contact -->
  <div class="content" id="contact">
    <article>
      <p>Send me a message to raymestalez@gmail.com to discuss anything related to writingstreak.</p>
      <p>The website is in active development, and I really appreciate any questions, suggestions, feedback and bug reports.</p>
    </article>
  </div>
</div>

    </div>
  </div>
</div>

{% endblock %}

