{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  {% block head %}
  <meta charset="utf-8" />

  <title>
    {% block title %} 
    {% if request.META.HTTP_HOST == "rationalfiction.io"  %}
    rationalfiction     
    {% elif request.META.HTTP_HOST == "daily.fictionhub.io" or  request.META.HTTP_HOST == "streak.fictionhub.io" or request.META.HTTP_HOST == "localhost:8000" %}
    writingstreak
    {% else %}	        
    fictionhub 
    {% endif %}	    
    {% endblock title %}
  </title>

  {% if request.META.HTTP_HOST == "rationalfiction.io"  %}
  <!-- <link href="http://fictionhub.io{{request.get_full_path}}" rel="canonical" /> -->
  {% endif %}

  {% endblock head %}

  <!-- Import css and scripts  -->
  <link rel="stylesheet" href="{% static "/static/foundation/css/foundation.css" %}" />
  <link rel="stylesheet" href="{% static "/static/foundation/css/foundation-icons/foundation-icons.css" %}" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="http://fictionhub.io/static/img/favicon.ico"/>

  <!-- Main Stylesheet -->
  <!-- <link rel="stylesheet" href="{% static "/static/css/main.css" %}" /> -->
  <link rel="stylesheet" href="{% static "/static/css/css/style.css" %}" />

  {% if user.enable_dark_interface %}  
  <link rel="stylesheet" href="{% static "/static/css/dark.css" %}" />
  {% endif %}  
  

  <meta property="og:image" content="http://fictionhub.io/static/img/valley_cropped.png">
  <meta property="og:description" content="Fictionhub is the perfect place to publish, discover and discuss awesome fiction.">
  
  <!-- jQuery -->
  <script src="{% static "/static/js/vendor/jquery.js" %}" type="text/javascript"></script>


  <!-- Google Analytics -->
  {% if request.META.HTTP_HOST == "orangemind.io"  %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44003603-12', 'auto');
    ga('send', 'pageview');
  </script>
  {% else %}  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44003603-10', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
  <!-- End Analytics -->

  {% block head_extra %}
  {% endblock %}
  
</head>

<body>
<div id="orange-line"></div>
{% block main_header %}
  <header>
    <div class="row" >
      <!-- Logo -->      
        <div class="large-6 small-6 columns" >
          <a href="/" class="logo">
	    {% if request.META.HTTP_HOST == "daily.fictionhub.io" or  request.META.HTTP_HOST == "streak.fictionhub.io" or request.META.HTTP_HOST == "localhost:8000" %}
	    <!-- <img src="{% static "/static/img/logo_128x128.png" %}"/> -->
	    <span style="font-weight:100;">writing</span><span style="font-weight:400;">streak</span> <!-- daily -->
	    {% else %}	    
	    fiction<span class="bold">hub</span>
	    <img src="{% static "/static/img/logo_128x128.png" %}"/>

	    {% endif %}	    
	  </a>
	  <a data-dropdown="websites-dropdown" aria-controls="drop1" aria-expanded="false" data-options="align:left" >
	    <!-- Hide arrow -->
	  <!--   <img class="down-arrow" src="{% static "img/downArrow.png" %}" style="margin-top: -8px;"/> -->
	  <!-- </a> -->
	  <div id="websites-dropdown" class="f-dropdown bottom left">
	    <a href="http://webcomics.io" class="logo" id="webcomics" style="z-index:1000;">
	      web<span class="bold">comics</span>
	    </a>
	  </div>

<style>
#websites-dropdown {
position: absolute;
left: 10.15625px!important;
top: 54px!important;
}
.f-dropdown.drop-left:before,
.f-dropdown.drop-left:after{
display:none;
}
</style>
<script>
$("#webcomics").click(function(){
console.log("yes");
})		
  
</script>
        </div>

	<!-- Main Menu -->
        <div class="large-6 small-6 columns" id="mainMenu">
	  <div style="float:right;">

	  <!-- <ul><a href="/browse/"> Browse </a></ul> -->

	  <!-- 
	  {% if user.is_authenticated %}
	  {% if user.subscribed_to.count > 0 %}	  
	  <ul>
	    <a href="/subscriptions/new/"> Subscriptions </a>
	  </ul> 
	  {% endif %}
	  -->
	  
	  <!-- User -->
	  <ul style="margin-right:0;">
	    <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">
	      <!-- Avatar -->
	      <!-- <img class="avatar-icon" src="{% static "/static/img/signature.png" %}"/> -->
	      <!-- {{user.username}} -->
	      <!-- 
	      <i class="button small fi-torso"
		 style="padding: 5px 10px;
		 background-color: rgb(136, 136, 136);
		 top: -2px;"></i> -->

	      <a href="/browse/">
		<i class="fa fa-compass"></i></a>			    

	      <!-- Home -->
	      <a href="/user/{{user.username}}">
		<!-- <i class="fi-torso"></i> -->
		<i class="fa fa-home"></i></a>

	      <!-- Write -->
	      {% if request.META.HTTP_HOST == "daily.fictionhub.io"  or request.META.HTTP_HOST == "localhost:8000" or request.META.HTTP_HOST == "streak.fictionhub.io" %}
	      <a href="/write/">
		<i class="fa fa-pencil-square-o"></i></a>
	      <!-- <i class="fa fa-pencil"></i> -->
	      {% else %}
	      <a href="/story/add">
		<i class="fa fa-pencil-square-o"></i></a>
	      <!-- <i class="fa fa-pencil"></i> -->
	      {% endif %}
	      
	      {% if user.in_messages.count > 0 %}
	      <a href="{% if user.new_notifications %}
		 /notifications/unread/
		 {% else %}
		 /notifications/all/		 
		 {% endif %}">
		<i class="fa fa-envelope-o
		   {% if user.new_notifications %}new-notifications{% endif %}"></i></a>
	      {% endif %}
	      
	      <a href="/preferences/">
		<i class="fa fa-cog"></i></a>
	      <a href="/logout/?next={{request.path}}">
		<!-- &nbsp; --><i class="fa fa-power-off"></i></a>
	      <!-- <i class="fa fa-plus"></i> -->
	      
	    </a>

	    <style>
	      #mainMenu {
	      margin-top: 16px;
	      }
	      #mainMenu a {
	      font-size: 20px;
	      margin-left: 4px;
	      }
	      .new-notifications {
	      color:#f66303;
	      font-weight:bold;
	      }
	    </style>
	    <!-- Dropdown -->
	    <ul id="drop1" class="f-dropdown" data-dropdown-content
		aria-hidden="true" tabindex="-1">
	      <li><a href="/user/{{user.username}}">
		  <b>{{user.username}}</b> ({{user.karma}})
		  <!-- <i class="fi-torso"></i> --></a></li>
	      {# {% if user.approved %} #}
	      <li><a href="/story/add"> Create Story
		  <!-- <i class="fa fa-pencil-square-o"></i> --> </a></li> <!-- Submit --> 
	      <!-- <li><a href="/hub/add"> Create Hub </a></li> -->
	      {# {% endif %} #}
	      <li><a href="/notifications/"> Notifications (2)
		  <!-- <i class="fa fa-envelope-o"></i> --></a></li>	      
	      <li><a href="/preferences/"> Preferences
		  <!-- <i class="fa fa-cog"></i> --></a></li>
	      <!-- <li><a href="/preferences/"> Dark Mode </a></li>	       -->
	      <li>
		<a href="/logout/?next={{request.path}}">
		  <!-- <img class="logout" src="{% static "/static/img/logout.png" %}"/> -->
		  logout
		  <!-- <i class="fa fa-power-off"></i> -->
		</a>
	      </li>
	    </ul>
	  </ul>
	  {% else %}
	  <ul style="margin-right:0;">
	    <a href="/login/?next={{request.path}}"
	       data-reveal-id="login-popup"> Login/Signup </a>
	  </ul>
	  
	  {% endif %}
	  </div>
      </div>
  </header>
{% endblock main_header %}

  {% block content %}
  {% endblock %}



  <div class="reveal reveal-modal" id="login-popup" data-reveal
       aria-hidden="true" role="dialog">

    <!-- <div class="row"> -->
    <!--   <div class="large-12 columns"> -->
    <!-- 	<h2> Subscribe via email </h2> -->
    <!-- 	<form method="post" action="/authenticate/?next={{request.path}}">{% csrf_token %} -->
    <!-- 	  <input id="id_username" maxlength="254" name="username" type="text" -->
    <!-- 		 placeholder="email"> -->
    <!-- 	  <input type="submit" class="button small" value="Subscribe"> -->
    <!-- 	</form> -->
    <!-- 	<hr/> -->
    <!--   </div> -->
    <!-- </div> -->
    
  <div class="row">
    <div class="large-5 columns">
      <!-- Login -->
      <h2> Login </h2>
      <form method="post" action="/authenticate/?next={{request.path}}">{% csrf_token %}
	<label for="id_username">Username:</label>
	<input id="id_username" maxlength="254" name="username" type="text">
	<label for="id_password">Password:</label>
	<input id="id_password" name="password" type="password">
	<input type="submit" class="button small" value="login">
	<input type="hidden" name="next" value="">
      </form>
    </div>
    
    <div class="large-5 columns">
      <!-- Register -->
      <h2> Sign Up </h2>
      <form method="post" action="/register/?next={{request.path}}">{% csrf_token %}
	<input id="id_username" maxlength="30" name="username"
	       placeholder="Username" type="text">
	<input id="id_email" name="email" placeholder="E-Mail" type="text">
	<input id="id_password1" name="password1" placeholder="Password (8+ symbols)" type="password">
	<input id="id_password2" name="password2" placeholder="Repeat Password" type="password">
	<input type="submit" class="button small" value="submit">
	<input type="hidden" name="next" value="">
	<div class="clearfix"></div>
	<div style="width:100%; height: 20px"></div>
	<br>
      </form>    
    </div>
    
  </div>
</div>


  <footer class="main-footer">
  </footer>
  
  <!-- Scripts -->
  <script src="  {% static "/static/js/foundation/foundation.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.dropdown.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.offcanvas.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.reveal.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.orbit.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.tab.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <script src="  {% static "/static/js/foundation/foundation.alert.js" %}"></script>    

  <!-- 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="  {% static "/static/js/foundation/foundation.tooltip.js" %}"></script>  
  -->
<script>
  $(document).foundation();
</script>


<!-- dropdown fix -->
<script type="text/javascript">
  $(function() {
      var isIPad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
      if (isIPad) {
        $('body').on('click.fndtn.dropdown touchstart.fndtn.dropdown', '.dropdown a', function (e) {
            e.stopPropagation();
            e.preventDefault();
            window.location.href = this;
            return false;
        });
      }
  });
</script>
</body>
</html>


