{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  {% block head %}
  <meta charset="utf-8" />

  <title>
    {% block title %} 
    {% if request.META.HTTP_HOST == "rationalfiction.io"  %}
    rationalfiction     
    {% elif request.META.HTTP_HOST == "writingstreak.io" %} 
    Writing Streak
    {% else %}	        
    fictionhub 
    {% endif %}	    
    {% endblock title %}
  </title>

  {% if request.META.HTTP_HOST == "rationalfiction.io"  %}
  <!-- <link href="http://fictionhub.io{{request.get_full_path}}" rel="canonical" /> -->
  {% endif %}

  {% endblock head %}

  <!-- Import css and scripts  -->
  <link rel="stylesheet" href="{% static "/static/foundation/css/foundation.css" %}" />
  <link rel="stylesheet" href="{% static "/static/foundation/css/foundation-icons/foundation-icons.css" %}" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="http://fictionhub.io/static/img/favicon.ico"/>

  <!-- Main Stylesheet -->
  <!-- <link rel="stylesheet" href="{% static "/static/css/main.css" %}" /> -->
  <link rel="stylesheet" href="{% static "/static/css/css/style.css" %}" />

  {% if user.enable_dark_interface %}  
  <link rel="stylesheet" href="{% static "/static/css/dark.css" %}" />
  <link rel="stylesheet" href="{% static "/static/css/forum.css" %}" />  
  {% endif %}  
  

  <meta property="og:image" content="http://fictionhub.io/static/img/valley_cropped.png">
  {% if request.META.HTTP_HOST == "writingstreak.io"  %}
  <meta property="og:description" content="Write fiction every day!">
  {% else %}
  <meta property="og:description" content="Fictionhub is the perfect place to publish, discover and discuss awesome fiction.">
  <meta name="description" content="The most awesome place to publish, discover, and discuss fiction.">
  {% endif %}  

  <!-- jQuery -->
  <script src="{% static "/static/js/vendor/jquery.js" %}" type="text/javascript"></script>


  <!-- Google Analytics -->
  {% if request.META.HTTP_HOST == "writingstreak.io"  %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44003603-15', 'auto');
    ga('send', 'pageview');
  </script>
  {% else %}  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44003603-10', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
  <!-- End Analytics -->

  {% block head_extra %}
  {% endblock %}
  
</head>

<body>
<div id="orange-line"></div>
{% block main_header %}
  <header>
    <div class="row" >
      <!-- Logo -->      
        <div class="large-6 small-6 columns" >
          <a href="/" class="logo">
	    {% if request.META.HTTP_HOST == "writingstreak.io" %}
	    <!-- <img src="{% static "/static/img/logo_128x128.png" %}"/> -->
	    <span style="font-weight:100;">writing</span><span style="font-weight:400;">streak</span><span class="beta" style="font-size:12px;">[beta]</span>
	    {% elif request.META.HTTP_HOST == "rationalfiction.io"  %}
	    <img src="{% static "/static/img/logo_128x128.png" %}"/>
	    <span style="font-weight:100;">rational</span><span style="font-weight:400;">fiction</span>
	    {% else %}	    
	    fiction<span class="bold">hub</span>
	    <img src="{% static "/static/img/logo_128x128.png" %}"/>

	    {% endif %}	    
	  </a>
	  <a data-dropdown="websites-dropdown" aria-controls="drop1" aria-expanded="false" data-options="align:left" >
	    <!-- Hide arrow -->
	  <!--   <img class="down-arrow" src="{% static "img/downArrow.png" %}" style="margin-top: -8px;"/> -->
	  <!-- </a> -->
	  <div id="websites-dropdown" class="f-dropdown bottom left">
	    <a href="http://webcomics.io" class="logo" id="webcomics" style="z-index:1000;">
	      web<span class="bold">comics</span>
	    </a>
	  </div>

<style>
#websites-dropdown {
position: absolute;
left: 10.15625px!important;
top: 54px!important;
}
.f-dropdown.drop-left:before,
.f-dropdown.drop-left:after{
display:none;
}

#mainMenu a {
text-transform:none;
margin-left: 5px;	      
}


#mainMenu a {
text-transform:none;
margin-left: 5px;	      
}

#mainMenu a:hover {
    color: #f76300;
}


</style>
        </div>

	<!-- Main Menu -->
        <div class="large-6 small-6 columns" id="mainMenu">
	  <div style="float:right;">


	  {% if user.is_authenticated %}
	  
	  <!-- User -->
	  <ul style="margin-right:0;">
	    <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">
	      <!-- Avatar -->
	      <!-- <img class="avatar-icon" src="{% static "/static/img/signature.png" %}"/> -->
	      <!-- {{user.username}} -->
	      <!-- 
	      <i class="button small fi-torso"
		 style="padding: 5px 10px;
		 background-color: rgb(136, 136, 136);
		 top: -2px;"></i> -->

	      <!-- <a href="/browse/"></i>Browse</a> -->


	      <a href="/browse/" data-dropdown="browsedropdown"
		 data-options="is_hover:true; align:bottom;"
		 >Browse</a>

	      <ul id="browsedropdown" class="f-dropdown dropdownmenu" data-dropdown-content>
		<li>
		  <a href="/browse/">
		    <i class="fa fa-compass"></i>
		      All stories
		  </a>
		</li>
		{% if user.subscribed_to.count > 0 %}	  
		<li>
		  <a href="/subscriptions/?sorting=new">
		    <i class="fa fa-rss"></i>
		      Subscriptions
		  </a>
		</li>
		{% endif %}


		{% if request.META.HTTP_HOST == "writingstreak.io" %}				
		<li>
		  <a href="/users/top/">
		    <i class="fi-torsos"></i>
		    Top users</a>
		</li>
		{% endif %}


		{% if request.META.HTTP_HOST == "writingstreak.io" %}						
		<li>
		  <a href="/hub/discussion/">
		    <i class="fi-comments"></i>
		    Discussion</a>
		</li>
		{% endif %}

		{% if  request.META.HTTP_HOST == "writingstreak.io" %}						
		<li>
		  <a href="/about/">
		    <i class="fa fa-info-circle"></i>
		    About</a>
		</li>
		{% endif %}


	      </ul>

	      <style>
		#browsedropdown {
		width: 200px;
		}		
		#browsedropdown li a {
		text-transform:none;
		text-align: left;
		}
		#browsedropdown li a i {
		margin-right: 10px;
		}
		.f-dropdown:before,
		.f-dropdown:after{
		display:none;
		}
	      </style>
	      

	      <!-- Write -->
	      {% if  request.META.HTTP_HOST == "writingstreak.io" %}
	      <a href="/write/">Write</a>
	      <!-- <i class="fa fa-pencil-square-o"></i> -->
	      {% else %}
	      <a href="/story/add">Write</a>
	      <!-- <i class="fa fa-pencil-square-o"></i> -->
	      {% endif %}
	      
	      
	      <a href="/user/{{user.username}}" data-dropdown="usermenu"
		 data-options="is_hover:true; align:bottom;"
		 >{{user.username}}</a>

	      <ul id="usermenu" class="f-dropdown alignRight dropdownmenu" data-dropdown-content>
		<li>
		  <a href="/user/{{user.username}}"><i class="fa fa-home"></i>Profile</a>
		</li>
		{% if user.in_messages.count > 0 %}
		<li>
		  <a href="{% if user.new_notifications %}
		     /notifications/unread/
		     {% else %}
		     /notifications/all/		 
		     {% endif %}">
		    <i class="fa fa-envelope-o
		       {% if user.new_notifications %}new-notifications{% endif %}"></i>Inbox</a>
		</li>
		{% endif %}
		<!-- 
		<li>
		  <a href="/stats/"><i class="fa fa-bar-chart"></i>Stats</a>
		</li>
		 -->
		<li>
		  <a href="/preferences/"><i class="fa fa-cog"></i>Settings</a>
		</li>
		<li>
		  <a href="/logout/?next={{request.path}}"><i class="fa fa-power-off"></i>Logout</a>
		</li>
	      </ul>
	      
	      <style>
		#usermenu {
		width: 130px;
		}		
		#usermenu li a {
		text-transform:none;
		text-align: left;
		}
		#usermenu li a i {
		margin-right: 10px;
		}
		.f-dropdown:before,
		.f-dropdown:after{
		display:none;
		}
	      </style>

	      <!-- <a href="/browse/"> -->
	      <!-- 	<i class="fa fa-compass"></i></a>			     -->
	      
	      <!-- Home -->
	      <!-- <a href="/user/{{user.username}}"> -->
	      <!-- 	<i class="fa fa-home"></i></a> -->


	      	      
	    </a>

	    <style>
	      #mainMenu {
	      margin-top: 16px;
	      }
	      #mainMenu a {
	      font-size: 20px;
	      margin-left: 4px;
	      }
	      .new-notifications {
	      color:#f66303;
	      font-weight:bold;
	      }
	    </style>
	    <!-- Dropdown -->
	    <ul id="drop1" class="f-dropdown" data-dropdown-content
		aria-hidden="true" tabindex="-1">
	      <li><a href="/user/{{user.username}}">
		  <b>{{user.username}}</b> ({{user.karma}})
	      </a></li>
	      {# {% if user.approved %} #}
	      <li><a href="/story/add"> Create Story
		  <!-- <i class="fa fa-pencil-square-o"></i> --> </a></li> <!-- Submit --> 
	      <!-- <li><a href="/hub/add"> Create Hub </a></li> -->
	      {# {% endif %} #}
	      <li><a href="/notifications/"> Notifications (2)
		  <!-- <i class="fa fa-envelope-o"></i> --></a></li>	      
	      <li><a href="/preferences/"> Preferences
		  <!-- <i class="fa fa-cog"></i> --></a></li>
	      <!-- <li><a href="/preferences/"> Dark Mode </a></li>	       -->
	      <li>
		<a href="/logout/?next={{request.path}}">
		  <!-- <img class="logout" src="{% static "/static/img/logout.png" %}"/> -->
		  logout
		  <!-- <i class="fa fa-power-off"></i> -->
		</a>
	      </li>
	    </ul>
	  </ul>
	  {% else %}
	  <ul style="margin-right:0;">
	    <a href="/browse/"> Browse </a>
	    <a href="/login/?next={{request.path}}"
	       data-reveal-id="login-popup"> Login </a>
	    {% if request.META.HTTP_HOST == "localhost:8000" or request.META.HTTP_HOST == "fictionhub.io"  %}
	    <!-- 
	    <a href="/login/?next=/story/add"
	       data-reveal-id="login-popup"> Submit Story </a>
	     -->
	    {% endif %}	       

	    <a href="/login/?next={{request.path}}"
	       data-reveal-id="sub-popup"
	       class="small button"
	       style="padding: 10px 20px;
		      color: white;
		      border-radius: 0;">
	      Subscribe </a>

	  </ul>
	  
	  {% endif %}
	  </div>
      </div>
  </header>
{% endblock main_header %}

  {% block content %}
  {% endblock %}



  <div class="reveal reveal-modal" id="login-popup" data-reveal
       aria-hidden="true" role="dialog">
    
  <div class="row">
    <div class="large-5 columns">
      <!-- Login -->
      <h2> Login </h2>
      <form method="post" action="/authenticate/?next={{request.path}}">{% csrf_token %}
	<label for="id_username">Username:</label>
	<input id="id_username" maxlength="254" name="username" type="text">
	<label for="id_password">Password:</label>
	<input id="id_password" name="password" type="password">
	<input type="submit" class="button small" value="login">
	<input type="hidden" name="next" value="">
      </form>
    </div>
    
    <div class="large-5 columns">
      <!-- Register -->
      <h2> Sign Up </h2>
      <form method="post" action="/register/?next={{request.path}}">{% csrf_token %}
	<input id="id_username" maxlength="30" name="username"
	       placeholder="Username" type="text">
	<input id="id_email" name="email" placeholder="E-Mail" type="text">
	<input id="id_password1" name="password1" placeholder="Password (8+ symbols)" type="password">
	<input id="id_password2" name="password2" placeholder="Repeat Password" type="password">
	<input type="submit" class="button small" value="submit">
	<input type="hidden" name="next" value="">
	<div class="clearfix"></div>
	<div style="width:100%; height: 20px"></div>
	<br>
      </form>    
    </div>
    
  </div>
</div>


  <!-- Subscribe Popup -->
  <div class="reveal reveal-modal" id="sub-popup" data-reveal
       aria-hidden="true" role="dialog">

    <div class="row">
      <div class="large-12 columns">
    	<h2> Subscribe to the weekly digest of our best stories! </h2>
	<!-- 
    	<form method="post" action="/authenticate/?next={{request.path}}">{% csrf_token %}
    	  <input id="id_username" maxlength="254" name="username" type="text"
    		 placeholder="email"
		 style="float: left;
			width: calc(100% - 200px);
			height: 50px;">
    	  <input type="submit" class="button small" value="Subscribe"
		 style="padding: 16px 32px;
			height: 50px;">
    	</form>
	-->

	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	  <form action="//medium.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=44874c7f19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <!-- Email -->
	    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
	   	   style="float: left;
			  width: calc(100% - 200px);
			  height: 50px;">
	    <!-- Submit -->
	    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button small"		 style="padding: 16px 32px; height: 50px;" />
	    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f23c7984541d915d1108a16e_44874c7f19" tabindex="-1" value=""></div>
	  </form>
	</div>
	<!--End mc_embed_signup-->

      </div>
    </div>
    
  </div>
</div>
  

  <!-- User subscribe -->
  <div class="reveal reveal-modal" id="usersub-popup" data-reveal
       aria-hidden="true" role="dialog">

    <div class="row">
      <div class="large-12 columns">
    	<h2> Subscribe to the updates from
	  {% if post.author %}
	  {{post.author}}
	  {% else %}
	  {{userprofile.username}}
	  {% endif %}	  
	</h2>
    	<form method="post"
	  {% if post.author %}
	      action="/user/{{post.author}}/email_subscribe?next={{request.path}}"
	  {% else %}
	      action="/user/{{userprofile.username}}/email_subscribe?next={{request.path}}"
	  {% endif %}	  
	      >{% csrf_token %}
    	  <input id="email" maxlength="254" name="email" type="text"
    		 placeholder="email"
		 style="float: left;
			width: calc(100% - 200px);
			height: 50px;">
    	  <input type="submit" class="button small" value="Subscribe"
		 style="padding: 16px 32px;
			height: 50px;
			float:left;">
    	</form>

        <a class="button small rss-icon"
	   {% if post.author %}
	   href="/user/{{post.author.username}}/feed/atom/"
	   {% else %}
	   href="/user/{{userprofile.username}}/feed/atom/"	   
	   {% endif %}	  	   
	   style="float: right;
		  height: 50px;
		  width: 50px;
		  border-radius: 0;
		  padding: 5px 11px!important;">
	  <i class="fi-rss large" style="float: right;
					 padding: 0;
					 color:white;
					 line-height: 40px;"></i>
	</a>
	
      </div>
    </div>
        
  </div>
</div>
  
  <footer class="main-footer">
  </footer>

  <style>
::-webkit-scrollbar {
      width: 8px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #F2F2F2;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(119, 119, 119, 0.2); 
} /* this will style the thumb, ignoring the track */
 
    
  </style>
  
  <!-- Scripts -->
  <script src="  {% static "/static/js/foundation/foundation.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.dropdown.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.offcanvas.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.reveal.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.orbit.js" %}"></script>
  <script src="  {% static "/static/js/foundation/foundation.slider.js" %}"></script>  
  <script src="  {% static "/static/js/foundation/foundation.tab.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <script src="  {% static "/static/js/foundation/foundation.alert.js" %}"></script>    

  <!-- 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="  {% static "/static/js/foundation/foundation.tooltip.js" %}"></script>  
  -->
<script>
  $(document).foundation();
</script>


<!-- dropdown fix -->
<script type="text/javascript">
  $(function() {
      var isIPad = (navigator.userAgent.match(/iPad/i) != null) ? true : false;
      if (isIPad) {
        $('body').on('click.fndtn.dropdown touchstart.fndtn.dropdown', '.dropdown a', function (e) {
            e.stopPropagation();
            e.preventDefault();
            window.location.href = this;
            return false;
        });
      }
  });
</script>
</body>
</html>


