{% extends "base.html" %}

{% load firstparagraph %}
{% load numberofstories %}
{% load sortbypostcount %}

{% block head_extra %}
<meta name="description" content="The most awesome place to host, share, and discuss fiction.">
{% endblock %}

{% block content %}

<style>
  h2, h3 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  }

  ul li, li {
  list-style-type:none;
  margin: 10px 0px;
  }

  .featured-image {
  height: 320px;
  }

  .featured-image a img {
  margin-top: -140px;
  }

  @media screen and (max-width: 1000px) {
  .featured-image {
  height: 240px;
  }

  }

  @media screen and (max-width: 800px) {
  .featured-image a img {
  margin-top: 0;
  }
  .featured-image {
  height: 240px;
  }

  }

  .hub-tag {
  margin-left: 0;
  }
</style>



<style>
  h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;

  }

  h3 {
  margin: 0;
  }

  .tabs {
  margin-left: -20px;
  margin-top: -10px;
  margin-left: 0px;
  margin-top: -34px;
  margin-top: -14px;
  <!-- margin-top: -10px;   -->
  margin-bottom: -30px!important;
  }
  .tab-title {
  width:calc(33.33%);
  }
  .tab-title a {
  padding: 8px!important;
  }
  .tabs dd.active a, .tabs .tab-title.active a {
  background-color:#DADADA!important;
  }
</style>

<div id="page"  class="posts-page">


    <!-- Featured -->
    <div class="row">
      <div class="large-12 small-12 columns">
        <!-- Frontpage CTA -->
<article style="   margin-top: 5px;
  background: white;
  padding: 40px;

  background: rgba(255,255,255,0.8);
">
	  <img src="/static/img/valley_cropped.png"
	       style="margin: -40px -40px 0 -40px;
		      width: calc(100% + 80px)!important;		      
		      max-width: inherit;" />

	  <h4> Write fiction every day!</h4>
	  
	  <p>Develop a habit of regular writing practice.</p>

	  <p> No pressure, friendly and supportive community. </p>

	  <a href="/login/"class="small button" style="border-radius:0;width: 100%;height:50px;"
	     data-reveal-id="login-popup">Join</a>
	  <br/>
	  <p>
	    Stats:
	    <img src="/static/img/streak0.png"/>
	  </p>

	  <p>
	    Prompts:
	    <img src="/static/img/streak2.png"/>
	  </p>

	  <p>
	    Clear goals story structure:
	    <img src="/static/img/streak3.png"/>
	  </p>

	  <p>
	    Streaks:
	    <img src="/static/img/streak4.png"/>
	  </p>

	  <p>
	    Blog:
	    <img src="/static/img/streak5.png"/>
	  </p>

	  <p>
	    Awesome community:
	    <img src="/static/img/streak50.png"/>
	  </p>	  
	  
	  <div class="clearfix"></div>    
</article>


</div>
</div>
</div>

</div>
<script>
  $(document).ready(function() {
  $(".orbit-bullets").remove();
  $(".orbit-slide-number").remove(); 
  });
</script>
{% endblock %}
