{% extends "base.html" %}

{% load firstparagraph %}
{% load numberofstories %}
{% load sortbypostcount %}

{% block head_extra %}
{% endblock %}

{% block content %}
<!-- Featured -->

<div class="row">
  <ul class="featured-orbit" data-orbit>
  {% if  request.META.HTTP_HOST == "rationalfiction.io"  %}
  <li class="featured-image">
    <a href="/story/welcome">
      <img src="http://pre10.deviantart.net/6112/th/pre/f/2013/155/6/6/the_valley_world_of_fiction_by_booom-d67t8fd.jpg"
	   />
      <div class="orbit-caption">
	Featured post: Welcome!
      </div>
    </a>
  </li>
  {% endif %}
  <!-- 
  <li class="featured-image">
    <a href="/challenge/portal-fantasy">
      <img src="http://pre12.deviantart.net/9c86/th/pre/i/2012/307/1/0/fantasy_landscape_by_deevad-d5jwoei.jpg"/>
      <div class="orbit-caption">
	Weekly Challenge: Portal Fantasy
      </div>
    </a>
  </li>

  <li class="featured-image">
    <a href="/story/zombie-apocalypse">
      <img src="http://fengzhudesign.com/blog/fzd_zombie_01b.JPG"/>
      <div class="orbit-caption">
	Featured Story: Zombie Apocalypse
      </div>
    </a>
  </li>
   -->
</ul>  
</div>

<div class="row">
  <div class="large-6 columns">
    <a href="/stories/hot/"><h3>Hot</h3></a>
    <ul>    
    {% for post in hot_posts %}
      {% if not post.author.shadowban or post.author = user %}    
      <li>
	<a href="{{post.get_absolute_url}}"><b>{{post.title}} </b></a> <br/>
	{% if post.hubs.all %}
  	  {% for hub in post.hubs.all %}
	  <a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>	
	  {% endfor %}
	  <br/>
	{% endif %}
	{{post.body | firstparagraph | safe }}
	<hr/>
      </li>
      {% endif %}      
    {% endfor%}
    </ul>
  </div>

  <div class="large-6 columns">
    <a href="/stories/new/"><h3>New</h3></a>
    <ul>    
    {% for post in new_posts %}
      {% if not post.author.shadowban or post.author = user %}    
      <li>
	<a href="{{post.get_absolute_url}}"><b>{{post.title}} </b></a> <br/>
	{% if post.hubs.all %}
  	  {% for hub in post.hubs.all %}
	  <a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>	
	  {% endfor %}
	  <br/>
	{% endif %}
	{{post.body | firstparagraph | safe }}
	<hr/>
      </li>
      {% endif %}      
    {% endfor%}
    </ul>
  </div>

  <!-- <hr/> -->
</div>

<!-- 
<div class="row">
    <div class="large-12 columns">
      <h2>Hubs</h2>
      {# {% include "hubs/hubs-list.html" %} #}
    </div>
</div>
 -->

<style>
h2, h3 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

ul li, li {
list-style-type:none;
margin: 10px 0px;
}

.featured-image {
height: 320px;
}

.featured-image a img {
margin-top: -140px;
}

@media screen and (max-width: 1000px) {
    .featured-image {
    height: 240px;
    }

}

@media screen and (max-width: 800px) {
    .featured-image a img {
    margin-top: 0;
    }
    .featured-image {
    height: 240px;
    }

}

.hub-tag {
margin-left: 0;
}
</style>


<script>
  $(document).ready(function() {
  $(".orbit-bullets").remove();
  $(".orbit-slide-number").remove(); 
  });
</script>
{% endblock %}
