{% extends "base.html" %}

{% load firstparagraph %}
{% load numberofstories %}
{% load sortbypostcount %}

{% block head_extra %}
<meta name="description" content="The most awesome place to host, share, and discuss fiction.">
{% endblock %}

{% block content %}

<style>
  h2, h3 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  }

  ul li, li {
  list-style-type:none;
  margin: 10px 0px;
  }

  .featured-image {
  height: 320px;
  }

  .featured-image a img {
  margin-top: -140px;
  }

  img {
  margin-top: 20px;
  }

  @media screen and (max-width: 1000px) {
  .featured-image {
  height: 240px;
  }

  }

  @media screen and (max-width: 800px) {
  .featured-image a img {
  margin-top: 0;
  }
  .featured-image {
  height: 240px;
  }

  }

  .hub-tag {
  margin-left: 0;
  }
</style>



<style>
  h1 {
  font-size: 26px;
  font-size: 36px;
  font-weight: bold;

hr {
    margin-top: 40px!important;
}  

  }

  h3 {
  margin: 0;
  }

  .tabs {
  margin-left: -20px;
  margin-top: -10px;
  margin-left: 0px;
  margin-top: -34px;
  margin-top: -14px;
  <!-- margin-top: -10px;   -->
  margin-bottom: -30px!important;
  }
  .tab-title {
  width:calc(33.33%);
  }
  .tab-title a {
  padding: 8px!important;
  }
  .tabs dd.active a, .tabs .tab-title.active a {
  background-color:#DADADA!important;
  }
</style>

<div id="page"  class="posts-page">


    <!-- Featured -->
    <div class="row">
      <div class="large-12 small-12 columns">
        <!-- Frontpage CTA -->
<article style="   margin-top: 5px;
  background: white;
  padding: 40px;

  background: rgba(255,255,255,0.8);
">
	  <img src="/static/img/valley_cropped.png"
	       style="margin: -40px -40px 0 -40px;
		      width: calc(100% + 80px)!important;		      
		      max-width: inherit;" />

	  <h1> Write fiction every day</h1>
	  
	  <p>The goal of this website is to help you develop a daily writing habit. This is the perfect place to regularly practice your craft in a fun and engaging way.</p>



	  <a href="/login/"class="small button" style="border-radius:0;width: 100%;height:50px;"
	     data-reveal-id="login-popup">Join</a>
	  <div class="clearfix"></div>    
	  <br/>
	  <hr/>

	  <h1> How it works</h1>
	  <p>
	    You begin by picking a prompt for your story:
	    <img src="/static/img/prompt-original.png"/>
	  </p>

	  <p>
	    To make it easier to start writing, the process is broken down into 4 simple steps. You begin by writng a paragraph describing a settng of your story, and continue from there:
	    <img src="/static/img/goals.png"/>
	  </p>

	  
	  <p>
	    Once you've picked a goal, you can start a sprint. Use sprints as warm up exercises, or do a sprint for each step of the writing process, and have a complete 400 words story!

	    <img src="/static/img/sprint-fast.gif"/>
	  </p>

	  <!-- 
	  <p>
	    Write a story s Simple and elegant editor:
	    <img src="/static/img/editor.png"/>
	  </p>
	  -->
	  <p>
	    Under the text editor, there's a progressbar that represents the total number of words you have written and your target wordcount for today(the green circle). Once you've reached your wordcount - congratulations, you've accomplished your daily goal!
	    <img src="/static/img/progressbar.png"/>
	  </p>

	  <p>
	    Once you're happy with your story - share it with our friendly and supportive community! Receive feedback and encouragement, get comments, upvotes and subscribers. If you're completely new - don't be shy, there's no pressure to be perfect, the main purpose of this place is to be helpful and inspire you to write more. <!-- a Dan Harmon. --> 
	    <img src="/static/img/streak5.png"/>
	  </p>
	  <p>
	    On you profile page you have a convenient calendar representing the amount of words you have written each day. Your first goal is to write 250 words/day for 30 days in a row. 
	    <img src="/static/img/stats.png"/>
	  </p>

	  <p>
	    The most actve writers get a place on our leaderboard of awesomeness:
	    <img src="/static/img/leaderboard.png"/>
	  </p>

	  <p>Come over, join us, and start getting better at writing!</p>

	  <a href="/login/"class="small button" style="border-radius:0;width: 100%;height:50px;"
	     data-reveal-id="login-popup">Join</a>

	  <!-- <p>Also check out our writing resources.</p> -->

	  
	  
	  <div class="clearfix"></div>    
</article>


</div>
</div>
</div>

</div>
<script>
  $(document).ready(function() {
  $(".orbit-bullets").remove();
  $(".orbit-slide-number").remove(); 
  });
</script>
{% endblock %}
