{% extends "base.html" %}

{% load firstparagraph %}
{% load numberofstories %}
{% load sortbypostcount %}

{% block head_extra %}
<meta name="description" content="The most awesome place to publish, discover, and discuss fiction.">
{% endblock %}

{% block content %}
<style>
  .main-header {

  }
</style>
<div class="homepage">
<!-- Header -->
<div class="header-background">
<div class="header-background-overlay">
  
<div class="row">
  <div class="large-12 small-12 homepage-header">
    <div  class="big-logo">
      <img src="/static/img/element-icon-fire.png"/>
    </div>
    <h1>Fiction Hub</h1>
    <h2>The best place for readers to discover awesome fiction,</h2>
    <h2>and for writers to find their audience.</h2>
    <a data-reveal-id="sub-popup" class="small button"> Subscribe </a>
    <a href="/submit/"class="small button"> Submit Story </a>
    <a data-reveal-id="login-popup" class="small button"> Join our community </a>        
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End header-background -->
</div>	 <!-- End header-background-overlay -->

<!-- Subnav -->
<div class="subnav-background">
<div class="row">
  <div class="large-12 small-12 subnav">
    <ul class="left">
      <li>
	<a href="/hub/short-stories/">Short Stories</a>
      </li>
      <li>
	<a href="/hub/science-fiction/">Science Fiction</a>	
      </li>      
      <li>
	<a href="/hub/fantasy/">Fantasy</a>	
      </li>      
      <li>
	<a href="/hub/comedy/">Comedy</a>	
      </li>      
      <li>
	<a href="/hub/fanfiction/">Fanfiction</a>	
      </li>
      <!-- 
      <li>
	<a href="">On Writing</a>	
      </li>
       -->
    </ul>
    <ul class="right">
      <li>
	<a href="https://www.facebook.com/fictionhub/">
	  <i class="fa fa-facebook-square" aria-hidden="true"></i>
	</a>
      </li>
      <li>
	<a href="https://twitter.com/fictionhub">
	  <i class="fa fa-twitter-square" aria-hidden="true"></i>
	</a>
      </li>
      <li>
	<a href="https://medium.com/fictionhub/">
	  <i class="fa fa-medium" aria-hidden="true"></i>
	</a>
      </li>
      
    </ul>
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End header background -->

<!-- Stories -->
<div class="stories">
<div class="row">
  <div class="large-12 small-12">
    <!-- Story -->
    <div class="large-4 small-4 story">
      <article>
	<a  href="http://fictionhub.io/story/the-metropolitan-man">
	  <div style="background-image:url('/media/story_thumbnails/metropolitan-man.jpeg');"
	       class="thumbnail">
	  </div>
	</a>
	<a href="http://fictionhub.io/story/boxed-in"><h3>The Metropolitan Man</h3></a>
	<p>Superman has arrived in Metropolis. Features Lex Luthor as the villain protagonist as he comes to grips with the arrival of an alien god.</p>
      </article>
    </div>
    <!-- Endstory -->

    <!-- Story -->
    <div class="large-4 small-4 story">
      <article>
	<a  href="http://fictionhub.io/story/boxed-in">
	  <div style="background-image:url('/media/story_thumbnails/boxed-in.png');"
	       class="thumbnail">
	  </div>
	</a>
	<a href="http://fictionhub.io/story/boxed-in"><h3>Boxed In</h3></a>
	<p>Man had created god, and put her in a box.</p>
      </article>
    </div>
    <!-- Endstory -->

    <!-- Story -->
    <div class="large-4 small-4 story">
      <article>
	<a  href="http://fictionhub.io/story/the-randi-prize">
	  <div style="background-image:url('/media/story_thumbnails/randi-prize.jpeg');"
	       class="thumbnail">
	  </div>
	</a>
	<a href="http://fictionhub.io/story/the-randi-prize"><h3>The Randi Prize</h3></a>
	<p>Peter could make coins disappear by snapping his fingers.</p>
      </article>
    </div>
    <!-- Endstory -->

    <div class="clearfix"></div>

    <!-- Story -->
    <div class="large-4 small-4 story">
      <article>
	<a  href="http://fictionhub.io/story/siri">
	  <div style="background-image:url('/media/story_thumbnails/siri.jpeg');"
	       class="thumbnail">
	  </div>
	</a>
	<a href="http://fictionhub.io/story/siri"><h3>Siri</h3></a>
	<p>Prompt: A company is releasing an update that adds true AI companions to its mobile devices.</p>
      </article>
    </div>
    <!-- Endstory -->

    <!-- Story -->
    <div class="large-4 small-4 story">
      <article>
	<a  href="http://fictionhub.io/story/unaware">
	  <div style="background-image:url('/media/story_thumbnails/unaware.jpeg');"
	       class="thumbnail">
	  </div>
	</a>
	<a href="http://fictionhub.io/story/unaware"><h3>Unaware</h3></a>
	<p>Prompt: The apocalypse has continued for years now, but you’ve never noticed.</p>
      </article>
    </div>
    <!-- Endstory -->

    <!-- Story -->
    <div class="large-4 small-4 story">
      <article>
	<a  href="/story/shaman">
	  <div style="background-image:url('/media/story_thumbnails/shaman.png');"
	       class="thumbnail">
	  </div>
	</a>
	<a href="/story/shaman"><h3>Shaman</h3></a>
	<p>Stories about a shaman.</p>
      </article>
    </div>
    <!-- Endstory -->
    <div class="clearfix"></div>
    <a href="/browse/" class="small button right" style="border-radius:0;"> Browse more great stories >> </a>
    
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End header background -->

</div>
{% endblock %}
