{% extends "base.html" %}

{% load firstparagraph %}
{% load numberofstories %}
{% load sortbypostcount %}

{% block head_extra %}
<meta name="description" content="The most awesome place to publish, discover, and discuss fiction.">
{% endblock %}

{% block content %}
<style>
  .main-header {

  }
</style>
<div class="homepage">
<!-- Header -->
<div class="header-background">
<div class="header-background-overlay">
  
<div class="row">
  <div class="large-12 small-12 homepage-header">
    <div  class="big-logo">
      <img src="/static/img/logo_200x200.png"/>
    </div>
    <h1>Hacker Tribe</h1>
    <h2>decentralized social network for hackers and founders</h2>
    <!-- <a data-reveal-id="login-popup" class="small button"> Join </a> -->
    <style>.main-header {display:none;}</style>
    <form method="post" action="/early-access/?next={{request.path}}"
	  style="margin:auto;width: 590px;margin-top:20px;">{% csrf_token %}
    	  <input id="email" maxlength="254" name="email" type="text"
    		 placeholder="Enter your email..."
		 style="float: left;
			width: 400px;
			height: 50px;">
    	  <input type="submit" class="button small" value="Get early access!"
		 style="padding: 16px 32px;
			height: 50px;
			float:left;
			margin: 0;
			width:190px;">
    	</form>
    
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End header-background -->
</div>	 <!-- End header-background-overlay -->

<!-- Subnav -->
<div class="subnav-background">
  <div class="row">
  <div class="large-12 small-12 subnav">
    <ul class="left" style="margin-left:0;">
      <li>
	<a href="/#features">Features</a>
      </li>
      <li>
	<a href="/#screenshots">Screenshot</a>	
      </li>
      <li>
	<a href="/#pricing">Pricing</a>	
      </li>
      <li>
	<a href="/#upcoming">Upcoming</a>	
      </li>            
    </ul>
  </div>
</div>	 <!-- End row -->
</div>	 <!-- End header background -->

<!-- Stories -->
<div class="stories">
<div class="row posts-page">
  <div class="large-12 small-12">
      <article style="padding:40px;
		      background: rgba(255,255,255,0.5);//#fff;
		      box-shadow: 0 1px 4px rgba(0,0,0,.04);
		      border: 1px solid rgba(0,0,0,.09);
		      border-radius: 3px;
		      padding-bottom:0;">
	<span id="features"></span>
	<h1> Features </h1>
	<hr/>
	<h2>Decentralized and GNU Social compatible</h2>
	<p>You can easily spin up your own instance by following instructions [here].
	  Dockerized, few easy commands.</p>

	<h2>Open Source</h2>
	<p>Contribute to the project here.</p>


	<h2>Optimized for high quality discussion.</h2>
	<p>The goal of this community is to share insightful ideas that gratify intellectual curiosity, to exchange advice and experience. Clever and motivated entrepreneurs and creators here. No low quality inane memes allowed.</p>
	
	<h2>You're the customer, not the product.</h2>
	<p>My goal is to make a platform where you are the customer, not the product. To make it sustainable, I am going to charge a reasonable membership price.</p>
	<p>That will allow me to pay for the servers and focus on improving the user experience and the quality of the platform, instead of compromising it with ads or creepily trying to manipulate your attention.</p>
        <p>As a side benefit, this will keep community to only engaged users who derive value out of it, and prevent spam and fake accounts.</p>

	<p>Remember, if you don't like the moderation or don't want to pay - you can always easily run your own instance!</p>
	

	<span id="screenshots"></span>
	<!-- <h1> Screenshots </h1> -->
	<!-- <hr/> -->
	<img src="/media/images/browsepage-1.png" style="margin: 20px -40px;
							 width:(100% + 80px);
							 max-width:calc(100% + 80px);">
	<!-- 
	<br/>
	<img src="/media/images/comments.png" style="margin: 20px -40px;
							 width:calc(100% + 80px);
							 max-width:calc(100% + 80px);">
	 -->

	<span id="pricing"></span>
	<h1>Pricing</h1>
	<ul>
	  <li>
	    <b>Free</b> lifetime accounts to the first 5000 users.
	  </li>
	  <li>
	    <b>Free</b> for people who actively contribute to the community.</br>
	    (you gain a free year for every 500 karma points).
	  </li>
	  <li>
	    <b>Free</b> trial for the first year.
	  </li>
	  <li>
	    Otherwise <b>$10 per year</b> or <b>$1 per month</b>.
	  </li>
	</ul>


	<span id="upcoming"></span>
	<h1>Upcoming features</h1>
	<h2>Developer API</h2>
	<p>
	  If you want to contribute to development, go here.
	</p>
	<h2>ActivePub</h2>
	<h2>Moderation Tools</h2>
	<h2>Private Messages</h2>
	<h2>Export Data</h2>	
	<h2>General Social Network</h2>
	<p>If this takes off and works out, there will be a more general version of this.</p>
	<p>But hacker tribe will stay hacker tribe, so the quality of this community will stay high.</p>
	<p></p>
      </article>
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End header background -->

</div>
{% endblock %}
