{% extends "base.html" %}
{% load markdownify %}
{% load staticfiles %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block content %}

<div id="page"  class="postPage">
<br/>



  <div class="row">
    <div class="large-12 columns">

<!-- Sprint warning -->
<div class="alert-box panel" id="sprint-popup" data-alert style="display:none;">
  <h4>Sprints</h4>
  <p> Your healthbar goes down when you stop typing, and refills as you write.
    If it reaches zero - you "die" and lose everything you wrote.</p>

  <p>Your progress bar fills up as you write, and when you reach 100 words - you win!</p>

  <p> Sprints are a great tool that will help you to focus and achieve the state of flow. They are easy to start with(100 words is not a difficult challenge), and very satisfying to complete. You can forget about editing, stop censoring yourself, get out of your head, and just improvise.</p>

  <p>Once you've completed your first streak, the first writing goal is automatically marked as complete. You can pause, rest, improve what you have written, and you can move on to the next one.</p>

    
<a href="#" class="close" style="font-size: 41px; top: 20px;">&times;</a>  
</div>


<script src="{% static "js/js.cookie.js" %}" type="text/javascript"></script>

<script>




$(document).ready(function() {

$(window).on('close.fndtn.alert', function(event) {
Cookies.set('sprint_closed', 'yes', { expires: 7 });	    
});

	
    if (Cookies.get('sprint_closed')==null) {
	// Cookies.set('name', 'value', { expires: 7 });
        $('#sprint-popup').css("display","block");
    }
});
</script>




    <b> Sprint: 0/100</b><br/>
    <span id="start">Start</span><br/>
    <!-- <span id="stop">Stop</span><br/> -->
    <!-- <span id="more">More</span><br/>          -->
      <div class="progress" style="margin: 0px;
				   border: 1px solid #7C868E;
				   float:right;
				   width:50%;">
	  <span class="meter sprintprogress" style="width:0%; max-width:100%;"></span>
      </div>      

      <div class="progress" style="margin: 0px;
				   border: 1px solid #7C868E;
				   float:left;
				   width:50%;">
	  <span class="meter health" style="width:100%; max-width:100%;"></span>
      </div>
    </div>
  </div>


  <script>

    </script>
    
  </script>
  <div class="row">
    <div class="large-12 columns">



      <br/>

    <div id="test">
	<textarea>
	</textarea>

	<!-- 
	<div class="progress" style="margin: 0px;border: 1px solid #7C868E;">
	  <div class="goal" style="width:50%; height:24px;border: 1px solid #7C868E;">
	    <span class="meter" style="width:0; max-width:200%;"></span>
	  </div>
	</div>
	-->
    
      </div>
    </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End page -->


<script src="{% static "/static/js/js-chart-widgets.min.js" %}" type="text/javascript"></script>

<script>
</script>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


<script>
var simplemde;
var editor;
$('textarea').each(function() {
    simplemde = new SimpleMDE({
	element: this,
	autosave: {
            enabled: true,
            uniqueId: "123",
            delay: 1000,
	},
    });
   simplemde.render();
    // Progress Bar
    simplemde.codemirror.on("change", function(){
	health=health + 0.5;

	editor = $(simplemde.element.parentNode.children[4]).parent()
	words = editor.find(".words").html();
	percent = (parseFloat(words)/(100))*100;
	$(".sprintprogress").css("width",percent+"%")
	if (percent > 99) {
	    $(".meter").css("background","green");
	    clearTimeout(healthTimer);
	} else {
	    $(".meter").css("background","#008CBA");	    
	}
    });
    
})


var health = 10;
var healthTimer = "";

function startTimer() {
    healthTimer = setInterval(function () {
	//display.text(timer);
	$(".health").css("width",(health/10)*100+"%");

	health = health - 0.1/5;

	if (health > 8) {
	$(".health").css("background","green");	
	} else if (health > 4) {
	    $(".health").css("background","#008CBA");
	} else {
	    $(".health").css("background","red");	    
	}

	
        if (health < -0.5) {
	    simplemde.value("");
            console.log("Lost");
	    health = 0;
        }
    }, 10);
}

$("#start").click(function(){
    startTimer(5);
});

$("#stop").click(function(){
    clearTimeout(healthTimer);
});

$("#more").click(function(){
    health=health + 1;
});
    

</script>


<style>
  .Calendar div {
  margin:auto;
  }
</style>
{% endblock content %}



