{% extends "base.html" %}
{% load markdownify %}
{% load staticfiles %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block content %}
<div id="page"  class="postPage">
  <div class="row">
    <div class="large-12 columns">
      <!-- <p> -->
      <!-- 	{{test}} -->
      <!-- </p> -->
    <div id="test">
	<textarea>
    </textarea>
    <div class="progress" style="margin: 20px;border: 1px solid #7C868E;">
    <div class="goal" style="width:50%; height:24px;border: 1px solid #7C868E;">
    <span class="meter" style="width:0; max-width:200%;"></span>
    </div>
    </div>
    
      </div>
    </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End page -->




<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


<script>
    var simplemde;
var editor;
$('textarea').each(function() {
    simplemde = new SimpleMDE({
	element: this,
	autosave: {
            enabled: true,
            uniqueId: "123",
            delay: 1000,
	},    
    });
   simplemde.render();
    
    simplemde.codemirror.on("change", function(){
	editor = $(simplemde.element.parentNode.children[4]).parent()
	words = editor.find(".words").html();
	percent = (parseFloat(words)/(256))*100;
	$(editor).find(".meter").css("width",percent+"%")
	if (percent > 100) {
	    $(editor).find(".meter").css("background","green");
	} else {
	    $(editor).find(".meter").css("background","#008CBA");	    
	}
    });
    
})
	
</script>
{% endblock content %}

