{% extends "nexy/base.html" %}

{% load firstparagraph %}
{% load numberofstories %}
{% load sortbypostcount %}

{% block head_extra %}
<meta name="description" content="The most awesome place to publish, discover, and discuss fiction.">
{% endblock %}

{% block content %}
<style>
  .main-header {

  }
</style>


<!-- Subscribe notification -->
<div data-alert class="alert-box success radius"
     style="background-color: #f66303; border:none;
	    position: absolute;
	    margin: auto;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    width: 50%;
	    top: 20px;
display:none;">
  Success! You will receive an email once we're ready!
  <a href="#" class="close">&times;</a>
</div>

 
<div class="homepage">
<!-- Header -->
<div class="header-background">
<div class="header-background-overlay">
  
<div class="row">
  <div class="large-12 small-12 homepage-header">
    <div  class="big-logo">
      <img src="/static/img/logo_200x200.png"/>
    </div>
    <h1>nexy</h1>
    <h2>great community</h2>
    <a data-reveal-id="login-popup" class="small button"> Join our community </a>
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End header-background -->
</div>	 <!-- End header-background-overlay -->

<!-- Subnav -->
<div class="subnav-background">
  <div class="row">
  <div class="large-12 small-12 subnav">
    <ul class="left" style="margin-left:0;">
      <li>
	<a href="/#features">Features</a>
      </li>
      <li>
	<a href="/#screenshots">Screenshots</a>	
      </li>
      <li>
	<a href="/#future">Future</a>	
      </li>            
    </ul>
  </div>
</div>	 <!-- End row -->
</div>	 <!-- End header background -->

<!-- Stories -->
<div class="stories">
<div class="row posts-page">
  <div class="large-12 small-12">
      <article style="padding:40px;
		      background: rgba(255,255,255,0.5);//#fff;
		      box-shadow: 0 1px 4px rgba(0,0,0,.04);
		      border: 1px solid rgba(0,0,0,.09);
		      border-radius: 3px;
		      padding-bottom:0;">


	<p>(Currently in active development, launching soon!)</p>

	<p>Hey, Hacker News! I'm looking for beta users and feedback on this project. My goal is to build the perfect social network, the way it's supposed to be built - open source, decentralized, with high quality community and without any nonsense.</p>

	<p>Imagine Reddit meets Twitter but for decentralized web, where anyone can easily create their own website that will be plugged into the network. </p>

	<span id="screenshots"></span>

	<div class="slick-container"
	     style="margin: 20px -40px;
		    width:(100% + 80px);
		    max-width:calc(100% + 80px);
		    position:relative;">
	  <div class="screenshots">
	    <img class="screenshot" src="/media/images/home-page.png" alt="Space">
	    <img class="screenshot" src="/media/images/browse-startups.png" alt="Space">
	    <img class="screenshot" src="/media/images/discussion-thread.png" alt="Space">
	  </div>
	  <a class="prev">
	    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
	  </a>
	  <a class="next">
	    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
	  </a>
	</div> <!-- End .slick-container -->

	<style>
	  .screenshot {
	  margin:0px;
	  }
	  .prev {
	  position: absolute;
	  top: 50%;
	  left: 10px;	  
	  }
	  .next {
	  position: absolute;
	  top: 50%;
	  right: 10px;	  
	  }
	</style>

	<script>
	  $(document).ready(function(){
	  $('.screenshots').slick({
	  centerMode: true,
	  dots: true,
	  initialSlide: 0,
	  prevArrow: $('.prev'),
	  nextArrow: $('.next'),	  
	  });
	  });	  
	</script>
<!-- 
	<img src="/media/images/homepage-2.png" style="margin: 20px -40px;
							 width:(100% + 80px);
							 max-width:calc(100% + 80px);">

 -->
	<span id="features"></span>
	<h1 id="features">Features</h1>

	<h3 id="decentralizedandgnusocialcompatible">Decentralized and GNU Social compatible</h3>

	<p>Hacker Tribe is running on <a href="https://github.com/raymestalez/nexus">Nexus</a> - a federated, reddit-like social networking platform.</p>

	<p>It is dockerized, so you can easily spin up your own instance <a href="">with a few easy commands</a>, and it will be plugged into the decentralized network.</p>

	<h3 id="opensource">Open Source</h3>

	<p>Nexus is open source, and written in Django. You can easily fork it and add your own features or modify it's design as you wish. You can also contribute to the project <a href="https://github.com/raymestalez/nexus">here</a>!</p>

	<h3>Optimized for high quality discussion.</h3>

	<p>The goal of this community is to share insightful ideas that gratify intellectual curiosity, to exchange advice and experience. Clever and motivated entrepreneurs and creators here.</p>


	<p><span id="future"></span></p>

	<h1>Future plans</h1>

	<ul>
	  <li>Developer API</li>

	  <li>ActivityPub integration</li>

	  <li>Moderation Tools</li>

	  <li>Export data</li>
	</ul>
      </article>
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->
</div>	 <!-- End header background -->


</div>

<script>
$(document).ready(function(){  
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};

if (getUrlParameter('notification')) {
$(".alert-box").show()
setTimeout(
    function() 
    {
	$(".alert-box").fadeOut();
    }, 5000);    
};

})
</script>
{% endblock %}
