{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block content %}
    
<div id="page"  class="stories-page">
  
{% include "challenges/subnav.html" %}

<div class="row">
  <div class="large-12 columns">
    {% for challenge in challenges %}
    <article>
      <!-- Header -->
      <header class="post-header">
	<a href="/challenge/{{challenge.slug}}">
	  <h1 class="left"> {{challenge.title}} </h1>
	</a>
	<hr />
      </header>
      <!-- Post Body -->
      <!-- 
      {# {{challenge.description | markdownify | safe }} #}
       -->
      <div class="clearfix"></div>
    </article>
    {% endfor %}

<!-- Pagination -->
<!-- 
<div class="pagination">
  <span class="step-links">
    {% if stories.has_previous %}
    <a href="?page={{ stories.previous_page_number }}"><</a>
    {% endif %}

    <span class="current">
      Page {{ stories.number }}
      <!-- of {{ stories.paginator.num_pages }} 
    </span>

    {% if stories.has_next %}
    <a href="?page={{ stories.next_page_number }}">></a>
    {% endif %}
  </span>
</div>
 -->

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

{% endblock content %}


