{% extends "base.html" %}
{% block content %}

<style>
  #id_prompt {
  height: 90px!important;
  resize: none;
  }
</style>

<div id="page"  class="postPage">
  <div class="row">
    <div class="large-12 large-centered columns">
      <h2> Add Prompt </h2>
      <form method="post" action="/prompt/add/?next={{nextpage}}"> {% csrf_token %}
	  {{form}}
	<input type="submit" class="button small right" value="Create" />
      </form>
    </div>
    <div class="clearfix"></div>
    <div style="width:100%; height: 20px"></div>

  </div>	 <!-- End row -->
</div>

{% endblock content %}

