<!-- Subnav -->
<div class="subnav">  
  <div class="row">
    <div class="large-7 columns">
      <a href=""><span>Prompts</span></a>
      <a href=""><span>Weekly Challenges</span></a>      

      <!--  Rankby
      <div class="{% if userprofile %}profile{% endif %} rank-types">
	<a href="{{filterurl}}/"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
	<a href="{{filterurl}}/new/"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>

	<a href="{{filterurl}}/top/all-time">
	  <span {% if rankby == "top" %}class="bold"{% endif %}>Top</span></a>
	{% if rankby == "top" and not userprofile %}
	<a href="{{filterurl}}/top/all-time">
	  <span {% if timespan = "all-time" %}class="bold"{% endif %}>All time</span></a>
	<a href="{{filterurl}}/top/year">
	  <span {% if timespan = "year" %}class="bold"{% endif %}>Year</span></a>
	<a href="{{filterurl}}/top/month">
	  <span {% if timespan = "month" %}class="bold"{% endif %}>Month</span></a>
	<!-- While website is not being updated that often.
	<a href="{{filterurl}}/top/day">
	  <span {% if timespan = "day" %}class="bold"{% endif %}>Day</span></a>
	 -->
	{% endif %}
      </div> -->
    </div>

  </div>
</div>
