{% load staticfiles %}
{% load markdownify %}



{% if userprofile %}
<div class="profile-card">
  <div class="user-background"></div>
  <div class="user-info">
    <img src="{% static "/static/img/signature.png" %}"
	 class="avatar"/>
    <a href="/@{{userprofile.username}}"class="username">@{{userprofile.username}}</a>
    
    <div class="stats">    
      <i class="fi-torsos-all stats-icon"></i>
      {{userprofile.subscribers.count}}
      <i class="fi-arrow-up stats-icon"></i>
      {{userprofile.karma}}
    </div>

    <div class="about">{{userprofile.about|markdownify|safe}}</div>

    {% if not userprofile = user %}
    <!-- If I'm browsing someone's profile.  -->

    {% if user.is_authenticated %}    
        {% if user not in userprofile.subscribers.all %}	
        <a class="button small"
           href="/user/{{userprofile.username}}/subscribe">
          Follow</a>
        {% else %}
        <a class="button small"
           href="/user/{{userprofile.username}}/unsubscribe">
          Following</a>
        {% endif %}	<!-- end if follow/following -->
    {% else %}
    <!-- If not authenticated -->
    <a class="button small"
       data-reveal-id="login-popup">
      Follow</a>
    {% endif %}

    {% else %}
   <!-- If it's my profile -->
    <a href="/preferences/" class="small button">
      <i class="fa fa-cog"></i>
      Preferences </a>
    {% endif %}
  </div>
  <div class="clearfix"></div>
</div>
<br/>

{% elif hubtitle %}
<div class="profile-card">
  <div class="user-background"></div>
  <div class="user-info">
    <div class="about">
      <span class="bold">#{{hubtitle}}</span><br/>
      {{hub.description}}
    </div>
  </div>

  {% if user.is_authenticated %}    
        {% if user not in hub.subscribers.all %}	
        <a class="button small"
           href="/hub/{{hub.slug}}/subscribe">
          Subscribe</a>
        {% else %}
        <a class="button small"
           href="/hub/{{hub.slug}}/unsubscribe">
          Subscribed</a>
        {% endif %}	<!-- end if follow/following -->
    {% else %}
    <!-- If not authenticated -->
    <a class="button small"
       data-reveal-id="login-popup">
      Subscribe</a>
    {% endif %}

  <div class="clearfix"></div>
</div>
<br/>


{% else %}
<div class="profile-card">
  <div class="user-background"></div>
  <div class="user-info">
    <div class="about">
      <span class="bold">Join our community!</span><br/>
      Join a community of hackers, developers, startup founders.
    </div>
  </div>    
    <a class="small button"> Join </a>
  <div class="clearfix"></div>
</div>
<br/>

{% endif %}

