{% extends "chaoslegion/base.html" %}
{% load markdownify %}
{% block content %}
    
<div id="page"  class="postPage profile">
<div class="subnav">
  <div class="row">
    <div class="large-4 columns" style="//padding-top: 20px;">
      <div class="rank-types">
	  <a href="/user/{{userprofile.username}}"> Posts </a>
	  <!-- <a> Top </a> -->
	  <!-- <a> Comments </a> -->
      </div>
    </div>
    <div class="large-8 columns">
      <div style="float:right;">
	<!-- <a> Store </a>	 -->
	{% if userprofile.website %}
	<a href="{{userprofile.website}}"> Website </a>
	{% endif %}
	{% if userprofile.about %}
	<a href="/user/{{userprofile.username}}/about"> About </a>
	{% endif %}

	{% if not userprofile == user %}
	{% if userprofile not in subscribed_to %}	
	<a class="small button usersubscribe" style="padding:10px;margin:0 10px;"
	   href="/user/{{userprofile.username}}/subscribe">
	  Subscribe <span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	{% else %}
	<a class="small button usersubscribe unsubscribe" style="padding:10px;margin:0 10px;"
	   href="/user/{{userprofile.username}}/unsubscribe">
	  Ubsubscribe <span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	{% endif %}
	{% endif %}

	<b> {{userprofile.username}} </b>
	<span class="userkarma">{{userprofile.karma}}</span>

	<!-- <a> http://orangemind.io </a> -->
	<!-- <p class="userdata">Karma: 128 | Followers: 32</p> -->
      </div>
    </div>        
  </div>
</div>

  <div class="row">
    <div class="large-12 columns">
      <article>
	<!-- Post Header -->
	<header class="post-header">
	    <h1> About </h1>
	  <hr />
	</header>
	<!-- Post Body -->
	{{userprofile.about | markdownify | safe }}
	<br/>
	<div>
      </article>
    </div> <!-- End 12 columns -->
    </div>	 <!-- End row -->



<script>
    $(document).ready(function(){
	// getting csrf token.
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		    }
		}
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	// Upvote
	function upvote(postId) {
	    $.ajax({
		type: "POST",
		url: "/upvote/",
		data: {"post-id": postId},
		success: function(){
		    var upvoteLink = $('#post-upvote-'+postId);
		    var downvoteLink = $('#post-downvote-'+postId);		    
		    upvoteLink.addClass('upvoted');
		    downvoteLink.addClass('upvoted');		    
		    var score = upvoteLink.parent().find(".score");
                    var notUpdated = Number(score.html());
                    score.html(notUpdated + 1);
		    upvoteLink.off("click");
		    downvoteLink.off("click");		    
		    upvoteLink.click(function(){ return false;});
		    downvoteLink.click(function(){ return false;});		    
		},
		headers: {
		    'X-CSRFToken': csrftoken
		}
	    });
	    return false;
	}

	// Downvote
	function downvote(postId) {
	    $.ajax({
		type: "POST",
		url: "/downvote/",
		data: {"post-id": postId},
		success: function(){
		    var upvoteLink = $('#post-upvote-'+postId);		    
		    var downvoteLink = $('#post-downvote-'+postId);
		    upvoteLink.addClass('downvoted');		    
		    downvoteLink.addClass('downvoted');
		    var score = downvoteLink.parent().find(".score");
                    var notUpdated = Number(score.html());
                    score.html(notUpdated - 1);
		    upvoteLink.off("click");
		    downvoteLink.off("click");		    
		    upvoteLink.click(function(){ return false;});
		    downvoteLink.click(function(){ return false;});	    		    
		},
		headers: {
		    'X-CSRFToken': csrftoken
		}
	    });
	    return false;
	}
	

	{% if user.is_authenticated %}
	//Connect functions
	$("a.upvote").click(function(){
	    var postId = parseInt(this.id.split("-")[2]);
	    return upvote(postId);
	})
	$("a.downvote").click(function(){
	    var postId = parseInt(this.id.split("-")[2]);
	    return downvote(postId);
	})
	// Disabe voted
	$("a.upvoted").off("click");
	$("a.downvoted").off("click");	
        $("a.upvoted").click(function(){ return false;});
        $("a.downvoted").click(function(){ return false;});	
	{% endif %}
    })
</script>
{% endblock content %}


