{% extends "chaoslegion/base.html" %}
{% block content %}
    
<div id="page"  class="postPage profile">
  <div class="row">
     <div class="large-12 columns">
       <div style=";">
	 <h2> raymestalez </h2>
	 <a> http://orangemind.io </a>
	 <p class="userdata">Karma: 128 | Followers: 32</p>
       </div>	
       <button class="small button">Subscribe</button>
     </div>
  </div>
<div class="subnav">
  <div class="row">
    <div class="large-6 columns">
      <a> New </a>      
      <a> Top </a>
      <a> Comments </a>
      <a> About </a> <!-- Profile -->
      <!-- <div class="username" /> <a href="/user/"><b>rayalez</b></a> </div> -->
      <!-- <div class="fi-mail usermail"></div>       -->
      <!-- <div class="userkarma">129</div> -->
    </div>
  </div>
</div>

  <div class="row">
    <div class="large-12 columns">

      <article>
	<!-- Post Header -->
	<header class="post-header">
	    <h1> Ray Alez </h1>
	    <hr />
	</header>
	<!-- Post Body -->
	<div>
	  <div class="large-12 columns">
	    <p>My name is Ray Alez.</p>
	    <p>I love studying AI, ML, and cognitive science. I also love blogging and writing fiction.</p>
	    <p>If you are for the first time on my blog, make sure to visit <a href="/articles">articles</a> page, it is a great place to start.</p>
	    <p>If you have any questions or suggestions or want to contact me for any reason - shoot me a message at raymestalez@gmail.com, I am friendly and cool and I will probably reply =)</p>
	    <p>If you are looking for an awesome Deep Learning and Artificial Intelligence expert
	      <!--(and are willing to sponsor my visa)--> - check out my  <!-- <a href="#">portfolio</a>, --> <a href="github.com/raymestalez">github account</a>, and send me a message at rayalez@digitalmind.io</p>
	    <p>If you enjoy futurism, transhumanism and hacking - go visit <a href="http://orangemind.io">Orange Mind</a> - my second blog where I write funny flash fiction <!--and essays--> on these topics.</p>	
	  </div>
      </article>
    </div> <!-- End 12 columns -->
  </div>	 <!-- End row -->
{% endblock content %}


