{% extends "chaoslegion/base.html" %}
{% block content %}

<div id="page"  class="postPage">

  <div class="row">
    <div class="large-12 columns">
      <br/>
      <form action="/post/{{slug}}/edit" method="post">{% csrf_token %}
	{{form.title}}
	<div class="editor">
	  {{form.body}}
	</div>
	<br/>
	<!-- {{form.hubs}} -->
	<div style="float:right;">
	  <button class="button small" type="submit">Save</button>
	  <p></p>
	</div>
	
      </form>
    </div>	
</article>      

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

  <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
  <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
  <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>

<script>
  $(document).ready(function(){
  var editor = new Editor();
  editor.render();
  })
</script>  

{% endblock content %}

