{% extends "chaoslegion/base.html" %}
{% load staticfiles %}

{% block content %}
    
<div id="page"  class="postPage">

<div class="subnav">  
  <div class="row">
    <div class="large-9 columns">


      
      <a href="/"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
      <a href="/new/"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>
      
      <a href="/top/all-time">
	<span {% if rankby == "all-time" or rankby == "year" or rankby == "month" or rankby = "day" %}
	      class="bold"
	      {% endif %}>
	  Top
      </span></a>
      {% if rankby == "all-time" or rankby == "year" or rankby == "month" or rankby = "day" %}
      <a href="/top/all-time"><span {% if rankby = "all-time" %}class="bold"{% endif %}>All time</span></a>
      <a href="/top/year"><span {% if rankby = "year" %}class="bold"{% endif %}>Year</span></a>
      <a href="/top/month"><span {% if rankby = "month" %}class="bold"{% endif %}>Month</span></a>
      <a href="/top/day"><span {% if rankby = "day" %}class="bold"{% endif %}>Day</span></a>
      {% endif %}
      <!-- All by default, while few users. Later add subscriptions.
      <a>|</a>
      <a> Subscribed </a>
      <a> All </a>
      <!-- <a> Search </a> TODO: intersection of multiple hubs. -->
      
    </div>
    <!-- <div class="large-3 columns">
      <div class="username" /> <a href="/user/"><b>rayalez</b></a> </div>
      <div class="fi-mail usermail"></div>
      <div class="userkarma">129</div>
      <div class="followers">28</div>
      <img class="logout" src="{% static "/static/img/logout.png" %}"/>
      </div> -->
  </div>
</div>

  <div class="row">
    <div class="large-12 columns">
      {% for post in posts %}
      <article>
	<!-- Vote -->
	<div class="vote-column">
	  <div class="vote">
	    <a href="/login/" class="fi-arrow-up upvote {% if post in upvoted %}voted{% endif %}" id="post-vote-{{post.id}}"></a>
	    <div class="score"> {{post.score}} </div>
	    <a href="/downvote/" class="fi-arrow-down"></a>	    
	  </div>
	<!-- Comments -->
	  <div class="post-comments">
	    <span class="fi-comment">
	      <span class="number-of-comments"> 183 </span>
	    </span>			      
	  </div>
	</div>	    	  
	<!-- Post Header -->
	<header class="post-header">
	  <a href="{{ post.get_absolute_url }}">
	    <h1> {{post.title}} </h1>
	  </a>
	  <span class="post-tagline">submitted 14 days ago by <a>{{post.author}}</a></span>
	  <hr />
	</header>
	<!-- Post Body -->
	{{post.body}}
	<br/>
	<a href="{{ post.get_absolute_url }}">	read more >>>> </a>
	<div>
      </article>
      {% endfor %}
    </div> <!-- End 12 columns -->
    </div>	 <!-- End row -->



<script>
    $(document).ready(function(){
	// getting csrf token.
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		    }
		}
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	
	function upvote(postId) {
	    $.ajax({
		type: "POST",
		url: "/upvote/",
		data: {"post-id": postId},
		success: function(){
		    var upvoteLink = $('#post-vote-'+postId);
		    upvoteLink.addClass('voted');
		    var score = upvoteLink.parent().find(".score");
                    var notUpdated = Number(score.html());
                    score.html(notUpdated + 1);
		    upvoteLink.off("click");
		    upvoteLink.click(function(){ return false;});
		},
		headers: {
		    'X-CSRFToken': csrftoken
		}
	    });
	    return false;
	}

	{% if user.is_authenticated %}
	$("a.upvote").click(function(){
	    var postId = parseInt(this.id.split("-")[2]);
	    return upvote(postId);
	})
	$("a.voted").off("click");
        $("a.voted").click(function(){ return false;});
	{% endif %}
    })
</script>
{% endblock content %}


