{% extends "chaoslegion/base.html" %}
{% block content %}
    
<div id="page"  class="postPage">

<!-- <div class="subnav">   -->
<!--   <div class="row"> -->
<!--     <div class="large-9 columns"> -->
<!--       <\!-- <a> Hot </a> -\-> -->
<!--       <\!-- <a> New </a> -\-> -->
<!--       <\!-- <a> Top </a> -\-> -->
<!--     </div> -->
<!--     <div class="large-3 columns"> -->

<!--       <div class="username" /> <a href="/user/"><b>rayalez</b></a> </div> -->
<!--       <div class="fi-mail usermail"></div>       -->
<!--       <div class="userkarma">129</div> -->
<!--       <div class="followers">36</div>       -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

  <div class="row">
    <div class="large-12 columns">
      <article>
	<!-- Vote -->
	<div class="vote-column">
	  <div class="vote">
	    <div class="fi-arrow-up"></div>
	    <div class="score"> {{post.score}} </div>
	    <div class="fi-arrow-down"></div>	    
	  </div>
	<!-- Comments -->
	  <div class="post-comments">
	    <span class="fi-comment">
	      <span class="number-of-comments"> 183 </span>
	    </span>			      
	  </div>
	</div>	    	  
	<!-- Post Header -->
	<header class="post-header">
	  <a href="{{ post.get_absolute_url }}">
	    <h1> {{post.title}} </h1>
	  </a>
	  <!-- <span class="post-tagline">submitted 14 days ago by <a href="#">{{post.author}}</a></span> -->
	    <hr />
	</header>
	<!-- Post Body -->
	{{post.body}}      	
	<div>
      </article>
      
</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

      <!-- Follow -->
<div class="row">
  <div class="large-12 columns">
    <div class="post-footer-signup panel">
      <!-- 
	<span class="hub-tag">Writing Prompts</span>
	<span class="hub-tag">Comedy</span>
	<span class="hub-tag">Flash Fiction</span>	  	  
       -->
      <div class="author">
	by <a href="#">NaimKabir</a>
	<span class="userkarma">128</span>
	<button class="small button" style="padding:10px;margin:0 10px;">Subscribe
	  <span class="subscribers">128</span></button>	
      </div>
    </div>
  </div>
</div>  
      
{% endblock content %}

