{% extends "chaoslegion/base.html" %}
{% load markdownify %}
{% block content %}
    
<div id="page"  class="postPage">

<!-- <div class="subnav">   -->
<!--   <div class="row"> -->
<!--     <div class="large-9 columns"> -->
<!--       <\!-- <a> Hot </a> -\-> -->
<!--       <\!-- <a> New </a> -\-> -->
<!--       <\!-- <a> Top </a> -\-> -->
<!--     </div> -->
<!--     <div class="large-3 columns"> -->

<!--       <div class="username" /> <a href="/user/"><b>rayalez</b></a> </div> -->
<!--       <div class="fi-mail usermail"></div>       -->
<!--       <div class="userkarma">129</div> -->
<!--       <div class="followers">36</div>       -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

  <div class="row">
    <div class="large-12 columns">
      <article>
	<!-- Vote -->
	<div class="vote-column">
	  <div class="vote">
	    <a href="/login/"
	       class="fi-arrow-up upvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-upvote-{{post.id}}"></a>
	    <div class="score"> {{post.score}} </div>
	    <a href="/login/"
	       class="fi-arrow-down downvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-downvote-{{post.id}}"></a>    
	  </div>
	<!-- Comments -->
	  <div class="post-comments">
	    <span class="fi-comment">
	      <a href="{{ post.get_absolute_url }}#comments"><span class="number-of-comments"> {{post.comments.count}} </span></a>
	    </span>			      
	  </div>
	</div>	    	  
	<!-- Post Header -->
	<header class="post-header">
	  {% if user == post.author %}
	  <a class="edit-post" href="/post/{{post.slug}}/edit">Edit Post</a>
	  {% endif %}	  
	    <h1> {{post.title}} </h1>
	  <!-- <span class="post-tagline">submitted 14 days ago by <a href="#">{{post.author}}</a></span> -->
	    <hr />
	</header>
	<!-- Post Body -->
	{{post.body | markdownify | safe }}
	<div>
      </article>
      
</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

      <!-- Follow -->
<div class="row">
  <div class="large-12 columns">
    <div class="post-footer-signup panel">

      {% for hub in hubs %}
      <a href="/hub/{{hub.slug}}"class="hub-tag">{{hub.title}}</a>
      {% endfor %}
	<!-- 
	<span class="hub-tag">Writing Prompts</span>
	<span class="hub-tag">Comedy</span>
	<span class="hub-tag">Flash Fiction</span>
	-->
      <div class="author">
	by <a href="/user/{{post.author.username}}">{{post.author.username}}</a>
	<span class="userkarma">{{post.author.karma}}</span>

	<!-- 
	{% if not user == post.author %}
	{% if post.author not in user.subscribed_to %}
	<a class="small button usersubscribe" style="padding:10px;margin:0 10px;"
	   href="/user/{{post.author.username}}/subscribe">
	  Subscribe <span class="subscribers">{{post.author.subscribers.count}}</a></button>
	{% else %}
	<a class="small button usersubscribe unsubscribe" style="padding:10px;margin:0 10px;"
	   href="/user/{{post.author.username}}/unsubscribe">
	  Ubsubscribe <span class="subscribers">{{post.author.subscribers.count}}</a></button>
	{% endif %}
	{% endif %}
        -->
      </div>
    </div>
  </div>
</div>  

<div class="row">
  <div class="large-12 columns">
    <h4 id="comments"> Comments </h4>
      <form action="/post/{{post.slug}}.html" method="post">{% csrf_token %}
	{{form.body}}
	<div style="float:right;">
	  <button class="button small" type="submit">Submit</button>      
	</div>
      </form>
      <div class="comments">
	{% for comment in comments %}
	<div class="comment">
	  <b>{{comment.author.username}}</b>
	  <p>
	    {{comment.body}}
	  </p>
	</div>
	{% endfor %}
      </div>
  </div>
</div>  

{% endblock content %}

