{% extends "chaoslegion/base.html" %}
{% block content %}

<div id="page"  class="postPage">

  <div class="row">
    <div class="large-12 columns">
      <br/>
      <form action="/submit/" method="post">{% csrf_token %}
	{{form.as_p}}
	<div style="float:right;">
	  <button class="button small" type="submit">Save Draft</button>
	  <button class="button small" type="submit">Publish</button>      
	</div>
	
	</form>
      <!-- 
      <form action="/my-handling-form-page" method="post">
	<div>
          <input type="text" id="title" placeholder="Title" />
	</div>
	<div>
          <textarea id="text" style="height: 400px;"></textarea>
	</div>
	<div>
          <input type="text" id="mail" placeholder="1-4 hubs"/>
	</div>
	
	<div style="float:right;">
	  <button class="button small" type="submit">Save Draft</button>
	  <button class="button small" type="submit">Publish</button>      
	</div>
	</form> -->
    </div>	
</article>      

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

{% endblock content %}

