{% extends "chaoslegion/base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block content %}
    
<div id="page"  class="postPage">

  <div class="row">
    <div class="large-12 columns">
      {% for post in posts %}
      <article>
	<!-- Vote -->
	<div class="vote-column">
	  <div class="vote">
	    <a href="/login/"
	       class="fi-arrow-up upvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-upvote-{{post.id}}"></a>
	    <div class="score"> {{post.score}} </div>
	    <a href="/login/"
	       class="fi-arrow-down downvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-downvote-{{post.id}}"></a>    
	  </div>
	<!-- Comments -->
	  <div class="post-comments">
	    <span class="fi-comment">
	      <span class="number-of-comments"> 183 </span>
	    </span>			      
	  </div>
	</div>	    	  
	<!-- Post Header -->
	<header class="post-header">
	  <a href="{{ post.get_absolute_url }}">
	    <h1> {{post.title}} </h1>
	  </a>
	  <span class="post-tagline">submitted 14 days ago by
	    <a href="/user/{{post.author.username}}">{{post.author}}</a></span>
	  <hr />
	</header>
	<!-- Post Body -->
	{{post.body | markdownify | safe }}
	<br/>
	<a href="{{ post.get_absolute_url }}">	read more >>>> </a>
	<div>
      </article>
      {% endfor %}
    </div> <!-- End 12 columns -->
    </div>	 <!-- End row -->



<script>
    $(document).ready(function(){
	// getting csrf token.
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
		    }
		}
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	// Upvote
	function upvote(postId) {
	    $.ajax({
		type: "POST",
		url: "/upvote/",
		data: {"post-id": postId},
		success: function(){
		    var upvoteLink = $('#post-upvote-'+postId);
		    var downvoteLink = $('#post-downvote-'+postId);		    
		    upvoteLink.addClass('upvoted');
		    downvoteLink.addClass('upvoted');		    
		    var score = upvoteLink.parent().find(".score");
                    var notUpdated = Number(score.html());
                    score.html(notUpdated + 1);
		    upvoteLink.off("click");
		    downvoteLink.off("click");		    
		    upvoteLink.click(function(){ return false;});
		    downvoteLink.click(function(){ return false;});		    
		},
		headers: {
		    'X-CSRFToken': csrftoken
		}
	    });
	    return false;
	}

	// Downvote
	function downvote(postId) {
	    $.ajax({
		type: "POST",
		url: "/downvote/",
		data: {"post-id": postId},
		success: function(){
		    var upvoteLink = $('#post-upvote-'+postId);		    
		    var downvoteLink = $('#post-downvote-'+postId);
		    upvoteLink.addClass('downvoted');		    
		    downvoteLink.addClass('downvoted');
		    var score = downvoteLink.parent().find(".score");
                    var notUpdated = Number(score.html());
                    score.html(notUpdated - 1);
		    upvoteLink.off("click");
		    downvoteLink.off("click");		    
		    upvoteLink.click(function(){ return false;});
		    downvoteLink.click(function(){ return false;});	    		    
		},
		headers: {
		    'X-CSRFToken': csrftoken
		}
	    });
	    return false;
	}
	

	{% if user.is_authenticated %}
	//Connect functions
	$("a.upvote").click(function(){
	    var postId = parseInt(this.id.split("-")[2]);
	    return upvote(postId);
	})
	$("a.downvote").click(function(){
	    var postId = parseInt(this.id.split("-")[2]);
	    return downvote(postId);
	})
	// Disabe voted
	$("a.upvoted").off("click");
	$("a.downvoted").off("click");	
        $("a.upvoted").click(function(){ return false;});
        $("a.downvoted").click(function(){ return false;});	
	{% endif %}


    })
</script>
{% endblock content %}


