<div class="row">
  <div class="large-12 columns">
    <h4 id="comments"> Comments </h4>
      <form action="/story/{{story.slug}}" method="post">{% csrf_token %}
	{{form.body}}
	<div style="float:right;">
	  <button class="button small" type="submit">Submit</button>      
	</div>
      </form>

      <div class="comments">
	{% for comment in comments %}
	<div class="comment">
	  <b>{{comment.author.username}}</b>
	  <p>
	    {{comment.body}}
	  </p>
	</div>
	{% endfor %}
      </div>
  </div>
</div>  
