<!-- Vote -->
<div class="vote-column">
  <div class="vote">
    <a href="/login/?next={{request.path}}"
       class="fi-arrow-up upvote
	      {% if story in upvoted %}upvoted{% endif %}
              {% if story in downvoted %}downvoted{% endif %}"
       id="post-upvote-{{story.id}}"></a>
    <div class="score"> {{story.score}} </div>
    <a href="/login/?next={{request.path}}"
       class="fi-arrow-down downvote
	      {% if story in upvoted %}upvoted{% endif %}
              {% if story in downvoted %}downvoted{% endif %}"
       id="post-downvote-{{story.id}}"></a>    
  </div>
</div>
