{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div id="page"  class="postPage">

<div class="row">
  <div class="large-12 columns">
    <br/>
    <!-- Submit Form -->
    <form action="/story/add" method="post">{% csrf_token %}
      {{form.title}}
      <div class="editor">
      	{{form.description}}
      </div>
      <div class='markdown-preview'></div>

      <br/>
      <div class="set-hubs">
	{{form.hubs}}
      </div>
      <div style="float:right;">
	<button class="button small" type="submit">Save</button>
      </div>
      <div class="clearfix"></div>
      <div style="width:100%; height: 20px"></div>
    </form>
    <!-- End Submit Form -->
  </div> <!-- End 12 columns -->
</div>	 <!-- End row -->

{% include "stories/editor.html" %}

{% endblock content %}

