{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block content %}
    
<div id="page"  class="postPage">

<!-- Subnav -->
<div class="subnav">  
  <div class="row">
    <div class="large-12 columns">
      <div class="rank-types">
	<a href="/"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
	<a href="/new/"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>
	
	<a href="/top/all-time">
	  <span {% if rankby == "top" %}class="bold"{% endif %}>Top</span></a>
	{% if rankby == "top" %}
	<a href="/top/all-time">
	  <span {% if timespan = "all-time" %}class="bold"{% endif %}>All time</span></a>
	<a href="/top/year">
	  <span {% if timespan = "year" %}class="bold"{% endif %}>Year</span></a>
	<a href="/top/month">
	  <span {% if timespan = "month" %}class="bold"{% endif %}>Month</span></a>
	<a href="/top/day">
	  <span {% if timespan = "day" %}class="bold"{% endif %}>Day</span></a>
	{% endif %}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    {% for story in stories %}
    <article>
      <!-- Vote	 -->
      <div class="vote-column">
	<div class="vote">
	  <a href="/login/"
	     class="fi-arrow-up upvote
		    {% if story in upvoted %}upvoted{% endif %}
                    {% if story in downvoted %}downvoted{% endif %}"
	     id="post-upvote-{{story.id}}"></a>
	  <div class="score"> {{story.score}} </div>
	  <a href="/login/"
	     class="fi-arrow-down downvote
		    {% if story in upvoted %}upvoted{% endif %}
                    {% if story in downvoted %}downvoted{% endif %}"
	     id="post-downvote-{{story.id}}"></a>    
	</div>

	<!-- Comments  -->
	<div class="post-comments">
	  <span class="fi-comment">
	    <a href="{{story.get_absolute_url}}#comments">
	      <span class="number-of-comments"> {{story.comments.count}} </span>
	    </a>
	  </span>			      
	</div>
      </div>
      <!-- Header -->
      <header class="post-header">
	<a href="{{story.get_absolute_url}}">
	  <h1> {{story.title}} </h1>
	</a>
	<span class="post-tagline"><!-- submitted 14 days ago --> by
	  {% if story.author.external_url %}
	  <a href="{{story.author.website}}">{{story.author}}</a>
	  {% else %}
	  <a href="/user/{{story.author.username}}">{{story.author}}</a>
	  {% endif %}
	</span>	
	<hr />
      </header>
      <!-- Post Body -->
      {{story.description | markdownify | safe }}
      <br/>
      <a href="{{story.get_absolute_url }}"> read more >>>> </a>
      <div>
    </article>
    {% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if stories.has_previous %}
    <a href="?page={{ stories.previous_page_number }}"><</a>
    {% endif %}

    <span class="current">
      Page {{ stories.number }}
      <!-- of {{ stories.paginator.num_pages }} -->
    </span>

    {% if stories.has_next %}
    <a href="?page={{ stories.next_page_number }}">></a>
    {% endif %}
  </span>
</div>

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

{% endblock content %}


