{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block content %}
    
<div id="page"  class="postPage">
  
{% include "stories/subnav.html" %}

<div class="row">
  <div class="large-12 columns">
    {% for story in stories %}
    <article>
      {% include "stories/vote.html" %}      
      <!-- Header -->
      <header class="post-header">
	<a href="{{story.get_absolute_url}}">
	  <h1> {{story.title}} </h1>
	</a>
	<span class="post-tagline"><!-- submitted 14 days ago --> by
	  {% if story.author.external_url %}
	  <a href="{{story.author.website}}">{{story.author}}</a>
	  {% else %}
	  <a href="/user/{{story.author.username}}">{{story.author}}</a>
	  {% endif %}
	</span>	
	<hr />
      </header>
      <!-- Post Body -->
      {{story.description | markdownify | safe }}
      <br/>
      <a href="{{story.get_absolute_url }}"> read more >>>> </a>
      <div>
    </article>
    {% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if stories.has_previous %}
    <a href="?page={{ stories.previous_page_number }}"><</a>
    {% endif %}

    <span class="current">
      Page {{ stories.number }}
      <!-- of {{ stories.paginator.num_pages }} -->
    </span>

    {% if stories.has_next %}
    <a href="?page={{ stories.next_page_number }}">></a>
    {% endif %}
  </span>
</div>

</div> <!-- End 12 columns -->
</div>	 <!-- End row -->

{% endblock content %}


