<!-- Subnav -->
<div class="subnav">  
  <div class="row">
    <div class="large-7 columns">
      <div class="rank-types">
	<a href="{{filterurl}}/"><span {% if rankby = "hot" %}class="bold"{% endif %}>Hot</span></a>
	<a href="{{filterurl}}/new/"><span {% if rankby = "new" %}class="bold"{% endif %}>New</span></a>

	<a href="{{filterurl}}/top/all-time">
	  <span {% if rankby == "top" %}class="bold"{% endif %}>Top</span></a>
	{% if rankby == "top" %}
	<a href="{{filterurl}}/top/all-time">
	  <span {% if timespan = "all-time" %}class="bold"{% endif %}>All time</span></a>
	<a href="{{filterurl}}/top/year">
	  <span {% if timespan = "year" %}class="bold"{% endif %}>Year</span></a>
	<a href="{{filterurl}}/top/month">
	  <span {% if timespan = "month" %}class="bold"{% endif %}>Month</span></a>
	<a href="{{filterurl}}/top/day">
	  <span {% if timespan = "day" %}class="bold"{% endif %}>Day</span></a>
	{% endif %}
      </div>
    </div>

    {% if userprofile %}    
    <div class="large-5 columns">
      <div style="float:right;">
	<!-- <a> Store </a>	 -->
	{% if userprofile.website %}
	<a href="{{userprofile.website}}"> Website </a>
	{% endif %}
	{% if userprofile.about %}
	<a href="/user/{{userprofile.username}}/about"> About </a>
	{% endif %}

	{% if user.is_authenticated %}	
	  {% if not userprofile == user %}
	    {% if userprofile not in subscribed_to %}	
	    <a class="small button usersubscribe" style="padding:10px;margin:0 10px;"
	       href="/user/{{userprofile.username}}/subscribe">
	      Subscribe<span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	    {% else %}
	    <a class="small button usersubscribe unsubscribe" style="padding:10px;margin:0 10px;"
	       href="/user/{{userprofile.username}}/unsubscribe">
	      Ubsubscribe<span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	    {% endif %}
	  {% endif %}
        {% else %}
	<a class="small button usersubscribe" style="padding:10px;margin:0 10px;"
	   href="/login/">
	  Subscribe <span class="subscribers">{{userprofile.subscribers.count}}</a></button>
	{% endif %}

	<b> {{userprofile.username}} </b>
	<span class="userkarma">{{userprofile.karma}}</span>
      </div>
    </div> <!-- end 5 columns -->
    {% endif %}
  </div>
</div>
