{% extends "base.html" %}
{% load markdownify %}
{% block content %}
    
<div id="page"  class="postPage profile">
{% include "profiles/subnav.html" %}
  <div class="row">
    <div class="large-12 columns">
      {% for story in stories %}
      <article>
	<!-- Vote
	<div class="vote-column">
	  <div class="vote">
	    <a href="/login/"
	       class="fi-arrow-up upvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-upvote-{{post.id}}"></a>
	    <div class="score"> {{post.score}} </div>
	    <a href="/login/"
	       class="fi-arrow-down downvote
		      {% if post in upvoted %}upvoted{% endif %}
                      {% if post in downvoted %}downvoted{% endif %}"
	       id="post-downvote-{{post.id}}"></a>    
	  </div> -->
	<!-- Comments
	  <div class="post-comments">
	    <span class="fi-comment">
	      <a href="/post/{{post.slug}}#comments"><span class="number-of-comments"> {{post.comments.count}} </span></a>
	    </span>			      
	  </div>
	</div>	     -->	  
	<!-- Post Header -->
	<header class="post-header">
	  <a href="{{ story.get_absolute_url }}">
	    <h1> {{story.title}} </h1>
	  </a>
	  <!-- <span class="post-tagline">submitted 14 days ago by <a>{{post.author}}</a></span> -->
	  <hr />
	</header>
	<!-- Post Body -->
	{{story.description | markdownify | safe }}
	<br/>
	<a href="{{ story.get_absolute_url }}">	read >>>> </a>
	<div>
      </article>
      {% endfor %}


      <div class="pagination">
	<span class="step-links">
          {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}"><</a>
          {% endif %}

          <span class="current">
            Page {{ posts.number }}
	    <!-- of {{ posts.paginator.num_pages }} -->
          </span>

          {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}">></a>
          {% endif %}
	</span>
      </div>
      
    </div> <!-- End 12 columns -->
    </div>	 <!-- End row -->

{% endblock content %}


