@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:200");
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700");
/* For code */
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");
@import url("http://fonts.googleapis.com/css?family=Kameron");
@import url("http://fonts.googleapis.com/css?family=Lato:200,300,400");
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro");
/* General */
/* line 19, ../sass/style.scss */
* {
  font-family: "Titillium Web";
  font-family: 'Open Sans', sans-serif;
  color: #3d454b;
}

/* line 26, ../sass/style.scss */
html {
  font-size: 19px;
}

/* line 30, ../sass/style.scss */
p {
  font-size: 1.11rem;
}

/* line 35, ../sass/style.scss */
.row {
  max-width: 64em;
  max-width: 52rem !important;
}

/* line 41, ../sass/style.scss */
a {
  color: #f76300;
}

/* line 45, ../sass/style.scss */
h1, h2, h3, h4 {
  /* font-family: Lato; */
  font-weight: normal;
  color: #3d454b;
}

/* line 51, ../sass/style.scss */
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 58, ../sass/style.scss */
h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 64, ../sass/style.scss */
h3 {
  font-size: 26px;
  margin: 10px 0 2px 0;
}

/* line 69, ../sass/style.scss */
h4 {
  font-size: 21px;
  margin-top: 10px;
  /* color: black; */
  font-weight: bold;
  margin-bottom: 0;
}

/* line 77, ../sass/style.scss */
hr {
  margin-top: 0;
}

/* line 82, ../sass/style.scss */
blockquote, blockquote p {
  line-height: 1.6;
  color: #6F6F6F;
  font-weight: normal;
}

/* line 88, ../sass/style.scss */
blockquote strong {
  color: #6F6F6F;
}

/* line 95, ../sass/style.scss */
#page {
  min-height: 82vh;
  padding: 20px;
}

/* line 101, ../sass/style.scss */
#page li {
  margin-top: 10px;
}

/* line 105, ../sass/style.scss */
li p {
  margin: 0px;
}

/* Helpers */
/* line 111, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 115, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 119, ../sass/style.scss */
.italic {
  font-style: italic;
}

/* line 122, ../sass/style.scss */
.right {
  float: right;
}

/* line 126, ../sass/style.scss */
.left {
  float: left;
}

/* line 130, ../sass/style.scss */
.black {
  color: #3d454b;
}

/* line 133, ../sass/style.scss */
.gray {
  background: gray !important;
}

/* line 137, ../sass/style.scss */
.margins-10 {
  margin: 10px;
}

/* line 141, ../sass/style.scss */
.margins-20 {
  margin: 20px;
}

/* line 145, ../sass/style.scss */
.margins-side-20 {
  margin: 0 20px;
}

/* line 149, ../sass/style.scss */
.padding-10 {
  padding: 10px;
}

/* line 153, ../sass/style.scss */
.padding-20 {
  padding: 20px;
}

/* line 157, ../sass/style.scss */
.grey {
  color: #bbbbbb;
}

/* line 161, ../sass/style.scss */
.center-text {
  text-align: center;
}

/* line 164, ../sass/style.scss */
.center-vertically {
  position: absolute;
  left: 50%;
  top: 50%;
  /*
  *  Where the magic happens
  *  Centering method from CSS Tricks
  *  http://css-tricks.com/centering-percentage-widthheight-elements/
  */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Elements */
/* Elements */
/* line 182, ../sass/style.scss */
.button {
  background-color: #f76301;
  border: 0;
  border-radius: 0px;
  box-shadow: 0 5px #d05301;
  padding: 10px 20px;
}

/* line 190, ../sass/style.scss */
.button:hover {
  background-color: #f76301;
  box-shadow: 0 4px #d05301;
  position: relative;
  top: 1px;
}

/* line 197, ../sass/style.scss */
.button.small {
  background-color: #f76300;
  box-shadow: none;
  /* font-family: Lato; */
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

/* line 207, ../sass/style.scss */
.button.small:hover {
  background-color: #f76300;
  box-shadow: none;
  /* font-family: Lato; */
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  top: 0px;
}

/* Header */
/* line 220, ../sass/style.scss */
#orange-line {
  background-color: #f66303;
  height: 4px;
  width: 100%;
}

/* line 227, ../sass/style.scss */
header {
  height: 130;
  padding: 40px;
  padding-bottom: 20px;
}

/* Logo */
/* line 234, ../sass/style.scss */
.logo {
  font-family: "Titillium Web";
  color: #3d454b;
  font-size: 36px;
}

/* line 240, ../sass/style.scss */
.logo img {
  width: 50px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
}

/* line 247, ../sass/style.scss */
.logo:hover,
.logo:focus,
.logo:visited {
  color: #3d454b;
}

/* Main menu */
/* line 256, ../sass/style.scss */
#mainMenu {
  margin-top: 10px;
  /* font-family: "Titillium Web"; */
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  text-align: right;
}

/* line 265, ../sass/style.scss */
#mainMenu a {
  color: black;
}

/* line 269, ../sass/style.scss */
.selected a {
  color: #f76300;
}

/* line 273, ../sass/style.scss */
#mainMenu ul {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
}

/* line 280, ../sass/style.scss */
#hubs-dropdown ul {
  margin-bottom: 0;
}

/* line 284, ../sass/style.scss */
.dropdown-subitems {
  list-style-type: none !important;
}

/* line 288, ../sass/style.scss */
.dropdown-subitems a {
  text-transform: none !important;
}

/* line 292, ../sass/style.scss */
.avatar-icon {
  width: 40px;
  border-radius: 8px;
  margin-top: -4px;
  /* border: 4px solid rgb(246, 99, 3)   */
}

/* ================ Subnav ================ */
/* line 301, ../sass/style.scss */
.subnav {
  /* padding: 10px; */
  /* margin: 10px; */
  background-color: rgba(0, 0, 0, 0.02);
  padding: 2px 10px;
}

/* line 309, ../sass/style.scss */
.subnav .button {
  background: #e1ded9;
  color: #3d454b;
  padding: 10px 20px;
}

/* line 315, ../sass/style.scss */
.subnav .row .columns {
  /* padding: 10px; */
}

/* line 319, ../sass/style.scss */
.subnav a, .subnav span {
  color: #bbbbbb;
  margin-bottom: -1px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
}

/* smaller space between links */
/* line 330, ../sass/style.scss */
.subnav a, .subnav span {
  margin-right: 10px;
}

/* line 336, ../sass/style.scss */
.rank-types {
  margin: 10px 0;
}

/* line 340, ../sass/style.scss */
.rank-types .bold {
  font-weight: bold;
  color: #3d454b;
}

/* line 345, ../sass/style.scss */
.subnav .challenge-title {
  font-weight: bold;
  color: #3d454b;
  text-transform: none;
}

/* ================ User Profile ================ */
/* Subnav */
/* line 352, ../sass/style.scss */
.userkarma {
  background: rgba(119, 119, 119, 0.2);
  padding: 4px;
  border-radius: 4px;
}

/* line 359, ../sass/style.scss */
.logout {
  width: 20px;
  float: right;
  margin: 14px;
  opacity: 0.4;
}

/* line 366, ../sass/style.scss */
.profile .button.small {
  /* float: right; */
}

/* line 370, ../sass/style.scss */
.profie .subnav {
  text-align: center;
}

/* line 374, ../sass/style.scss */
.userdata {
  margin-bottom: 0;
}

/* line 378, ../sass/style.scss */
.usersubscribe {
  text-transform: none !important;
  /* Why do I need important here? */
}

/* line 382, ../sass/style.scss */
.unsubscribe {
  background: rgba(187, 187, 187, 0.8) !important;
}

/* line 386, ../sass/style.scss */
.subscribers {
  background: white;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 0 !important;
  margin: 0 5px;
}

/* line 394, ../sass/style.scss */
.profile.rank-types {
  margin-top: 10px !important;
}

/* line 398, ../sass/style.scss */
.hubs {
  background: #fbf9f5;
  padding: 20px 10px;
}

/* line 402, ../sass/style.scss */
.hubs-dropdown {
  margin: 10px;
}

/* line 405, ../sass/style.scss */
.subnav .searchbar {
  background: none;
  width: calc(100% - 76px);
  /* remove hubs toggle */
  width: calc(100% - 5px);
  height: 40px;
  /* margin: -6px 0;     */
  margin: 4px;
}

/* line 415, ../sass/style.scss */
.subnav .searchbar:focus {
  background: white;
}

/* line 422, ../sass/style.scss */
.tagline ul {
  list-style-type: none;
  margin: 0;
}
/* line 425, ../sass/style.scss */
.tagline ul li {
  float: left;
  margin: 0 !important;
  margin-left: 10px !important;
}
/* line 430, ../sass/style.scss */
.tagline ul li a i {
  color: #FFC99E;
  color: rgba(254, 254, 212, 0.7);
  font-size: 22px;
}

/* ================ Log in ================ */
/* line 442, ../sass/style.scss */
.helptext {
  display: none;
}

/* ================ Page ================ */
/* line 447, ../sass/style.scss */
#page li {
  margin-top: 10px;
}

/* line 451, ../sass/style.scss */
li p {
  margin: 0px;
}

/* line 455, ../sass/style.scss */
#page {
  background-color: #f6f3ea;
  /* padding-top: 20px; */
}

/* ================ Stories ================ */
/* line 462, ../sass/style.scss */
article {
  margin-top: 20px;
  /* margin-bottom: 80px; */
}

/* line 467, ../sass/style.scss */
.posts-page .post-header h1 {
  float: left;
}

/* Votes */
/* line 473, ../sass/style.scss */
.vote-column {
  width: 40px;
  float: left;
  margin-left: -52px;
}

@media screen and (max-width: 1300px) {
  /* line 480, ../sass/style.scss */
  .vote-column {
    margin: 10px;
    margin-bottom: -12px;
  }
}
/* line 486, ../sass/style.scss */
.vote {
  width: 40px;
  background: #edeceb;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 11px 0 0;
  position: relative;
  text-align: center;
}

/* Defaut state */
/* line 500, ../sass/style.scss */
.arrow,
.arrow:active,
.arrow:visited {
  display: block;
  transform: scale(1.8, 1);
  float: left;
  width: 100%;
  text-align: center;
  color: #3d454b;
}

/* .fi-arrow-up, .fi-arrow-down, */
/* .fi-arrow-up:active, .fi-arrow-down:active, */
/* .fi-arrow-up:visited, .fi-arrow-down:visited{ */
/*     display: block; */
/*     transform:scale(1.8,1); */
/*     float:left; */
/*     width: 100%; */
/*     text-align: center; */
/*     color: $black; */
/* } */
/* Upvote hover is orange */
/* line 525, ../sass/style.scss */
.score {
  width: 100%;
  text-align: center;
}

/* line 530, ../sass/style.scss */
.post-comments {
  width: 40px;
  font-size: 30px;
  text-align: center;
}

/* line 536, ../sass/style.scss */
.fi-comment {
  font-size: 42px;
}

/* line 540, ../sass/style.scss */
.number-of-comments {
  font-size: 18px;
  color: white;
  display: block;
  margin-top: -45px;
  margin-bottom: 10px;
}

/* line 549, ../sass/style.scss */
article header {
  float: left;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  /* line 556, ../sass/style.scss */
  article header {
    width: calc(100% - 60px);
  }
}
/* line 561, ../sass/style.scss */
.post-header {
  float: left;
}

/* line 565, ../sass/style.scss */
.post-tagline {
  float: left;
}

/* line 569, ../sass/style.scss */
.edit-post {
  float: right;
}

/* line 573, ../sass/style.scss */
.readmore {
  /* width: 100%; */
  /* margin: 10px 0; */
  float: right;
}

/* line 579, ../sass/style.scss */
.stories-page .story-footer-signup {
  padding: 8px;
}

/* ================ Story ================ */
/* line 586, ../sass/style.scss */
.next-chapter {
  float: right;
}

/* Story footer */
/* line 596, ../sass/style.scss */
.hub-tag {
  color: #3d454b;
}

/* line 599, ../sass/style.scss */
.hub-tag {
  background: rgba(119, 119, 119, 0.2);
  padding: 2px 8px;
  border-radius: 2px;
  margin-left: 6px !important;
  margin-right: 0px !important;
  color: #3d454b;
}

/* line 611, ../sass/style.scss */
.button.small {
  margin-bottom: 0;
}

/* line 615, ../sass/style.scss */
.post-footer-signup .author {
  float: right;
}

/* line 619, ../sass/style.scss */
.author {
  float: right;
}

/* line 624, ../sass/style.scss */
.post-footer-signup .followers {
  background: white;
  float: right;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}

/* line 633, ../sass/style.scss */
.rss-icon {
  float: right;
  /* margin: -6px 0 0 10px; */
  line-height: 10px;
}

/* line 639, ../sass/style.scss */
.rss-icon i {
  color: #666;
}

/* line 643, ../sass/style.scss */
.large {
  font-size: 40px;
}

/* ================ Story Comments ================ */
/* Review rating */
/* line 651, ../sass/style.scss */
#id_comment_type {
  width: 120px;
  margin-right: 20px;
}

/* line 656, ../sass/style.scss */
.br-wrapper-b .br-widget {
  height: 40px;
}

/* line 659, ../sass/style.scss */
.br-wrapper-b .br-widget a {
  display: block;
  width: 80px;
  height: 40px;
  float: left;
  background-color: #F5D4BE;
  margin: 1px;
}

/* line 667, ../sass/style.scss */
.br-wrapper-b .br-widget a.br-active,
.br-wrapper-b .br-widget a.br-selected {
  background-color: #f76300;
}

/* line 671, ../sass/style.scss */
.br-wrapper-b .br-widget .br-current-rating {
  clear: both;
  width: 410px;
  text-align: center;
  font-weight: 600;
  display: block;
  padding: .5em 0;
  color: #f76300;
}

/* line 680, ../sass/style.scss */
.br-wrapper-b .br-readonly a.br-active,
.br-wrapper-b .br-readonly a.br-selected {
  background-color: #f76300;
}

/* Display rating */
/* line 686, ../sass/style.scss */
.comment-rating {
  float: right;
}

/* line 690, ../sass/style.scss */
.rating-bar {
  display: block;
  width: 16px;
  height: 8px;
  float: left;
  background-color: #f76300;
  margin: 1px;
}

/* Center in container */
/* line 699, ../sass/style.scss */
.br-wrapper-b {
  width: 410px;
  /* position: absolute; */
  margin: 0px 0 0 -168px;
  /* left: 50%; */
  float: left;
}

/* Submit */
/* line 709, ../sass/style.scss */
.comment-type {
  margin: 5px;
}

/* List */
/* line 713, ../sass/style.scss */
.comments {
  margin-left: -32px;
}

/* line 720, ../sass/style.scss */
.comment-collapse {
  color: #3d454b;
}

/* line 724, ../sass/style.scss */
.comment-box {
  border-left: 1px solid #DDDDDD;
  margin-left: 32px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 3px 0px #727272;
  padding: 10px 10px 0px 10px;
}

/* line 733, ../sass/style.scss */
.comment-body {
  padding: 10px 0px;
}

/* line 737, ../sass/style.scss */
.comment-reply textarea {
  margin-bottom: 4px;
  background: #f6f3ea;
  height: 150px;
}

/* line 743, ../sass/style.scss */
.comment-reply .button.small {
  float: right;
  padding: 10px;
  margin: 8px;
  margin-right: 0;
}

/* line 750, ../sass/style.scss */
.comment-footer a {
  color: #3d454b;
}

/* Comments voting */
/* line 755, ../sass/style.scss */
.comment-box .vote-column {
  width: 40px;
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

/* Upvote hover is orange */
/* line 763, ../sass/style.scss */
.comment-upvote:hover {
  color: #f76300;
}

/* line 767, ../sass/style.scss */
.comment-upvote,
.comment-downvote,
.comment-upvote:focus,
.comment-downvote:focus,
.comment-upvote:visited,
.comment-downvote:visited,
.comment-upvote:active,
.comment-downvote:active {
  color: #3d454b;
}

/* Once upvoted/downvoted state */
/* line 779, ../sass/style.scss */
.comment-upvoted,
.comment-upvoted:focus,
.comment-upvoted:active,
.comment-upvoted:visited {
  color: #f76300;
}

/* line 786, ../sass/style.scss */
.comment-downvoted,
.comment-downvoted:focus,
.comment-downvoted:active,
.comment-downvoted:visited {
  color: #008CBA;
}

/* The opposite button is grey */
/* line 795, ../sass/style.scss */
.comment-downvoted.comment-upvote,
.comment-upvoted.comment-downvote,
.comment-downvoted.comment-upvote:hover,
.comment-upvoted.comment-downvote:hover,
.comment-downvoted.comment-upvote:visited,
.comment-upvoted.comment-downvote:visited {
  color: #3d454b;
}

/* ================ Edit Story ================ */
/* line 808, ../sass/style.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* Sidebar */
/* line 818, ../sass/style.scss */
.sidebar ul {
  list-style-type: none;
}

/* line 822, ../sass/style.scss */
.sidebar .button {
  padding: 10px;
  margin: 0 10px 0 15px;
}

/* line 827, ../sass/style.scss */
.chapter-arrows {
  float: right;
  margin: 15px 0;
}

/* line 832, ../sass/style.scss */
.chapter-title {
  width: calc(100% - 60px);
  float: left;
}

/* line 837, ../sass/style.scss */
.chapter-arrow {
  width: 100%;
  float: right;
  display: block;
  line-height: 10px;
  height: 18px;
  overflow: hidden;
}

/* line 846, ../sass/style.scss */
.chapter-button {
  float: right;
  /* margin: 15px 0px; */
  color: #3d454b;
}

/* line 852, ../sass/style.scss */
.chapter-button up {
  foat: right;
}

/* Story create */
/* line 857, ../sass/style.scss */
.set-hubs {
  width: calc(100% - 120px);
  width: 200px;
  float: left;
  margin-bottom: 10px;
  /*for mobile*/
}

/* line 864, ../sass/style.scss */
textarea[rows] {
  margin-bottom: 0 !important;
  height: 400px !important;
}

@media screen and (max-width: 1300px) {
  /* line 870, ../sass/style.scss */
  .set-hubs {
    width: 100% !important;
    float: left;
    margin-bottom: 10px;
    /*for mobile*/
  }

  /* line 876, ../sass/style.scss */
  #id_hubs {
    width: 100% !important;
  }
}
/* line 881, ../sass/style.scss */
.select2-container--default .select2-selection--multiple {
  height: 50px;
}

/* line 885, ../sass/style.scss */
.set-hubs input {
  margin-top: -7px !important;
}

/* line 889, ../sass/style.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 10px;
}

/* line 893, ../sass/style.scss */
#id_hubs {
  list-style-type: none;
  width: 400px;
  padding: 0px;
}

/* Story Editor */
/* line 900, ../sass/style.scss */
.editor {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

/* border on mobile  */
/* line 908, ../sass/style.scss */
* {
  outline: none;
}

/* line 912, ../sass/style.scss */
.delete-chapter {
  padding: 10px !important;
  background: grey !important;
  float: left;
  margin: 30px 0;
}

/* line 918, ../sass/style.scss */
.confirm-delete {
  background: red !important;
}

/* line 922, ../sass/style.scss */
.view {
  background: gray !important;
}

/* line 926, ../sass/style.scss */
.edit-buttons {
  float: right;
}

/* Footer */
/* line 932, ../sass/style.scss */
footer {
  height: 40px;
}

/* line 936, ../sass/style.scss */
footer, footer li, footer p {
  background-color: #333a42;
  color: #babfc2;
}

/* line 941, ../sass/style.scss */
footer a {
  color: #babfc2;
}

/* line 945, ../sass/style.scss */
footer h4 {
  color: #babfc2;
  text-transform: uppercase;
  font-size: medium;
  font-weight: normal;
}

/* line 956, ../sass/style.scss */
.white-bg {
  background: white !important;
}

/* line 960, ../sass/style.scss */
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment) {
  background: none !important;
}

/* votes in footer */
/* line 966, ../sass/style.scss */
.vote-column {
  display: none;
}

/* line 970, ../sass/style.scss */
.arrow,
.arrow:active,
.arrow:visited {
  width: 20px;
  transform: scale(1.4, 1);
  float: left;
}

/* line 978, ../sass/style.scss */
.score {
  float: left;
  width: auto;
}

/* line 983, ../sass/style.scss */
article header {
  width: 100% !important;
}

/* line 987, ../sass/style.scss */
.fi-comment {
  text-align: center;
  float: left;
  font-size: 20px;
  margin-top: 0px;
  margin-right: 2px;
}

/* Home Page */
/* line 997, ../sass/style.scss */
.header-background {
  background: #253153 url("/static/img/space2_medium.jpg") no-repeat center;
  background-size: cover;
}

/* line 1002, ../sass/style.scss */
.header-background-overlay {
  background: rgba(0, 0, 0, 0.175);
  padding: 80px;
}

/* line 1008, ../sass/style.scss */
.homepage-header {
  text-align: center;
}
/* line 1010, ../sass/style.scss */
.homepage-header .button {
  border-radius: 0;
  margin: 40px 10px;
  margin-bottom: 0;
}

/* line 1016, ../sass/style.scss */
.homepage h1, .homepage h2 {
  text-align: center;
  color: white;
}

/* line 1020, ../sass/style.scss */
.homepage h2 {
  font-weight: normal;
}
/* line 1022, ../sass/style.scss */
.homepage h2 a {
  color: white;
  text-decoration: underline;
}

/* line 1027, ../sass/style.scss */
.big-logo {
  text-align: center;
}

/* line 1030, ../sass/style.scss */
.big-logo img {
  width: 200px;
}

/* line 1038, ../sass/style.scss */
.homepage .stories {
  background: #f6f3ea;
}

/* line 1044, ../sass/style.scss */
.homepage .subnav-background {
  background: #f6630a;
  padding: 10px 0;
}
/* line 1049, ../sass/style.scss */
.homepage .subnav {
  background: none;
}
/* line 1051, ../sass/style.scss */
.homepage .subnav ul {
  margin-top: 20px;
  list-style-type: none;
}
/* line 1054, ../sass/style.scss */
.homepage .subnav ul li {
  float: left;
}
/* line 1056, ../sass/style.scss */
.homepage .subnav ul li a {
  color: #FFC99E;
  text-transform: none;
}
/* line 1059, ../sass/style.scss */
.homepage .subnav ul li a i {
  color: #FFC99E;
  font-size: 22px;
}
/* line 1068, ../sass/style.scss */
.homepage .stories {
  padding: 20px;
}
/* line 1071, ../sass/style.scss */
.homepage .story {
  float: left;
  padding: 10px;
}
/* line 1074, ../sass/style.scss */
.homepage .story .thumbnail {
  height: 172px;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}
/* line 1081, ../sass/style.scss */
.homepage .story h3 {
  text-align: left;
  color: #373737;
  font-size: 24px;
  font-weight: bold;
}
/* line 1087, ../sass/style.scss */
.homepage .story p {
  font-size: 18px;
}

/* Profile Card */
/* line 1096, ../sass/style.scss */
.profile-card {
  background: rgba(255, 255, 255, 0.5);
}
/* line 1098, ../sass/style.scss */
.profile-card .user-background {
  background: url(/static/img/bg.jpg);
  height: 120px;
  background-position-y: -320px;
  margin-bottom: 10px;
}
/* line 1104, ../sass/style.scss */
.profile-card .avatar {
  float: left;
  width: 80px;
  border-radius: 4px;
  margin: 10px;
  border: 2px solid white;
  margin-top: -30px;
}
/* line 1113, ../sass/style.scss */
.profile-card .username {
  font-weight: bold;
  color: #3d454b;
  font-size: 18px;
}
/* line 1119, ../sass/style.scss */
.profile-card .about {
  padding: 10px;
}
/* line 1123, ../sass/style.scss */
.profile-card .button {
  width: calc(100% - 20px);
  margin: 10px;
}
/* line 1126, ../sass/style.scss */
.profile-card .button i {
  color: white;
}
