{% load numberofstories %}
{% load sortbypostcount %}

<div class="hubs">
  <div class="top-lvl-hub">
    {% for hub in hubs|sortbypostcount:request %}
    <div  class="hub-tag top-lvl container">
      <a href="/hub/{{hub.slug}}/" class="hub-filter" id="{{hub.slug}}">
	# {{hub}}
      </a>
    </div>
    {% endfor %}
  </div> <!-- close  columns -->
</div>  <!-- Close row -->

<style>

.hub-tag {
margin-left: 0;
}
<!-- lighter background
  rgba(0, 0, 0, 0.02)-->

.second-lvl .hub-tag {
display:block;
float:left;
}

.hubs .hub-tag {
  line-height: 40px;
padding: 5px;
margin: 4px;
}

.hubs .hub-tag a {
color: #3d454b;
}

.top-lvl {
}

.third-lvl {
float: left;
}

.number-of-stories {
background: rgba(255, 255, 255, 0.6);
background: rgba(119, 119, 119, 0.2);
  padding: 0 4px;
  border-radius: 4px;
}

.expand {
cursor: pointer;
}

.hub-filter {
  margin-top: -4px!important;
margin-left: -4px!important;
  margin-left: 4px!important;
  height: 48px!important;
  border-radius: 0!important;
}
</style>

<script>
  $(document).ready(function() {
  //$(".hubs").find(".top-lvl").children(".children").toggle()

      $(".hubs").find(".expand").click(function(event){
  	  if (this == event.target) {
	      if ($(this).hasClass("expanded")) {
  		  $(this).addClass("fi-plus");
  		  $(this).removeClass("fi-minus");
	      } else {
  		  $(this).addClass("fi-minus");
  		  $(this).removeClass("fi-plus");
	      }
  	      $(this).toggleClass('expanded');	      
  	      $(this).parent().children(".children").toggle('fast');
  	  }
      });
// $(".hubs").find(".expand").parent().children(".children").hide();
  $(".second-lvl").find(".expand").parent().children(".children").hide();

  });
</script>
