
<style>
  .fi-comment {
  float:none;
  }
  .panel {
  padding: 5px;
  margin-top:5px;
  }

  .CodeMirror {
  background: white!important;
  border-radius: 0!important;
  }


  .comment-reply {
    margin-top:20px;
  }
  .editor-toolbar {
  background: white!important;
  border-radius: 0px!important;
  }

  .editor-statusbar {
      border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background: #f2f2f2;
  color: #333333;
  padding: 5px;
  margin-top:-1px;
  }

  .logo img {
  display:none;
  }
</style>

<style>
  .prompts {
  display:none;
  }

.prompttitle {height:112px!important;}

</style>



<div class="display-prompt">
  <div class="prompt" id="0"></div>
</div>


<div class="prompts">
  {% for prompt in prompts %}
  <div class="prompt" id="{{ forloop.counter }}">
    <article  style="padding:10px;    background: rgba(255,255,255,0.5);//#fff;
		     box-shadow: 0 1px 4px rgba(0,0,0,.04);
		     border: 1px solid rgba(0,0,0,.09);
		     border-radius: 3px;">

      <div class="prompttitle">
	<a href="{{prompt.permalink}}" class="prompttitle bold black promptlink">{{prompt.title}}</a>
      </div>

      <br/>

      <div class="panel" style="padding:8px;margin-top: 4px; margin-bottom: 0;
				margin-bottom: -11px;
				margin-left: -11px;
				width: calc(100% + 22px);">

	<i class="fa fa-hashtag"></i>  {{prompt.position}}	 &nbsp;
	<i class="fi-arrow-up"></i> {{prompt.score}} <!-- points -->	 &nbsp;
	<i class="fi-comment"></i> {{prompt.num_comments}} <!-- replies --> &nbsp;
	<i class="fi-clock"></i> {{prompt.age}} <!-- hours --> &nbsp;

	<div class="right">
	  <a class='next-prompt' style="margin-right: 5px;"><i class="fa fa-refresh"></i></a>
	</div>
	<div class="clearfix">
		    
      </div>
    </article>
  </div>
  {% endfor %}	
</div>


<script>
  $(document).ready(function() {
  prompt = $('.display-prompt').find('.prompt')
  promptid = prompt.attr('id')

  nextprompt = $('.prompts').find('#'+(parseInt(promptid)+1))

  prompt.replaceWith(nextprompt);  
  $("#reddit_url").val($('.display-prompt').find('.promptlink').attr('href'));


  $(".next-prompt").click(function() {
  prompt = $('.display-prompt').find('.prompt')
  promptid = prompt.attr('id')

  nextprompt = $('.prompts').find('#'+(parseInt(promptid)+1))

  prompt.replaceWith(nextprompt);
  $("#reddit_url").val($('.display-prompt').find('.promptlink').attr('href'));
  });
  
  });
</script>
