{% load staticfiles %}
  <!-- Stats -->
  <br/>

  <div class="row">
      <div class="large-8 columns">
	<div id="calendar">
	</div>
      </div>
      <div class="large-4 columns"> <!-- show-for-large-up -->
	<b> Total Words : {{wordcount}} </b><br/> <!-- Stories? --> <!-- Days: {{ days|length }}  -->
	<b> Longest Streak: {{longeststreak}}</b><br/>	
	<b> Current Streak:  {{currentstreak}}</b><br/>
	{{test}}
      </div>
  </div>


  <div class="clearfix"></div>

<script src="{% static "/static/js/js-chart-widgets.min.js" %}" type="text/javascript"></script>

<script>
new Calendar({
  append_to: 'calendar',
  num_weeks: 52,
  day_size: 11,
  data: [
	{% for date, wordcount in days.items %}
	['{{date}}', {{wordcount}}],
	{% endfor %}
  ],
  color: '#005500'
});  
</script>


<style>
  .Calendar div {
  margin:auto;
  }

.Calendar div {
  float: left;
}
  
 
</style>

  
