{% load staticfiles %}
  <!-- Stats -->
  <br/>

  <div class="row">
      <div class="large-8 columns">
	<div id="calendar">
	</div>
      </div>
      <div class="large-4 columns">
	<b> Total Days: 94</b><br/> <!-- Stories? -->
	<b> Longest Streak: 24</b><br/>	
	<b> Current Streak: 18</b><br/>	
      </div>
  </div>


  <div class="clearfix"></div><br/>

<script src="{% static "/static/js/js-chart-widgets.min.js" %}" type="text/javascript"></script>

<script>
new Calendar({
  append_to: 'calendar',
  num_weeks: 51,
  day_size: 11,
  data: [
    ['2012-03-01', 123],
    ['2012-03-02', 456.7],
    // gaps are fine
    ['2016-05-01', 234]
  ],
  color: '#005500'
});  
</script>


<style>
  .Calendar div {
  margin:auto;
  }
</style>

  
