  <!-- Stats -->
  <br/>

  <div class="row">
      <div class="large-8 columns">
	<div id="calendar">
	</div>
      </div>
      <div class="large-4 columns">
	<b> Total Days: 94</b><br/>	
	<b> Longest Streak: 24</b><br/>	
	<b> Current Streak: 18</b><br/>	
      </div>
  </div>
  <div class="clearfix"></div><br/>
  <div class="row">
    <div class="large-12 columns">
      <b> Today: 341 words</b><br/>	
      <div class="progress" style="margin: 0px;border: 1px solid #7C868E;">
	<div class="goal" style="width:50%; height:24px;border: 1px solid #7C868E;">
	  <span class="meter" style="width:0; max-width:200%;"></span>
	</div>
      </div>
    </div>
  </div>
  <!-- End Stats -->
