{% load staticfiles %}
{% load markdownify %}


<!-- lumiverse style -->
{% if userprofile.username == "alex_aka_jj" or  userprofile.username == "lumenwrites" or userprofile.username == "rayalez" %}	
<style>
  .subnav {
  display: none;
  }
 .subheader .stats {
    display: none;
  }
  .subheader h1 {
  margin-top: 20px!important;
  }
  .subheader {
  padding: 40px 10px!important;
  padding: 40px 0px 20px 0 !important;
  }
  .article-footer {
  display:none;
  }
  article {
  padding-bottom: 0!important;
  }
  .tagline a {
  color: white;
  text-decoration: underline;
  }
  #mainMenu .subscribe-button {
  display:none;
  }
  .subheader .rss-icon {
  display:none;
  }
  
</style>
{% endif %}


<style>

  .subheader .rss-icon {
  font-size:48px;
  padding: 3px 10px!important;
  padding: 3px 10px 3px 11px !important;    
  }



  .user-info {
  float:left;

  .avatar {
  float:left;
  width:70px;
  border-radius: 4px;
  margin:10px;
  margin-left:0;
  }

  .username {
  font-weight: bold;
  color: white;
  margin: 2px 0 0 0px;
  text-shadow: 1px 1px 2px black;	
  }

  .stats {
  float:left;
  color: lighten($bright,20%);
  }

  i {
  margin: 0 4px;
  color: lighten($bright,20%);
  }
  
  }

  .user-info {
  padding:0;
  height: 94px;
  }

  .stats {
  color:white;
  }

  .subheader .buttons {
  margin-top: 20px;
  float:right;
  }
  .subheader .buttons .button {
  padding:20px;
  }


  /* Purchase */
  .purchase {
  box-shadow: inset 0px 0px 0px 1px green;
  span {
  color: green;
  }
  }

  /* Tagline */
  .tagline {
  width: 100%;
  padding: 20px;
  color: #fefefe;
  background-color: rgba(10, 10, 10, 0.5);

  }


  /* Browse */
  /* Featured */

  #rayalez-img {
  margin-top:-40px;
  }
  @media screen and (orientation:portrait) {
  #rayalez-img {
  margin-top:0;
  }
  }

</style>


<style>
  .subheader {
  margin:0;
  }
  .subheader h1 {
  color:#172630;
  font-weight:bold;
  color:white;
  margin: 2px 0 0 0px;
  text-shadow: 1px 1px 2px black;
  /*margin: -12px 0 -12px 10px;*/
  }
  .avatar {
  width:64px;
  border-radius: 4px;
  float:left;
  margin-top: -8px;
  margin-bottom: -2px;
  /*width: 90px;*/
  /*width: 124px;*/
  width: 80px;
  border-radius: 4px;
  float: left;
  margin-top: -8px;
  margin-bottom: -2px;
  /* width: 90px; */
  /* width: 124px; */
  margin: 6px;

  }
  .subscribers {
  background: rgba(255, 255, 255, 0.86);
  padding: 0px 8px;
  float: right;
  margin-top: -2px;
  margin-bottom: -4px;
  }
  .subscribers-button {
  margin-right:0px;
  background: rgba(47, 51, 51, 0.9)!important;
  padding: 17px 14px!important;
  /* position: absolute!important; */
  /* right: 15px!important; */
  /* top: 20px!important; */
  border-radius:0;
  margin-top: -27px;
  margin-left:10px;
  }
  
  .subheader-link {
  font-size: 20px;
  margin-right:10px;
  color: rgba(255, 255, 255, 0.64);
  color: white;
  }
  .subtitle {
  float:left;font-size:20px;
  color: rgba(255, 255, 255, 0.64);
  color:white;
  }
  .stats-icon {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.80);
  /*color:white;*/
  }
  
</style>



<!-- Subheader -->
<div style="background:url(/static/img/bg.jpg);
	    background-position-y: -320px;
	    display:none;
	    {% if solohub or userprofile %}
	    display:block;
	    {% endif %}	    
	    " class="subheader-bg">
  <div class="row">
    <div class="large-12 small-12 columns subheader"
	 style="padding-top:20px;padding-bottom: 14px;">


      {% if solohub %}
      <h1 style="color:#172630;font-weight:bold;color:white;margin-left:0px;margin-top: 2px;
		 text-shadow: 1px 1px 2px black;" class="left"> {{hubtitle}} </h1>
      <br/>
      <br/>

      {% elif userprofile %}

      <div class="large-6 small-6 columns user-info">
	<!-- Avatar -->
	{% if userprofile.username == "rayalez" %}
	<img src="{% static "/static/img/signature.png" %}"
	     class="avatar"/>
	{% elif userprofile.username == "lumenwrites" or userprofile.username == "alex_aka_jj" %}	
	<!-- <img src="{% static "/static/img/data-brain.jpg" %}" -->
	<!--      class="avatar"/> -->
	<style>
	  .subheader-bg {
	  background:url(/static/img/blue_bg_crop.png)!important;
	  background:white!important;	  
	  }
	  .main-header {
	  display:none;
	  }
	  .subheader h1 {
	  font-family: "Titillium Web";
	  font-size: 36px;
	  font-weight: 100!important;
	  text-shadow: none;
	  color:#3d454b;
	  }
	  .subheader {
	  padding: 20px 0px 20px 20px!important;
	  }
	  .tagline {
	  background-color:rgba(10, 10, 10, 0.75);
	  }
	</style>

	{% elif userprofile.username == "alex_aka_jj" %}	
	<img src="{% static "/static/img/alexey_berezin_avatar.jpg" %}"
	     class="avatar"/>
	<style>
	  .subheader-bg {
	  background: url(https://cdn-images-1.medium.com/max/2000/1*ov4IxUOXMBJCfVTT4UpFtA.png)!important;
	  background-position-y: 0px;
	  background-size: cover!important;
	  display: none;

	  }
	</style>
	{% endif %}



	<div class="left">
	  <a href="/user/{{userprofile.username}}">
	    {% if userprofile.username == "alex_aka_jj" %}
	    <!-- <h1 class="username"> Alexey Berezin </h1> -->
	    <h1 class="username"> alex_aka_jj </h1>	    
	    {% else %}	    
	    <h1 class="username"> {{userprofile.username}} </h1>
	    {% endif %}	    	    
	  </a>
	  
	  <div class="stats">    
	    <i class="fi-torsos-all stats-icon"></i>
	    {{userprofile.subscribers.count}}

	    <i class="fi-arrow-up stats-icon"></i>
	    {{score}}
	    <i class="fi-eye stats-icon"></i>
	    {{view_count}}
	  </div>
	</div>
      </div> <!-- Close 4 columns user info -->



      <br/>
      <div class="large-6 small-6 columns">
	<div class="buttons">


	  <!-- Subscribe button -->
      {% if not user == userprofile %}
          {% if user.is_authenticated %}

	  <!-- RSS icon -->

	  <span class="button small right subscribers-button rss-icon"
		style="padding: 6px 12px!important;">
	    <a href="/user/{{userprofile.username}}/feed/atom/">
	      <i class="fi-rss large"></i></a>
	  </span>


              {% if user not in userprofile.subscribers.all %}	
                   <a class="button small right subscribers-button"
		      href="/user/{{userprofile.username}}/subscribe">
		     Subscribe</a>
	      {% else %}
                   <a class="button small right subscribers-button"
		      href="/user/{{userprofile.username}}/unsubscribe">
		     Subscribed</a>
	      {% endif %}	
	  {% else %}	   
              <a class="button small right subscribers-button" data-open="usersub-popup" data-reveal-id="usersub-popup">
		Subscribe</a>
              <!-- <a class="button" -->
	      <!-- 	 href="/login/?next={{request.path}}"> -->
	      <!-- 	Subscribe</a> -->	      
	  {% endif %}	 
      {% else %}  
              <a class="button small right subscribers-button disabled">
		Subscribe</a>
      {% endif %}  
	  
	  
	  <!-- Other buttons -->
	  {% if userprofile.website %}
	  <a class="button small right subscribers-button"
	     href="{{userprofile.website}}">
	    Website
	  </a>
	  {% endif %}

	  {% if userprofile.username == "rayalez" %}
               <a class="button small right subscribers-button"
		  href="http://orangemind.io/">
		 Essays
	       </a>
	  {% endif %}

	  {% if user.username == "lumenwrites" and userprofile.username == "lumenwrites" %}	
                   <a class="button small right subscribers-button"
		      href="/story/add">
		     Write</a>
	  {% endif %}	

	  {% if user.username == "alex_aka_jj" and userprofile.username == "alex_aka_jj" %}	
                   <a class="button small right subscribers-button"
		      href="/story/add">
		     Write</a>
	  {% endif %}	
		   
	</div> <!-- Close buttons -->

      </div> <!-- Close 8 columns -->



	  {% endif %} <!-- endif solohub -->

    </div> <!-- Close 12 columns -->
  </div> <!-- Close row -->


{% if userprofile %}  
  <!-- Stats -->
  {% if request.META.HTTP_HOST == "writingstreak.io"  %}	
  <div class="tagline">
    <div class="row">
      <div class="large-12 small-12 columns" style="color:#fefefe;">
	{% include "elements/stats.html" %}
	<br/>
	<style>
	  .tagline {
	  padding:0;
	  }
	  .tagline b {
	  color:#fefefe;
	  }
	</style>
      </div>
    </div>
  </div>
  {% else %}
  <!-- Tagline -->
      {% if userprofile.about %}
      <div class="tagline">
        <div class="row">
          <div class="large-12 small-12 columns" style="color:#fefefe;
							padding: 0 20px;">
    	    {{userprofile.about | safe }}
          </div>
        </div>
      </div>
      {% endif %} <!-- endif about -->
   {% endif %}	  <!-- endif fictionhub or writingstreak -->
{% endif %}	  <!-- endif userprofile -->

</div> <!-- Close top subheader div  -->


