
    <div class="timer" style="float:right;margin:20px;
			      position: absolute;
			      right: 20px;right: 0px;
			      top: 8px;
			      z-index: 200;
			      cursor: pointer;">
      <div class="progressbar" style="position:relative;">
	<div class="progress" style="margin: 0px;border: 1px solid #7C868E;padding: 0;">
	  <span class="meter" id="time" style="width:100%; max-width:100%;">20:00</span>
	</div>
      </div>
    </div>

    <script>
      function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.text(minutes + ":" + seconds);

	//display.text(timer);
	$("#time").css("width",(timer/duration)*100+"%");

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}

//jQuery(function ($) {
//    display = $('#time');
//    startTimer( 60 * 20, display);
//		      });

      $("#time").click(function(){
		      display = $('#time');
		      startTimer( 60 * 20, display);
      });
		      
    </script>
