<div class="toolbox" style="display:none;">
<ul class="tabs" data-tab>
  <li class="tab-title"><a href="#panel2">Prompt</a></li>
  <li class="tab-title active"><a href="#panel1">Goals/Structure</a></li>
  <li class="tab-title"><a href="#panel3">Comedy</a></li>
  <li class="tab-title"><a href="#other">//Quality/Substance</a></li>  
</ul>
<div class="tabs-content">
  <!-- Goals -->
  <div class="content active" id="panel1">
    <article>
      Write a paragraph on:
      <h4>Setting.</h4>
      <p>Environment. Describe location/Situation.(of a situation).
	Where is it?  character in a situation</p>

      <h4>Problem.</h4>
      <p>Problem. What can go wrong? //Goal. 
	Engage.</p>

      <h4>Escalate.</h4>
      <p>How can things escalate? 
	Describe things getting worse. Other challenges he faces. out of control.
	raise stakes.
	Lose.(goes here, how does it lead to loss)</p>
      <h4>Resolve.</h4>
      <p>  How does it end? How does he win?(does the character win? How? Why?)</p>
    </article>
  </div>
  <!-- Prompt -->
  <div class="content" id="panel2">    
    <article style="margin:0;padding:0;">

<ul class="tabs vertical" data-tab style=" margin-bottom: 0!important;">
  <li class="tab-title"><a href="#panel21">Location</a></li>
  <li class="tab-title"><a href="#panel31">Character</a></li>
  <li class="tab-title"><a href="#panel41">Problem/Goal</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel21">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel31">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel41">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>

<style>

  .vertical .tab-title {
  margin:0!important; margin-right: 20px!important;
  }

  .tabs-content {
  margin-bottom: 0!important;
}
</style>
      <!-- <h4>Locations.(spaceship, etc).</h4> -->
      <!-- <h4>Characters(profession/character)</h4> -->
      <!-- <h4>Scifi HCs, tech/magic/superpowers</h4> -->
      <!-- <h4>Problems/Goals.</h4> -->
    </article>
  </div>
  <!-- Third -->
  <div class="content" id="panel3">
    <p>Search, list of 5:</p>
      <h4>Recognizer.</h4>
      <p>[slightly modify] [property] > abstract recognizer > [beam search other stuff that fits under it] > [cut and paste elements]  //translate?</p>
      <h4>Association.</h4>
      <p>Extract element, drop context > find association. > setup 1, punch reinterpret 2</p>
      <h4>Jump-move. Flip/Exaggerate.</h4>
      <p>Flip element, Jump > Move(find lane that fits elements and jumps, expplain why?) </p>

  </div>
  <div class="content" id="other">
      <h4>Scifi HC</h4>
      <p> What if? </p>
      <h4>CI(lesson/metaphor/why?)</h4>
      <h4>Feels</h4>
      <h4>Plots</h4>
      <h4>Munchkin/exploit</h4>                  
  </div>
</div>

</div> <!-- end .toolbox -->

<style>
  .tab-title a {
  padding:10px!important;
  }

  .content {
  padding:0!important;
  }

  .content article {
padding:10px;    background: rgba(255,255,255,0.5);//#fff;
		       box-shadow: 0 1px 4px rgba(0,0,0,.04);
		       border: 1px solid rgba(0,0,0,.09);
		       border-radius: 3px;margin:0;  
  }
</style>
