<style>
  
	    .maintab {
	    width: 33.33%!important;
	    width: 50%!important;	    
	    }	    

  .tab-title {
  width: 170px;
  }
  
	    .checkbox {
	    float:left;
	    margin: 13px!important;
	    }
	    .checkbox:after{
	    position: relative;
	    display: block;
	    width: 20px;
	    height: 20px;
	    border: 1px solid #808080;
	    content: "";
	    background: #FFF;
	    float:left;
	    }
	    .checkbox:checked:after {
	    background: #3D454B;
	    }
	    //font-size:20px;line-height:20px;
	    //padding:0 1px;

	    //content: "\2714";

	  </style>


<style>
  .tab-title a {
  padding:10px!important;
  }

  .content {
  padding:0!important;
  }

  .content article {
padding:10px;    background: rgba(255,255,255,0.5);//#fff;
		       box-shadow: 0 1px 4px rgba(0,0,0,.04);
		       border: 1px solid rgba(0,0,0,.09);
		       border-radius: 3px;margin:0;  
  }
</style>

      <style>

	.vertical .tab-title {
	margin:0!important;
	margin-right: 0px!important;
	}

	.tabs-content {
	margin-bottom: 0!important;
	}
      </style>


<div class="toolbox" style="//display:none;">
<ul class="tabs" data-tab>
  <li class="tab-title active maintab"><a href="#panel2">Prompt</a></li>
  <li class="tab-title maintab"><a href="#panel1">Goals/Structure</a></li>
  {% if user.username == "rayalez" %}
  <li class="tab-title maintab"><a href="#panel3">Comedy</a></li>
  <style> .maintab {width: 33.33%!important;} </style>
  {% endif %}  
  <!-- <li class="tab-title"><a href="#other">//Quality/Substance</a></li>   -->
</ul>
<!-- <br/> -->
<div class="tabs-content">
  <!-- Goals -->
  <div class="content goals" id="panel1">
    <article  style="margin:0;padding:0;">

      <ul class="tabs vertical" data-tab style=" margin-bottom: 0!important;">
	
	  <!-- 	<li class="tab-title active">
	  <input type="checkbox" class="checkbox"></input>
	  <a href="#hc">Concept</a></li>
	 -->
	<li class="tab-title active">
	  <input type="checkbox" class="checkbox" id="setting"></input>
	  <a href="#setting">Setting</a></li>
	<li class="tab-title">
	  <input type="checkbox" class="checkbox" id="problem"></input>
	  <a href="#problem">Problem</a></li> <!-- Engage -->
	<li class="tab-title">
	  <input type="checkbox" class="checkbox" id="escalate"></input>
	  <a href="#escalate">Escalate</a></li>
	<li class="tab-title">
	  <input type="checkbox" class="checkbox" id="resolve"></input>
	  <a href="#resolve">Resolve</a></li>	
      </ul>
      <div class="tabs-content">
	<div class="content" id="hc" style="padding:20px!important;">
	  <p>What is the story about? Describe it's premise, the "What if?". </p>
	</div>
	<div class="content active" id="setting" style="padding:20px!important;">
	  <p> Write a paragraph about the world where the story takes place.</p>
	  <p>Describe a character in a situation.</p>
	</div>
	<div class="content" id="problem" style="padding:20px!important;">
	  <p>Describe the event that disrupts the normal course of events and begins the story.
	    What can go wrong? What problem is character facing? What goal does he have? Who is the antagonist?</p>
	  <!--  (he is probably the source of the problem) -->
	</div>
	<div class="content" id="escalate" style="padding:20px!important;">
	  <p> How can things escalate?
	    How does the character pursue his goal, what obstacles/challenes does he need to overcome?
	    How can things spiral out of control, raising the stakes, requiring bigger and bigger risks, leading to the showdown between the hero and antagonist?</p>
	</div>
	<div class="content" id="resolve" style="padding:20px!important;">
	  <p> How does it end? Does the character win? How? Why?</p>
	  <p>How do things go back to normal?</p>
	</div>

      </div>

      
    </article>
  </div>
  <!-- Prompt -->
  <div class="content active" id="panel2">    
    <article style="margin:0;padding:0;">
      {# {% include "elements/prompts.html" %} #}

      
      <ul class="tabs vertical" data-tab style=" margin-bottom: 0!important;
						width:170px;">
	<li class="tab-title active"><a href="#conceptprompt"><!-- Sci-Fi  -->Premise</a></li>	
	<li class="tab-title"><a href="#settingprompt">Setting</a></li>
	<li class="tab-title"><a href="#characterprompt">Character</a></li>
	<li class="tab-title"><a href="#problemprompt">Challenge</a></li>
      </ul>
      <div class="tabs-content" style="margin-right: 0!important;">
	<div class="content active" id="conceptprompt" style="padding:0px!important;">
	  <div style="width:calc(100% - 170px);float:right;">
	    {# {% include "elements/prompts.html" %} #}
	    {% if request.user.username == "rayalez" %}
	    {% include "elements/prompts.html" %}	    
	    {% else %}
	    {% include "elements/prompt.html" %}
	    {% endif %}	    
	  </div>
	  <style>
	  </style>
	</div>
	<div class="content" id="settingprompt">
	  <div style="width:calc(100% - 170px); float:right;">
	    {% include "elements/prompt.html"  %}	    
	  </div>
	</div>
	<div class="content" id="characterprompt">
	  <div style="width:calc(100% - 170px); float:right;">
	    {% include "elements/prompt.html"  %}	    	    
	  </div>
	</div>
	<div class="content" id="problemprompt">
	  <div style="width:calc(100% - 170px); float:right;">
	    {% include "elements/prompt.html"  %}	    	    
	  </div>
	</div>
      </div>
      <!-- <h4>Scifi HCs, tech/magic/superpowers</h4> -->
      <!-- <h4>Locations.(spaceship, etc).</h4> -->
      <!-- <h4>Characters(profession/character)</h4> -->
      <!-- <h4>Problems/Goals.</h4> -->
    </article>
  </div>
  <!-- Comedy -->
  <div class="content" id="panel3">
    <article style="margin:0;padding:0;">
      <ul class="tabs vertical" data-tab style=" margin-bottom: 0!important;">
	<li class="tab-title"><a href="#element">Element <br/> Property</a></li>
	<li class="tab-title"><a href="#dots">Connecting <br/> Dots</a></li>
	<!-- <li class="tab-title"><a href="#move">Move/Associate</a></li> -->
	<li class="tab-title"><a href="#express">Cut Paste<!-- Express -->
	    <br/>Switch Reinterpret</a></li>	
      </ul>
      <div class="tabs-content">
	<div class="content active" id="element">
	  <p>Concrete. From story or one-step flounder.</p>

	  <p>Take a simple scene(character in a situation), and make a list of it's elements.<br/>
	    Describe the "physical" elements in the scene. (objects, people, environment). Describe the properties of these elements. What are some adjectives that describe it? What are your assumptions about the scene? Why did it happen, what was before it? What do you expect to happen next?</p>
	  <!-- <p>Extract Element/Property. Drop context.</p> -->
	<!-- <p style="margin-bottom:0;">Write the list of 5 elements.</p>	 -->
	<!--   <ul> -->
	<!--     <li>Phys</li> -->
	<!--     <li>Adj</li> -->
	<!--     <li>Because</li> -->
	<!--     <li>Will</li>	    	    	     -->
	<!--   </ul> -->
	  <!-- <p><b>{{element}}</b></p>	   -->
	</div>
	<div class="content" id="dots">

	  <p> Search: </p>
	  <ul>
	    <li>Element, drop context > different recognizer (old associate)</li>
	    <li>Recognizer > beam search (old translate)</li>
	    <li>jump>move flip element, connect. turn around the recognizer, to see it.</li>
	    <!-- <li>2 items - find one connection among many</li> -->
	    <li>HC(2SU?), premise you buy into just accept. Step in a weird direction.</li>	    	    
	  </ul>	  
	  

	  <!-- <ul> -->
	  <!--   <li>Find abstract recogniver. Find other recognizers it belongs to, no context.<br> (open to reinterpretation, like all are, wobble room sense). (detectives pattern))</li> -->
	  <!--   <li>Take recognizer, beam-search. Find other things it recognizes. Apply it to other kinds of elements. Take it further, look for the other elements. (You have gods, dean closing eyes).</li> -->
	  <!-- </ul>	   -->

	  <!-- <ul> -->
	  <!--   <li>Concrete.  Can slightly modify it(annie-shirley detectives).</li> -->
	  <!--   <li>Element, drop context. (//focus on what's different?).</li> -->
	  <!--   <li>Find abstract recogniver. Find other recognizers it belongs to, no context.<br> (open to reinterpretation, like all are, wobble room sense). (detectives pattern))</li> -->
	  <!--   <li>Take recognizer, beam-search. Find other things it recognizes. Apply it to other kinds of elements. Take it further, look for the other elements. (You have gods, dean closing eyes).</li> -->
	  <!--   <li>Cut-paste. Replace. Just put it into scene(no time), or setup-punch(reinterpret).<br>Do it several times for different elements, and you have a bunch of hc jokes(he's been on the edge since we switched)</li> -->
	  <!-- </ul>	   -->
	  
	  <!-- <ul> -->
	  <!--   <li>Element, drop context.</li> -->
	  <!--   <li>Find abstract recogniver. Find other recognizers it belongs to, no context.<br> (open to reinterpretation, like all are, wobble room sense).</li> -->
	  <!--   <li>Take recognizer, beam-search. Find other things it recognizes. Apply it to other kinds of elements.</li> -->
	  <!--   <li>Cut-paste. Replace. Just put it into scene(no time), or setup-punch(reinterpret).</li> -->
	  <!-- </ul> -->
	  
	  <!-- <ul> -->
	  <!--   <li>Element, drop context, find other recognizers it belongs to. (old associate)</li> -->
	  <!--   <li>Element, take it’s Recognizer, beam-search for other elements, replace. (dean-moon)</li> -->
	  <!--   <li>Take abstract pattern, apply to other kinds of elements.(translate, poop joke)</li> -->
	  <!--   <li>Flip/Exaggerate element, find recognizer (jump/move, if it’s a thing)</li> -->
	  <!-- </ul> -->
	  
	  <!-- <p>Look <\!-- Take -\-> at each of the elements separately, without the context of the scene, and then:</p> -->
	  <!-- <p><b>Reverse</b> the element. Ask what if the opposite were true? What if it's pollar opposite would be/happen in it's place? And how could that be possible?</p> -->
	  <!-- <p> <b>Exaggerate</b> blow the lement out of the proportion, replace it with it's most extreme version.</p> -->
	  <!-- <p> <b>Associate</b> List associations, the crazier - the better.  What other abstract patterns does it belong to?</p> -->
	  <!-- <p> <b>Translate</b> Take the abstract pattern/category, and apply it to something else. What other elements can it be appleid to? </p>	  	   -->
	  <!-- <p><b>Reinterpret</b> Take the assumption/expectation, ask what makes you make it(identify reason), and then reinterpret it.</p>	   -->
	  <!-- <p>Recognizer(one of abstract pattens, debono categories, reason for the assumption). </p> -->
	  <!-- <p> //Assumptions/Expectations? Identify reason for the assumption? </p>	   -->
	</div>
	<div class="content" id="move">
	  <p>Move(Find recognizer that fits? Why?).</p>
	  <p>Find association. Beam-search. Other things recognizable by recognizer.other interpretations(craziest).</p> 
	  <p> Translate. Apply pattern to something else.</p>

	  <!-- <p>[slightly modify] [property] > abstract recognizer > [beam search other stuff that fits under it] > [cut and paste elements]  //translate?</p> -->
	</div>
	<div class="content" id="express">
	  <p>Grab the element from the outside of other lane. Cut-paste. Replace. Just put it into scene(no time), or setup-punch(reinterpret). Do it several times for different elements, and you have a bunch of hc jokes(he's been on the edge since we switched)</p>

	  
	  <!-- <p>Express first lane with a setup(mislead). 2nd lane with a punch. Reinterpret. </p> -->
	  <!-- <p> Cut and paste. element against recognzer.</p>     -->
	</div>
      </div>
    </article>
  </div>
  <div class="content" id="other">
      <h4>Scifi HC</h4>
      <p> What if? </p>
      <h4>CI(lesson/metaphor/why?)</h4>
      <h4>Feels</h4>
      <h4>Plots</h4>
      <h4>Munchkin/exploit</h4>                  
  </div>
</div>

</div> <!-- end .toolbox -->



<script>
$(document).ready(function() {
    var concepts = {{concepts|safe}};
    var settings = {{settings|safe}};
    var characters = {{characters|safe}};
    var problems = {{problems|safe}};

    var conceptn = 0;
    var settingn = 0;
    var charactern = 0;
    var problemn = 0;        
    
    $( ".next-prompt" ).each(function(index) {
	parent = $(this).parent().parent().parent()
	type = parent.closest(".content").attr("id");

	switch(type) {
	case "conceptprompt":
	    prompts = concepts;
	    break;
	case "settingprompt":
	    prompts = settings;	    
	    break;
	case "characterprompt":
	    prompts = characters;	    
	    break;
	case "problemprompt":
	    prompts = problems;	    	    
console.log("problem" + problems);
	    break;
	}		

	nextprompt = prompts[0];
	parent.find(".prompt").text(nextprompt);
	
	$(this).on("click", function(){
	    parent = $(this).parent().parent().parent()
	    type = parent.closest(".content").attr("id");

	    switch(type) {
	    case "conceptprompt":
		prompts = concepts;
		break;
	    case "settingprompt":
		prompts = settings;	    
		break;
	    case "characterprompt":
		prompts = characters;	    
		break;
	    case "problemprompt":
		prompts = problems;	    	    
		break;
	    }		




	    switch(type) {
	    case "conceptprompt":
		if (conceptn < prompts.length-1) {
	    	    conceptn++;
		} else {
	    	    conceptn = 0;
		};
		nextprompt = prompts[conceptn];
		break;
	    case "settingprompt":
		if (settingn < prompts.length-1) {
	    	    settingn++;
		} else {
	    	    settingn = 0;
		};
		nextprompt = prompts[settingn];
		break;
	    case "characterprompt":
		if (charactern < prompts.length-1) {
	    	    charactern++;
		} else {
	    	    charactern = 0;
		};
		nextprompt = prompts[charactern];
		break;
	    case "problemprompt":
		if (problemn < prompts.length-1) {
	    	    problemn++;
		} else {
	    	    problemn = 0;
		};
		nextprompt = prompts[problemn];
		break;
	    }		
	    




	    // if (type == "settingprompt" && (settingn < prompts.length)) {
	    // 	nextprompt = prompts[settingn];
	    // 	settingn++;
	    // } else {
	    // 	settingn = 0;
	    // };

	    parent.find(".prompt").text(nextprompt);
	    
	    
	});
    });

});	       

</script>
