<style>
  
	    .maintab {
	    width: 33.33%!important;
	    width: 50%!important;	    
	    }	    

  .tab-title {
  width: 170px;
  }
  
	    .checkbox {
	    float:left;
	    margin: 13px!important;
	    }
	    .checkbox:after{
	    position: relative;
	    display: block;
	    width: 20px;
	    height: 20px;
	    border: 1px solid #808080;
	    content: "";
	    background: #FFF;
	    float:left;
	    }
	    .checkbox:checked:after {
	    background: #3D454B;
	    }
	    //font-size:20px;line-height:20px;
	    //padding:0 1px;

	    //content: "\2714";

	  </style>



<div class="toolbox" style="//display:none;">
<ul class="tabs" data-tab>
  <li class="tab-title active maintab"><a href="#panel2">Prompt</a></li>
  <li class="tab-title maintab"><a href="#panel1">Goals/Structure</a></li>
  <!-- <li class="tab-title maintab"><a href="#panel3">Comedy</a></li> -->
  <!-- <li class="tab-title"><a href="#other">//Quality/Substance</a></li>   -->
</ul>
<!-- <br/> -->
<div class="tabs-content">
  <!-- Goals -->
  <div class="content goals" id="panel1">
    <article  style="margin:0;padding:0;">

      <ul class="tabs vertical" data-tab style=" margin-bottom: 0!important;">
	
	  <!-- 	<li class="tab-title active">
	  <input type="checkbox" class="checkbox"></input>
	  <a href="#hc">Concept</a></li>
	 -->
	<li class="tab-title active">
	  <input type="checkbox" class="checkbox" id="setting"></input>
	  <a href="#setting">Setting</a></li>
	<li class="tab-title">
	  <input type="checkbox" class="checkbox" id="problem"></input>
	  <a href="#problem">Problem</a></li> <!-- Engage -->
	<li class="tab-title">
	  <input type="checkbox" class="checkbox" id="escalate"></input>
	  <a href="#escalate">Escalate</a></li>
	<li class="tab-title">
	  <input type="checkbox" class="checkbox" id="resolve"></input>
	  <a href="#resolve">Resolve</a></li>	
      </ul>
      <div class="tabs-content">
	<div class="content" id="hc" style="padding:20px!important;">
	  <p>What is the story about? Describe it's premise, the "What if?". </p>
	  <!-- <p><b>Prompt: {{prompt}}</b></p> -->		
	  {# {% include "elements/prompts.html" %} #}
	</div>
	<div class="content active" id="setting" style="padding:20px!important;">
	  <p> Write a paragraph about the world where the story takes place.</p>
	  <!--  Where is it? How does environment/location look like? -->
	  <p>Describe a character in a situation.</p>
	  <!-- <p><b>Prompt: {{setting}} | {{character}}</b> </p>     -->
	  {# {% include "elements/sprint.html" %} #}
	</div>
	<div class="content" id="problem" style="padding:20px!important;">
	  <p>Describe the event that disrupts the normal course of events and begins the story. What can go wrong? What problem is character facing? What goal does he have? Who is the antagonist?</p> <!--  (he is probably the source of the problem) -->
	  <!-- <p style="margin-bottom:0;"><b>Prompt: {{problem}} </b> </p>    	   -->
	</div>
	<div class="content" id="escalate" style="padding:20px!important;">
	  <p> How can things escalate?
	    <!-- Describe things getting worse.  -->
	    <!-- Other challenges does the character face?   -->
	    How does the character pursue his goal, what obstacles/challenes does he need to overcome?
	  <!-- </p> -->
	  <!-- <p style="margin-bottom:0;"> -->
	    How can things spiral out of control, raising the stakes, requiring bigger and bigger risks, leading to the showdown between the hero and antagonist?</p>
	  <!-- <p> Lose.</p> -->
	</div>
	<div class="content" id="resolve" style="padding:20px!important;">
	  <p> How does it end? Does the character win? How? Why?</p>

	  <p>How do things go back to normal?</p>
	  <!-- How does he win?(does the character win? How? Why?) -->
	  <!-- go back to normal. -->
	</div>

      </div>
	  {% include "elements/sprint.html" %}
      
    </article>
  </div>
  <!-- Prompt -->
  <div class="content active" id="panel2">    
    <article style="margin:0;padding:0;">
      {% include "elements/prompts.html" %}

      <!-- 
      <ul class="tabs vertical" data-tab style=" margin-bottom: 0!important;
						width:170px;">
	<li class="tab-title active"><a href="#hcprompt">Prompt</a></li>	
	<li class="tab-title"><a href="#panel21">Setting</a></li>
	<li class="tab-title"><a href="#panel31">Character</a></li>
	<li class="tab-title"><a href="#panel41">Challenge</a></li>
      </ul>
      <div class="tabs-content" style="margin-right: 0!important;">
	<div class="content active" id="hcprompt" style="padding:0px!important;">
	  <div style="width:calc(100% - 170px);float:right;">
	    {# {% include "elements/prompts.html" %} #}
	  </div>
	  <style>
	  </style>
	</div>
	<div class="content" id="panel21">
	  <div style="width:calc(100% - 170px); float:right; padding:20px;">
	       <p> {{setting}} </p>
	  </div>
	</div>
	<div class="content" id="panel31">
	  <div style="width:calc(100% - 170px); float:right; padding:20px;">	  
	    <p> {{character}} </p>
	  </div>
	</div>
	<div class="content" id="panel41">
	  <div style="width:calc(100% - 170px); float:right; padding:20px;">
	    <p> {{problem}} </p>
	  </div>
	</div>
      </div>
      -->
      <style>

	.vertical .tab-title {
	margin:0!important;
	margin-right: 0px!important;
	}

	.tabs-content {
	margin-bottom: 0!important;
	}
      </style>
      <!-- <h4>Locations.(spaceship, etc).</h4> -->
      <!-- <h4>Characters(profession/character)</h4> -->
      <!-- <h4>Scifi HCs, tech/magic/superpowers</h4> -->
      <!-- <h4>Problems/Goals.</h4> -->
    </article>
  </div>
  <!-- Comedy -->
  <div class="content" id="panel3">
    <article style="margin:0;padding:0;">
      <ul class="tabs vertical" data-tab style=" margin-bottom: 0!important;">
	<li class="tab-title"><a href="#element">Element</a></li>
	<li class="tab-title"><a href="#jump">Jump/Recognizer</a></li>
	<li class="tab-title"><a href="#move">Move/Associate</a></li>
	<li class="tab-title"><a href="#express">Express</a></li>	
      </ul>
      <div class="tabs-content">
	<div class="content active" id="element">
	  <!-- <p>Extract Element/Property. Drop context.</p> -->
	<p style="margin-bottom:0;">Write the list of 5 elements.</p>	
	  <ul>
	    <li>Phys</li>
	    <li>Adj</li>
	    <li>Because</li>
	    <li>Will</li>	    	    	    
	  </ul>
	  <!-- <p><b>{{element}}</b></p>	   -->
	</div>
	<div class="content" id="jump">
	  <p> Jump(Flip/Exaggerate)</p>

	  <p>Recognizer(one of abstract pattens, debono categories, reason for the assumption). </p>
	  <!-- <p> Recognizer.(More abstract?) Determine pattern? </p> -->
	  <!-- <p> //Assumptions/Expectations? Identify reason for the assumption? </p>	   -->
	</div>
	<div class="content" id="move">
	  <p>Move(Find recognizer that fits? Why?).</p>
	  <p>Find association. Beam-search. Other things recognizable by recognizer.other interpretations(craziest).</p> 
	  <p> Translate. Apply pattern to something else.</p>

	  <!-- <p>[slightly modify] [property] > abstract recognizer > [beam search other stuff that fits under it] > [cut and paste elements]  //translate?</p> -->
	</div>
	<div class="content" id="express">
	  <p>Express first lane with a setup(mislead). 2nd lane with a punch. Reinterpret. </p>
	  <p> Cut and paste. element against recognzer.</p>    
	</div>
      </div>
    </article>
  </div>
  <div class="content" id="other">
      <h4>Scifi HC</h4>
      <p> What if? </p>
      <h4>CI(lesson/metaphor/why?)</h4>
      <h4>Feels</h4>
      <h4>Plots</h4>
      <h4>Munchkin/exploit</h4>                  
  </div>
</div>

</div> <!-- end .toolbox -->


<style>
  .tab-title a {
  padding:10px!important;
  }

  .content {
  padding:0!important;
  }

  .content article {
padding:10px;    background: rgba(255,255,255,0.5);//#fff;
		       box-shadow: 0 1px 4px rgba(0,0,0,.04);
		       border: 1px solid rgba(0,0,0,.09);
		       border-radius: 3px;margin:0;  
  }
</style>
